<div :class="[componentClass, {
  'bbn-overlay': scrollable,
  'bbn-w-100': !scrollable
}, 'bbn-flex-width']">
  <div :class="['bbn-alt-background-internal', 'bbn-reactive', 'bbn-middle', 'bbn-unselectable', 'bbn-p', {
    'bbn-disabled': !hasPrev,
    'bbn-hidden': bbn.fn.isMobile()
  }]"
       style="width: 10%; min-width: 10%"
       @click="prev">
    <div class="bbn-block bbn-xxxxl">
      <i class="nf nf-fa-chevron_left"></i>
    </div>
  </div>
  <div class="bbn-flex-fill">
    <bbn-form :full-size="scrollable"
              bbn-bind="$options.propsData"
              :confirm-leave="confirmLeave"
              @reset="onReset"
              mode="big"
              ref="form">
      <div class="bbn-abs bbn-no"
           style="width: 1px; height: 1px; background-color: transparent"
           tabindex="0"
           @focus="leaveBefore"></div>
      <bbn-router :class="{
        'bbn-overlay': scrollable,
        'bbn-w-100': !scrollable
      }"
                  ref="router"
                  @hook:mounted="init"
                  :scrollable="scrollable"
                  :scroll-content="scrollContent"
                  :url-navigation="true"
                  :autoload="false"
                  :def="def"
                  :auto="false"
                  @change="onRoute">

        <slot></slot>
      </bbn-router>
      <div class="bbn-abs bbn-no"
           style="width: 1px; height: 1px; background-color: transparent"
           tabindex="0"
           @focus="leaveAfter"></div>
    </bbn-form>
  </div>
  <div :class="['bbn-alt-background-internal', 'bbn-reactive', 'bbn-middle', 'bbn-unselectable', 'bbn-p', {
    'bbn-disabled': !hasNext,
    'bbn-hidden': bbn.fn.isMobile()
  }]"
       style="width: 10%; min-width: 10%"
       @click="next">
    <div class="bbn-block  bbn-xxxxl">
      <i class="nf nf-fa-chevron_right"></i>
    </div>
  </div>
</div>
