<div :class="componentClass">
  <div class="bbn-hidden" ref="slot">
    <slot></slot>
  </div>
  <div :class="getComponentName() + '-content'"
    :style="'grid-template-columns: repeat(' + rowCount + ',' + 100/rowCount + '%);'">
    <div bbn-for="(li, idx) in filteredData"
         bbn-if="isAjax || !pageable || ((idx >= start) && (idx < start + currentLimit))"
         :key="li.key"
         :class="[getComponentName() + '-items']">
      <component bbn-if="currentComponent"
                 :is="currentComponent"
                 bbn-bind="componentOptions"
                 :source="li.data"
                 :index="li.index"
                 @remove="remove(idx)"
                 :key="li.key"/>
      <component bbn-else
                 :is="li.data && li.data.url && !li.data[children] ? 'a' : 'span'"
                 @click.prevent="() => {}"
                 class="bbn-block bbn-padded"
                 :title="li.data[sourceText]"
                 :href="li.data && li.data.url ? li.data.url : null"
                 :key="li.key">
        <span class="bbn-top-left"
              bbn-if="selection || (mode === 'options')">
          <i bbn-if="li.data.selected"
              class="nf nf-fa-check"/>
        </span>
        <img bbn-if="li.data.image"
            :src="li.data.image"
            class="bbn-bottom-space">
        <p class="bbn-large"
           bbn-html="li.data[sourceText]"/>
        <p bbn-if="li.data.price"
           :class="componentClass + '-price'"
           bbn-html="li.data.price"/>
        <p bbn-if="li.data.desc"
           :class="componentClass + '-desc'"
           bbn-html="li.data.desc"/>
      </component>
    </div>
  </div>
  <div class="bbn-w-100 bbn-c"
        bbn-if="pageable && (numPages > 1)">
    <div class="bbn-iblock">
      <bbn-pager :element="_self"
                 :extra-controls="false"
                 :numeric-selector="false"
                 :buttons="false"/>
    </div>
  </div>
</div>
