.bbn-masked{
  display: inline-flex;
  min-width: 2rem;
  input{
    text-align: inherit;
    //important for safari
    //margin: 0;
    width: 100%;
    font-size: inherit;
  }
  .bbn-masked-pref {
    height: 100%;
    line-height: normal;
    display: inline-flex;
  }
}