<div :class="[componentClass, 'bbn-sradius', {
       'bbn-notification-top': isTop,
       'bbn-notification-bottom': isBottom,
       'bbn-notification-left': isLeft,
       'bbn-notification-right': isRight,
       'bbn-xxspadded': !!items.length
     }]">
  <bbn-floater bbn-for="(it, idx) in items"
               :ref="'it' + it.id"
               :key="it.id"
               :focused="false"
               :container="container || $root.$el"
               :class="['bbn-abs', 'bbn-sradius', {
                  'bbn-notification-adding': it.adding && !it.closing,
                  'bbn-notification-closing': !!it.closing
               }]"
               :title="false"
               :scrollable="false"
               @resized="() => onFloaterResize(it)"
               @hook.destroy="_updatePositions">
    <div :class="{
        'bbn-notification-content': true,
        'bbn-block': true,
        'bbn-unselectable': true,
        'bbn-white': !!it.type,
        'bbn-light': true,
        'bbn-m': true,
        'bbn-lpadded': true,
        'bbn-bg-green': it.type === 'success',
        'bbn-bg-orange': it.type === 'warning',
        'bbn-bg-red': it.type === 'error',
        'bbn-b': it.type === 'error',
        'bbn-bg-blue': it.content && (it.type === 'info')
    }">
      <span class="bbn-notification-icon bbn-iblock bbn-lg"
            bbn-if="it.icon">
        <i :class="[it.icon, it.type ? 'bbn-white' : 'bbn-black']"/>
      </span>
      <span bbn-if="it.content"
            class="bbn-iblock"
            bbn-html="it.content"/>
      <span bbn-elseif="it.type === 'success'"
            class="bbn-iblock"
            bbn-html="successMessage"/>
      <span bbn-elseif="it.type === 'warning'"
            class="bbn-iblock"
            bbn-html="warningMessage"/>
      <span bbn-elseif="it.type === 'error'"
            class="bbn-iblock"
            bbn-html="errorMessage"/>
      <div bbn-if="it.num > 1"
           class="bbn-iblock bbn-top-left bbn-hsmargin bbn-vxsmargin">
        <span :class="['bbn-badge', 'bbn-small', {
                'bbn-bg-white': !!it.type,
                'bbn-bg-black': !it.type,
                'bbn-green': it.type === 'success',
                'bbn-orange': it.type === 'warning',
                'bbn-red': it.type === 'error',
                'bbn-blue': it.type === 'info'
              }]"
              bbn-text="it.num"/>
      </div>
      <div :class="{
          'bbn-notification-closer': true,
          'bbn-top-right': true,
          'bbn-xsmargin': true,
          'bbn-p': true,
          'bbn-white': !!it.type
      }"
          @click="close(it.id, true)">
          <i class="bbn-lg nf nf-fa-times"/>
      </div>
    </div>
  </bbn-floater>
</div>