<div :class="['bbn-lpadding', 'bbn-overlay', 'bbn-middle', componentClass]"
     :style="'background-color:' + bgColor">
  <div class="loader-animation bbn-block">
    <div class="bbn-block bbn-nl">
      <div class="bbn-loader-anim-plane"
           bbn-if="currentType === 'plane'"/>

      <div class="bbn-loader-anim-chase"
          bbn-elseif="currentType === 'chase'">
        <div class="bbn-loader-anim-chase-dot"/>
        <div class="bbn-loader-anim-chase-dot"/>
        <div class="bbn-loader-anim-chase-dot"/>
        <div class="bbn-loader-anim-chase-dot"/>
        <div class="bbn-loader-anim-chase-dot"/>
        <div class="bbn-loader-anim-chase-dot"/>
      </div>

      <div class="bbn-loader-anim-bounce"
          bbn-elseif="currentType === 'bounce'">
        <div class="bbn-loader-anim-bounce-dot"/>
        <div class="bbn-loader-anim-bounce-dot"/>
      </div>

      <div class="bbn-loader-anim-wave"
          bbn-elseif="currentType === 'wave'">
        <div class="bbn-loader-anim-wave-rect"/>
        <div class="bbn-loader-anim-wave-rect"/>
        <div class="bbn-loader-anim-wave-rect"/>
        <div class="bbn-loader-anim-wave-rect"/>
        <div class="bbn-loader-anim-wave-rect"/>
      </div>

      <div class="bbn-loader-anim-pulse"
          bbn-elseif="currentType === 'pulse'"/>

      <div class="bbn-loader-anim-flow"
          bbn-elseif="currentType === 'flow'">
        <div class="bbn-loader-anim-flow-dot"/>
        <div class="bbn-loader-anim-flow-dot"/>
        <div class="bbn-loader-anim-flow-dot"/>
      </div>

      <div class="bbn-loader-anim-swing"
          bbn-elseif="currentType === 'swing'">
        <div class="bbn-loader-anim-swing-dot"/>
        <div class="bbn-loader-anim-swing-dot"/>
      </div>

      <div class="bbn-loader-anim-circle"
          bbn-elseif="currentType === 'circle'">
        <div class="bbn-loader-anim-circle-dot"/>
        <div class="bbn-loader-anim-circle-dot"/>
        <div class="bbn-loader-anim-circle-dot"/>
        <div class="bbn-loader-anim-circle-dot"/>
        <div class="bbn-loader-anim-circle-dot"/>
        <div class="bbn-loader-anim-circle-dot"/>
        <div class="bbn-loader-anim-circle-dot"/>
        <div class="bbn-loader-anim-circle-dot"/>
        <div class="bbn-loader-anim-circle-dot"/>
        <div class="bbn-loader-anim-circle-dot"/>
        <div class="bbn-loader-anim-circle-dot"/>
        <div class="bbn-loader-anim-circle-dot"/>
      </div>

      <div class="bbn-loader-anim-circle-fade"
          bbn-elseif="currentType === 'circle_fade'">
        <div class="bbn-loader-anim-circle-fade-dot"/>
        <div class="bbn-loader-anim-circle-fade-dot"/>
        <div class="bbn-loader-anim-circle-fade-dot"/>
        <div class="bbn-loader-anim-circle-fade-dot"/>
        <div class="bbn-loader-anim-circle-fade-dot"/>
        <div class="bbn-loader-anim-circle-fade-dot"/>
        <div class="bbn-loader-anim-circle-fade-dot"/>
        <div class="bbn-loader-anim-circle-fade-dot"/>
        <div class="bbn-loader-anim-circle-fade-dot"/>
        <div class="bbn-loader-anim-circle-fade-dot"/>
        <div class="bbn-loader-anim-circle-fade-dot"/>
        <div class="bbn-loader-anim-circle-fade-dot"/>
      </div>

      <div class="bbn-loader-anim-grid"
          bbn-elseif="currentType === 'grid'">
        <div class="bbn-loader-anim-grid-cube"/>
        <div class="bbn-loader-anim-grid-cube"/>
        <div class="bbn-loader-anim-grid-cube"/>
        <div class="bbn-loader-anim-grid-cube"/>
        <div class="bbn-loader-anim-grid-cube"/>
        <div class="bbn-loader-anim-grid-cube"/>
        <div class="bbn-loader-anim-grid-cube"/>
        <div class="bbn-loader-anim-grid-cube"/>
        <div class="bbn-loader-anim-grid-cube"/>
      </div>

      <div class="bbn-loader-anim-fold"
          bbn-elseif="currentType === 'fold'">
        <div class="bbn-loader-anim-fold-cube"/>
        <div class="bbn-loader-anim-fold-cube"/>
        <div class="bbn-loader-anim-fold-cube"/>
        <div class="bbn-loader-anim-fold-cube"/>
      </div>

      <div class="bbn-loader-anim-wander"
          bbn-elseif="currentType === 'wander'">
        <div class="bbn-loader-anim-wander-cube"/>
        <div class="bbn-loader-anim-wander-cube"/>
        <div class="bbn-loader-anim-wander-cube"/>
        <div class="bbn-loader-anim-wander-cube"/>
      </div>

      <div class="bbn-loader-anim-cube-grid"
          bbn-else
          bbn-show="minHeight">
        <div class="bbn-loader-anim-cube bbn-loader-anim-cube1"/>
        <div class="bbn-loader-anim-cube bbn-loader-anim-cube2"/>
        <div class="bbn-loader-anim-cube bbn-loader-anim-cube3"/>
        <div class="bbn-loader-anim-cube bbn-loader-anim-cube4"/>
        <div class="bbn-loader-anim-cube bbn-loader-anim-cube5"/>
        <div class="bbn-loader-anim-cube bbn-loader-anim-cube6"/>
        <div class="bbn-loader-anim-cube bbn-loader-anim-cube7"/>
        <div class="bbn-loader-anim-cube bbn-loader-anim-cube8"/>
        <div class="bbn-loader-anim-cube bbn-loader-anim-cube9"/>
      </div>
    </div>
    <div bbn-if="label"
        :class="'bbn-xl bbn-c dots ' + fontClass">
      <br>
      <span bbn-html="label"/><span>.</span><span>.</span><span>.</span>
    </div>

  </div>
</div>
