<div :class="['bbn-iblock', componentClass]">
  <input class="bbn-hidden"
         ref="element"
         :value="value"
         :disabled="isDisabled"
         :required="required">
  <div :style="getStyle()">
    <div bbn-for="(d, idx) in source"
         :class="{
            'bbn-radio-item': true,
            'bbn-iblock': !vertical,
            'bbn-right-space': !vertical && !separator && source[idx+1],
            'bbn-bottom-sspace': !!vertical && !separator && source[idx+1]
         }">
      <input :value="d[sourceValue]"
             :name="name"
             class="bbn-radio"
             type="radio"
             :disabled="isDisabled || d.disabled"
             :required="required"
             :id="id + '_' + idx"
             @change.stop="changed(d[sourceValue], d, $event)"
             :checked="d[sourceValue] === value ? 'checked' : false"
             style="display: none">
      <label class="bbn-radio-label bbn-iflex bbn-vmiddle"
             :tabindex="tabindex || '0'"
             @keydown.space.enter.stop.prevent="$event.target.click()"
             :for="id + '_' + idx">
        <component bbn-if="d.component"
                   :is="d.component"
                   bbn-bind="d.componentOptions"
                   class="bbn-left-sspace"/>
        <span bbn-else
               class="bbn-left-sspace"
               bbn-html="render ? render(d) : d[sourceText]"/>
      </label>
      <br bbn-if="!vertical && step && ((idx+1) % step === 0)">
      <div bbn-if="(source[idx+1] !== undefined) && !!separator"
           :class="{
            'bbn-w-100': vertical,
            'bbn-iblock': !vertical
           }"
           bbn-html="separator"/>
    </div>
  </div>
</div>