<div :class="[
	componentClass, 'bbn-textbox', {
		'bbn-disabled': !!isDisabled,
		'bbn-input-button-left' : !!buttonLeft,
		'bbn-input-button-right' : !!buttonRight,
		'bbn-invisible' : (type === 'hidden'),
    'bbn-input-nullable': isNullable
	}]"
  tabindex="-1"
  @focus="getRef('element').focus()"
	:style="(currentSize !== '') ? 'width:' + currentSize : '' ">
  <div :class="{
    'bbn-w-100': (!buttonLeft && !buttonRight && !nullable && !pref),
    'bbn-flex-width' : (buttonLeft || buttonRight || nullable || pref),
    'bbn-nowrap': true
  }">
    <bbn-button bbn-if="buttonLeft"
          :icon="buttonLeft"
          :action="currentActionLeft"
          tabindex="-1"
          :class="[
            'bbn-button-left',
            'bbn-no-vborder',
            {
              'bbn-invisible': autoHideLeft,
              'bbn-disabled': buttonLeftDisabled
            }
          ]"
          :disabled="buttonLeftDisabled"/>
    <div bbn-if="pref"
         class="bbn-input-pref bbn-nowrap bbn-vmiddle bbn-left-xspadding"
         bbn-text="pref"/>
    <input :value="currentValue"
          :type="currentType"
          bbn-focused.selected="focused"
          :name="name"
          ref="element"
          :readonly="readonly ? 'readonly' : false"
          :required="required"
          :disabled="isDisabled"
          :placeholder="placeholder"
          :maxlength="maxlength"
          :minlength="minlength"
          :autocomplete="currentAutocomplete"
          :pattern="currentPattern"
          @input="onInput"
          @click="onClick"
          @paste="$emit('paste', $event)"
          @focus="onFocus"
          @blur="onBlur"
          @change="onChange"
          @mouseenter="over"
          @mouseleave="out"
          :tabindex="currentTabIndex"
          :class="{
            'bbn-flex-fill' : (buttonLeft || buttonRight || isNullable || pref),
            'bbn-ellipsis': ellipsis,
            'bbn-radius': !buttonLeft && !buttonRight,
            'bbn-radius-left': !buttonLeft,
            'bbn-radius-right': !buttonRight,
            'bbn-right-lpadding': isNullable && (!readonly || forceNullable) && !isDisabled
          }"
          :size="currentInputSize"
          :inputmode="$el.inputmode"
          :min="min"
          :max="max"
          :style="{
            paddingLeft: pref ? 0 : null
          }">
    <bbn-loadicon bbn-if="loading"
                  class="bbn-top-right bbn-vmiddle bbn-h-100 bbn-right-xspadding"/>
    <div bbn-elseif="isNullable && (!readonly || forceNullable) && !isDisabled"
         class="bbn-input-nullable-container bbn-vmiddle bbn-h-100"
         :style="{
           visibility: hasValue ? 'visible' : 'hidden'
         }">
      <i class="nf nf-fa-times_circle bbn-p"
         @mousedown.prevent.stop="clear"></i>
    </div>
    <bbn-button bbn-if="buttonRight"
                :icon="buttonRight"
                tabindex="-1"
                :action="currentActionRight"
                :class="[
                  'bbn-button-right',
                  'bbn-no-vborder',
                  {
                    'bbn-invisible' : autoHideRight,
                    'bbn-disabled': buttonRightDisabled
                  }
                ]"
                :disabled="buttonRightDisabled"/>
  </div>
</div>