<div :class="[componentClass, 'bbn-w-100', 'bbn-widget']">
  <input value="value" type="hidden" name="name">
  <div ref="zone">
    <div class="bbn-w-100" style="min-height: 60px">
      <div class="bbn-overlay bbn-r bbn-hpadding" style="opacity: 0.4">
        <div class="bbn-xl" bbn-if="uploading">
          <span bbn-text="lng.uploading + ' ' + progress + '%'"/>
        </div>
        <div class="bbn-lg" bbn-else>
          <span bbn-text="lng.dropHere + '...'"/>
          <span bbn-text="lng.clickHere"/> <em bbn-text="lng.browse + '... '"/>
          <i class="bbn-xl nf nf-fa-upload"></i>
        </div>
      </div>
      <div ref="files" bbn-if="files.length">
        <ul>
          <li bbn-for="file of fileList" bbn-text="file.name"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
