<div :class="[componentClass]">
  <div class="bbn-bordered bbn-h-100">
    <div class="bbn-flex-height" ref="container">
      <template bbn-for="(s, idx) in source">
        <div :class="['bbn-panelbar-bbn-header', 'bbn-header', 'bbn-unselectable', 'bbn-spadded', 'bbn-vmiddle', {'bbn-panelbar-header-selected': isSelected(idx)}]"
             ref="header">
          <div class="bbn-panelbar-arrow-container bbn-hspadded bbn-p bbn-middle bbn-block"
               @click="multiple ? multiselect(idx) : select(idx)">
            <i :class="['nf nf-fa-angle_right', 'bbn-panelbar-header-icon', 'bbn-large',  {'bbn-panelbar-header-icon-rotate': multiple ? isSelected(idx) : (preselected === idx)}]"></i>
          </div>
          <div :class="['bbn-panelbar-title', 'bbn-vmiddle', {
                  'bbn-panelbar-center': (align === 'center'),
                  'bbn-panelbar-start': (align === 'left'),
                  'bbn-panelbar-end': (align === 'right'),
                }]">
            <div bbn-html="s.header"
                @click="multiple ? multiselect(idx) : select(idx)"
                :class="{
                  'bbn-p':true,
                  'bbn-panelbar-inline': s.headerComponent,
                  'bbn-panelbar-right-padded': s.headerComponent || headerComponent
                }"/>
            <component bbn-if="s.headerComponent"
                      :is="s.headerComponent"
                      bbn-bind="source[idx]['headerOptions']"/>
            <component bbn-if="headerComponent && !s.headerComponent"
                      :is="headerComponent"
                      bbn-bind="headerOptions"/>
          </div>
        </div>
        <div :class="['bbn-border-box', 'bbn-panelbar-content', {
              'bbn-w-100': !scrollable,
              'bbn-panelbar-selected' : isSelected(idx),
              'bbn-flex-fill': isSelected(idx) && (flex || source[idx].flex || scrollable)
            }]"
            :style="getStyle(idx)"
            @transitionend="isResizing = false"
            @transitionstart="isResizing = true">
          <component :is="scrollable ? 'bbn-scroll' : 'div'"
                     :class="['bbn-abs', {'bbn-w-100': !scrollable}]"
                     :key="idx">
            <div bbn-if="!s.component && !component"
                 bbn-html="s.content"/>
            <div bbn-elseif="!s.component && component"
                :class="['bbn-panelbar-content', {'bbn-w-100': !scrollable}]">
              <component :is="component"
                        bbn-bind="componentOptions"
                        :class="{'bbn-w-100': !scrollable}"
                        @hook:mounted="$emit('componentmounted', component, componentOptions, s)"/>
            </div>
            <div bbn-elseif="(s.component)"
                :class="[{'bbn-w-100': !scrollable}]">
              <component :is="s.component"
                         bbn-bind="source[idx]['componentOptions']"
                         :class="{'bbn-w-100': !scrollable}"
                         @hook:mounted="$emit('componentmounted', s.component, s.componentOptions, s)"/>
            </div>
          </component>
        </div>
      </template>
    </div>
  </div>
</div>