<div :class="['bbn-iblock', componentClass]"
     @focusout="focusout"
     tabindex="-1"
     @mouseenter="over = true; mouseIn = true"
     @mouseleave="over = false; mouseIn = false"
     @focus="over = true"
     @blur="if (!mouseIn) {over = false}">
  <component bbn-if="isEditing && component"
            :is="component"
            bbn-model="currentValue"
            :tabindex="currentTabIndex"
            bbn-bind="componentOptions"/>
  <component bbn-elseif="isEditing && componentObject"
            :is="componentObject"
            bbn-model="currentValue"
            :tabindex="currentTabIndex"
            :source="source"
            :class="{'edit-block' : isEditing}"/>
  <component bbn-elseif="componentObject"
             :is="componentObject"
             bbn-model="currentValue"
             :source="source"
             :class="{'edit-block' : isEditing}"/>
  <div :style="{
      position: 'absolute',
      top: isEditing ? '-2rem' : '0px',
      left: isEditing ? '0px' : '-2.5rem',
      textAlign: isEditing ? 'left' : 'right',
      display: isEditing || over ? 'block' : 'none'
    }"
    :class="['bbn-abs', 'bbn-hpadding', {
      'bbn-background': isEditing,
      'bbn-border': isEditing,
      'bbn-vxspadding': isEditing,
    }]">
    <i :class="'bbn-p ' + editIcon"
      @click.stop="edit"
      bbn-if="!isEditing"/>
    <i :class="'bbn-p ' + cancelIcon"
      @click.stop="onCancel"
      bbn-if="isEditing"/>
    <i :class="'bbn-p ' + saveIcon"
      @click.stop="save"
      bbn-if="isEditing"/>
  </div>
</div>