<div :class="['bbn-iblock', componentClass, {'bbn-editable-editing': isEditing}]"
      @mouseenter="over = true; mouseIn = true"
      @mouseleave="onMouseLeave"
      @focusin="over = true"
      @keydown.esc="onCancel"
      @focusout="onFocusOut">
  <component bbn-if="isEditing && component"
            tabindex="-1"
            :is="component"
            bbn-model="currentValue"
            :tabindex="currentTabIndex"
            bbn-bind="componentOptions"/>
  <component bbn-elseif="isEditing && componentObject"
            tabindex="-1"
            :is="componentObject"
            bbn-model="currentValue"
            :tabindex="currentTabIndex"
            :source="source"
            :class="{'edit-block' : isEditing}"/>
  <component bbn-elseif="componentObject"
             :is="componentObject"
             bbn-model="currentValue"
             :source="source"
             @click="e => isEditing ? null : edit()"
             :class="[{'edit-block' : isEditing, 'bbn-p': !isEditing}]"/>
</div>