{
  "sourceType": "module",
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": "> 0.25%, not dead"
    }]
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  },
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-optional-chaining"
  ]
}

