<div :class="[componentClass, 'bbn-block']">
  <ul class="bbn-widget bbn-ul bbn-no-border"
      data-role="menu"
      role="menubar">
    <li bbn-for="(item, i) in filteredData"
        :class="[
          'bbn-menu-item',
          'bbn-reactive-block',
          {'bbn-menu-selected': (!!multiple && currentSelected.includes(item.index)) || (!multiple && (currentSelectedIndex === i))}
        ]"
        role="menuitem"
        :ref="'li' + i"
        :key="i"
        :tabindex="item.data.disabled ? '-1' : '0'"
        @focus="onFocus(i)"
        @click="clickLi(i, $event)"
        @keydown.stop="onKeyDown(i, $event)"
        @mouseenter="_enterLi(i)"
        @mouseleave="_exitLi(i)">
      <a bbn-if="item.data.url"
         :href="item.data.url"
         @click.stop.prevent="clickLi(i, $event)"
         bbn-html="item.data.text"/>
      <span bbn-else
            bbn-html="item.data.text"/>
      <span bbn-if="item.data[children]"
            class="bbn-menu-icon">
        <i class="nf nf-fa-chevron_down"/>
      </span>
    </li>
  </ul>
  <bbn-floater bbn-if="ready && !isChanging && filteredData?.[overIdx]?.data?.[children]"
               class="bbn-menu-floater"
               ref="floater"
               :min-width="getRef('li' + overIdx).clientWidth"
               :children="children"
               :element="getRef('li' + overIdx)"
               :scroll-hidden="true"
               @mouseenter="activeIdx = overIdx"
               @mouseleave="overIdx = -1"
               :focused="false"
               :source="filteredData[overIdx].data[children]"
               @close="overIdx = -1"
               @select="select"/>
</div>