<form :action="action"
      :method="method"
      :autocomplete="autocomplete"
      :class="currentClass"
      :style="currentStyle"
      @submit.prevent
      @keydown.enter.prevent.stop="submit(false)"
      @keyup.esc="cancel">
  <div :class="{
         'bbn-flex-fill': !window && isInit && scrollable || !!fullSize,
         'bbn-w-100': scrollable,
         'bbn-flex-height': !scrollable && hasFooter,
         'bbn-overlay': scrollable && !!window,
       }">
    <component :is="scrollable ? 'bbn-scroll' : 'div'"
               :class="{'bbn-overlay': !!fullSize, 'bbn-form-container': true}"
               :axis="scrollable ? 'y' : null"
               ref="container"
               :keep-visible="keepScrollVisible">
      <fieldset class="bbn-form-fieldset"
                :disabled="disabled">
        <div class="bbn-grid-fields bbn-padded"
            bbn-if="schema && schema.length">
          <template bbn-for="field in currentSchema"
                    bbn-if="field.field && !field.buttons && (field.editable !== false)">
            <component bbn-if="field.lineComponent"
                      :is="field.lineComponent"
                      :source="source"/>
            <template bbn-else>
              <label bbn-html="field.title"
                    :for="field.id"
                    :title="field.ftitle || field.title || field.field"/>
              <component bbn-if="field.editor"
                        :is="field.editor"
                        bbn-bind="field.options"
                        bbn-model="source[field.field]"/>
              <bbn-field bbn-else
                        mode="write"
                        bbn-bind="field"
                        bbn-model="source[field.field]"/>
            </template>
          </template>
        </div>
        <slot></slot>
      </fieldset>
      <!-- SMALL BUTTONS OUTSIDE WINDOW -->
      <div bbn-if="!hasFooter && !window && realButtons.length && ['small', 'normal'].includes(currentMode)"
          class="bbn-form-buttons bbn-middle bbn-vpadding">
        <bbn-button bbn-for="(button, i) in realButtons"
                    :key="button.key || i"
                    class="bbn-hsmargin"
                    bbn-bind="button"/>
      </div>
      <!-- DEFAULT BUTTONS OUTSIDE WINDOW -->
      <div bbn-elseif="!hasFooter && !window && realButtons.length && (currentMode !== 'big')"
           class="bbn-form-buttons bbn-vlpadding bbn-c bbn-button-group bbn-grid"
           :style="'grid-template-columns: repeat(' + realButtons.length + ', 1fr);'">
        <bbn-button bbn-for="(button, i) in realButtons"
                    :key="i"
                    :class="{'bbn-primary': button.preset === 'submit', 'bbn-spadded': true}"
                    bbn-bind="button"/>
      </div>
      <!-- SMALL BUTTONS IN WINDOW -->
      <div bbn-elseif="!hasFooter && realButtons.length && ['small', 'normal'].includes(currentMode)"
          class="bbn-form-buttons bbn-w-100 bbn-vpadding bbn-c">
        <bbn-button bbn-for="(button, i) in realButtons"
                    :class="['bbn-hxspadded', {'bbn-primary': button.preset === 'submit'}]"
                    :key="button.key || i"
                    bbn-bind="button"/>
      </div>
      <!-- DEFAULT BUTTONS IN WINDOW -->
      <div bbn-elseif="!hasFooter && realButtons.length && (currentMode !== 'big')"
           class="bbn-form-buttons bbn-vpadding bbn-c bbn-button-group bbn-grid"
           :style="'grid-template-columns: repeat(' + realButtons.length + ', 1fr)'">
        <bbn-button bbn-for="(button, i) in realButtons"
                    :class="{'bbn-primary': button.preset === 'submit'}"
                    :key="button.key || button.text || button.icon || i"
                    :style="{width: '10em'}"
                    bbn-bind="button"/>
      </div>
    </component>
  </div>
  <div bbn-if="hasFooter && !popup"
       class="bbn-form-footer bbn-header">
    <slot name="footer"/>
  </div>

  <!-- BIG BUTTONS IN WINDOW -->
  <div bbn-elseif="realButtons.length && (currentMode === 'big')"
       class="bbn-form-footer bbn-popup-footer bbn-button-group bbn-flex-width bbn-lg"
       :style="{minHeight: !windowed ? '3rem' : ''}">
    <bbn-button bbn-for="(button, i) in realButtons"
                :class="[{
                  'bbn-noradius-top': !!window,
                  'bbn_primary': button.preset === 'submit' || button.primary,
                  'bbn-no-border-right': i === this.realButtons.length - 1
                }, button.cls || '']"
                :key="button.key || button.text || button.icon || i"
                ref="butt"
                bbn-portal="window?.$refs?.buttons"
                bbn-bind="button"/>
  </div>
  <div class="bbn-overlay bbn-modal"
       style="background-color: transparent;"
       bbn-if="isLoading"/>
</form>
