<div :class="[componentClass, 'bbn-iflex', 'bbn-textbox', {
       'bbn-disabled': !!isDisabled,
       'bbn-phone-prefix-readonly': prefixReadonly
     }]">
  <bbn-dropdown :source="countryCodes"
                bbn-model="currentPrefix"
                :disabled="isDisabled"
                :readonly="readonly || prefixReadonly"
                :required="required"
                :placeholder="placeholder ? '+...' : ''"
                :native="native"
                source-value="prefix"
                selected-text="prefix"
                :clear-html="true"
                :class="['bbn-phone-dropdown', , 'bbn-no-border', {
                  'bbn-right-xsspace': !prefixReadonly
                }]"
                :autosize="prefixReadonly"
                tabindex="-1"/>
  <bbn-input :tabindex="0"
             autocomplete="off"
             bbn-model="currentNumber"
             :name="name"
             ref="element"
             :disabled="isDisabled"
             :readonly="readonly"
             :required="required"
             :inputmode="inputmode"
             :placeholder="placeholder"
             class="bbn-phone-input bbn-no-border"
             :pattern="currentPattern"
             :maxlength="currentMaxlength"
             type="tel"
             :nullable="nullable"/>
  <input type="hidden"
          :value="value">
</div>