<div :class="[componentClass, 'bbn-iflex', 'bbn-textbox', {
       'bbn-disabled': !!isDisabled,
       'bbn-phone-prefix-readonly': prefixReadonly
     }]">
  <bbn-dropdown :source="countryCodes"
                bbn-model="currentPrefix"
                :disabled="isDisabled"
                :readonly="readonly || prefixReadonly"
                :required="required"
                :placeholder="placeholder ? '+...' : ''"
                :native="native"
                source-value="prefix"
                selected-text="prefix"
                :clear-html="true"
                class="bbn-phone-dropdown bbn-no-border"
                :tabindex="prefixReadonly ? -1 : (tabindex || 0)"
                :autosize="prefixReadonly"
                @focus="onDropDownFocus"/>
  <bbn-masked  bbn-if="currentCountry === 'FR'"
               mask="0 00 00 00 00"
               :tabindex="tabindex || 0"
               autocomplete="off"
               bbn-model="currentNumber"
               :name="name"
               ref="element"
               :disabled="isDisabled"
               :readonly="readonly"
               :required="required"
               :inputmode="inputmode"
               :placeholder="placeholder"
               class="bbn-phone-masked bbn-no-border"
               :pattern="currentPattern"
               :maxlength="currentMaxlength"
               :nullable="nullable"
               @focus="onInputFocus"
               :validation-message="currentNumber?.startsWith('0') ? _('Enter the number without the leading 0') : ''"/>
  <bbn-input bbn-else
             :tabindex="tabindex || 0"
             autocomplete="off"
             bbn-model="currentNumber"
             :name="name"
             ref="element"
             :disabled="isDisabled"
             :readonly="readonly"
             :required="required"
             :inputmode="inputmode"
             :placeholder="placeholder"
             class="bbn-phone-input bbn-no-border"
             :pattern="currentPattern"
             :maxlength="currentMaxlength"
             type="tel"
             :nullable="nullable"
             @focus="onInputFocus"/>
  <input type="hidden"
         :value="value">
</div>