<div :class="[
        'bbn-textbox',
        componentClass,
        {'bbn-state-disabled': !!isDisabled}
      ]"
      tabindex="-1">
  <textarea :class="{
              'bbn-no-border': true,
              'bbn-radius': true,
              'bbn-w-100': !cols,
              'bbn-spadding': true,
              'bbn-state-disabled': !!isDisabled
            }"
            :name="name"
            ref="element"
            @input="onInput"
            @click="onClick($event)"
            @focus="onFocus($event)"
            @blur="onBlur($event)"
            @change="onChange($event)"
            @keydown="textareaKeydown($event)"
            @keydown.enter.stop
            @keyup="onKeyup($event)"
            @paste="$emit('paste', $event)"
            :disabled="isDisabled"
            :readonly="readonly"
            :required="required"
            :placeholder="placeholder"
            :tabindex="currentTabIndex"
            :maxlength="maxlength"
            :rows="currentRows"
            :cols="cols"
            :style="currentStyle"
            :value="value"/>
</div>
