<div :class="[componentClass, {'bbn-tabs-scrollable': scrollable, 'bbn-tabs-vertical': isVertical}]">
  <div class="bbn-tabs-container"
       bbn-forget="!scrollable">
    <div class="bbn-tabs-ul-container"
         bbn-forget="!scrollable">
      <div :class="{'bbn-flex-width': !isVertical, 'bbn-flex-height': isVertical}"
           bbn-forget="!scrollable">
        <div bbn-if="scrollable"
            class="bbn-tabs-button bbn-tabs-button-prev bbn-p bbn-middle bbn-header"
            @click="scrollTabs('left')">
          <i class="nf nf-fa-angle_left bbn-xlarge"/>
        </div>
        <div :class="{
          'bbn-flex-fill': scrollable,
          'bbn-flex-width': !scrollable
        }"
              :style="{backgroundColor: parentBackground}">
          <bbn-scroll bbn-forget="!scrollable"
                      ref="horizontal-scroll"
                      bbn-bind="scrollCfg"
                      @ready="onScrollReady">
            <ul ref="tabgroup"
                :class="['bbn-tabs-tabs', 'bbn-border-bottom', {
                  'bbn-flex-fill': !isVertical && (!scrollable || !$slots.default.length),
                  'bbn-overflow-v': !scrollable,
                  'bbn-flex-width': fill
                }]">
              <li bbn-for="(tab, i) in source"
                  @click="clickLi(i)"
                  :ref="'tab-' + tab.idx"
                  :key="tab.uid || tab.url || tab.idx"
                  bbn-show="!tab.invisible"
                  :style="{
                          backgroundColor: tab.bcolor || null,
                          color: tab.fcolor || null
                          }"
                  :data-index="tab.idx"
                  :class="['bbn-transition-bcolor', 'bbn-border', 'bbn-state-default', 'bbn-unselectable', position, {
                          'bbn-radius-top': position === 'top',
                          'bbn-radius-bottom': position === 'bottom',
                          'bbn-radius-left': position === 'left',
                          'bbn-radius-right': position === 'right',
                          'bbn-background': !tab.color,
                          'bbn-iblock': !isVertical,
                          'bbn-flex-fill': fill,
                          'bbn-c': fill,
                          'bbn-tabs-fixed': !!tab.fixed,
                          'bbn-background-effect-internal': tab.idx === value,
                          'bbn-tabs-active': tab.idx === value,
                          'bbn-disabled': tab.disabled,
                          'bbn-tabs-alarm': tab.alarm
                          }, tab.cls || '']">
                <div class="bbn-tabs-badge-container bbn-middle"
                    bbn-if="numProperties(tab.events)">
                  <span class="bbn-badge bbn-small bbn-bg-red"
                        bbn-text="numProperties(tab.events)"/>
                </div>
                <div class="bbn-tabs-tab-loader bbn-border-text"
                    :style="{borderColor: tab.fcolor || null}"
                    bbn-if="tab.loading"/>
                <bbn-context :context="true"
                             @keydown.space.enter.prevent.stop="tab.idx !== selected ? emitInput(tab.idx) : false"
                             @keydown.right.down.prevent.stop="getRef('menu-' + tab.idx) ? getRef('menu-' + tab.idx).$el.focus() : (getRef('closer-' + tab.idx) ? getRef('closer-' + tab.idx).focus() : null)"
                             :source="() => getMenuFn(tab.idx)"
                             :source-index="tab.idx"
                             :autobind="false"
                             tag="div"
                             :disabled="tab.idx !== value"
                             min-width="10rem"
                             :class="['bbn-tabs-tab', 'bbn-iblock', {
                                    'bbn-tabs-dirty': tab.dirty,
                                    'bbn-tabs-icononly': tab.notext,
                                    'bbn-flex-vcentered': true
                                    }]"
                             :ref="'title-' + tab.idx"
                             :style="{
                                    color: tab.fcolor ? tab.fcolor : null
                                     }"
                             tabindex="0"
                  ><bbn-icon bbn-if="tab.icon"
                              :title="tab.label"
                              :class="['bbn-tabs-main-icon bbn-iblock', tab.notext ? 'bbn-lg' : 'bbn-m', {
                                'bbn-right-smargin': !tab.notext && tab.label
                              }]"
                              :content="tab.icon"
                              :size="16"/><span bbn-if="!tab.notext && tab.label"
                                 class="bbn-router-tab-text"
                                 :title="getTabTitle(tab)"
                                 bbn-html="tab.label.length > maxTitleLength ? cutTitle(tab.label) : tab.label"
                  /></bbn-context>
                <div class="bbn-tabs-selected"
                     :ref="'selector-' + tab.idx"
                     bbn-if="i === value"
                     :style="{backgroundColor: tab.fcolor || altTextColor}"/>
                <span bbn-if="!tab.fixed && !tab.pinned && closable"
                      class="bbn-p bbn-router-tab-close bbn-iblock bbn-top-right"
                      tabindex="-1"
                      :ref="'closer-' + tab.idx"
                      @keydown.left.down.prevent.stop="getRef('menu-' + tab.idx) ? getRef('menu-' + tab.idx).$el.focus() : null"
                      @keydown.space.enter.prevent.stop="$emit('close', tab.idx)"
                      @click.stop.prevent="$emit('close', tab.idx)">
                  <i class="nf nf-md-close_thick bbn-xxs"/>
                </span>
                <bbn-context bbn-if="(tab.menu !== false) && (i === value)"
                             class="bbn-iblock bbn-router-tab-menu bbn-p bbn-bottom-right"
                             tabindex="-1"
                             min-width="10rem"
                             tag="span"
                             :source="() => getMenuFn(tab.idx)"
                             :autobind="false"
                             :source-index="tab.idx"
                             :ref="'menu-' + tab.idx">
                  <i class="nf nf-fa-caret_down bbn-xs"/>
                </bbn-context>
              </li>
            </ul>
            <slot/>
          </bbn-scroll>
        </div>
        <div bbn-if="scrollable"
            class="bbn-tabs-button bbn-tabs-button-next bbn-p bbn-middle bbn-header"
            @click="scrollTabs('right')">
          <i class="nf nf-fa-angle_right bbn-xlarge"/>
        </div>
      </div>
    </div>
  </div>
</div>
