<div :class="[componentClass, {
  'bbn-container-ratio': !isMobile && (router?.visualShowAll || (router?.isVisual && !isVisible)),
  'bbn-h-100': isMobile && !currentSelected && (router?.visualShowAll || (router?.isVisual && !isVisible)),
  'bbn-100': !visual && router?.scrollContent,
  'bbn-w-100': !router?.scrollContent && !router?.visualShowAll,
  'bbn-background': true,
  'bbn-radius': router?.isVisual && visual,
  'bbn-lborder': (router?.isVisual && visual) || (router?.isNav && !router?.parent),
  'bbn-container-dirty': dirty
}]"
      bbn-show="isTabSelected">
  <div class="bbn-container-full-screen bbn-flex-height bbn-background"
       bbn-if="currentView && router?.ready"
       bbn-forget="!fullScreen">
    <transition name="fade"
                @enter="enter"
                @after-enter="onResize">
      <div :class="{
        'bbn-overlay': (isPane || !router?.isVisual) && router?.scrollContent,
        'bbn-flex-height': (!isPane && (router?.isVisual || fullScreen)) && router?.scrollContent,
        'bbn-w-100': visual || !router?.scrollContent
      }"
          bbn-forget="isPane || !router?.isVisual"
          bbn-show="isVisible || router?.isVisual">
        <!-- The header for visual and full screen -->
        <div bbn-if="!isPane && (visual || fullScreen)"
            :class="['bbn-transition-bcolor', 'bbn-b', 'bbn-xspadding', {
              'bbn-flex-width': !isMobile || currentSelected,
              'bbn-m': isVisible,
              'bbn-flex-fill': isMobile && !currentSelected
            }]"
            :style="{
              backgroundColor: currentBcolor || router?.bcolor,
              color: currentFcolor || router?.fcolor
            }">
          <div :class="{'bbn-flex-fill': !isMobile || currentSelected, 'bbn-vmiddle': true}">
            <bbn-context bbn-if="isVisible"
                        class="bbn-left-sspace bbn-right-space bbn-lg bbn-p"
                        :floater-title="_('Container menu')"
                        tag="span"
                        :source="showMenu">
              <i class="nf nf-fa-bars"/>
            </bbn-context>
            <bbn-icon bbn-if="currentIcon"
                      class="bbn-right-sspace bbn-lg"
                      :content="currentIcon"/>
            <span bbn-text="currentTitle"
                  :class="{
                    'bbn-container-visual-title': isMobile && !currentSelected,
                    'bbn-ellipsis': isMobile && currentSelected,
                    'bbn-right-padding': isMobile && currentSelected
                  }"
                  style="overflow: hidden"
                  :tabindex="isMobile ? -1 : null"
                  @click="isMobile ? onClickVisual() : null"/>
          </div>
          <!-- Icon for restoring size when in full screen mode -->
          <div bbn-if="isVisible && fullScreen"
              class="bbn-block bbn-p bbn-vmiddle bbn-h-100"
              @click="fullScreen = false">
            <i class="nf nf-md-arrow_collapse bbn-lg"/>
          </div>
          <!-- Icon for closing  -->
          <div bbn-elseif="isVisible && !isPane && !fixed && !pinned && !router?.visualShowAll"
              class="bbn-block bbn-p bbn-vmiddle bbn-h-100"
              @click="close">
            <i class="nf nf-md-close_thick bbn-lg"/>
          </div>
        </div>
        <!-- The main container (the one we take screenshots of) -->
        <div :class="{
          'bbn-overlay': !fullScreen && !router?.isVisual && !isPane && router?.scrollContent,
          'bbn-flex-fill': (fullScreen || (router?.isVisual && !isPane)) && router?.scrollContent,
          'bbn-w-100': !router?.scrollContent,
          'bbn-container-visible': isVisible
        }"
            bbn-show="currentSelected || !isMobile"
            ref="canvasSource">
          <!-- If error showing status -->
          <div bbn-if="isVisible && errorStatus"
               class="bbn-overlay bbn-middle bbn-lg">
            <div class="bbn-lpadding bbn-state-error bbn-block bbn-nowrap">
              <h1 bbn-text="errorStatus.status"/>
              <div bbn-text="url"/>
              <div class="bbn-vlpadding bbn-b"
                   bbn-text="errorStatus.statusText"/>
              <div class="bbn-c">
                <bbn-button @click="close"
                            icon="nf nf-md-close_thick"
                            :label="_('Close')"
                            class="bbn-state-error"/>
              </div>
            </div>
          </div>
          <!-- This is shown when it's ready -->
          <bbn-scroll bbn-elseif="ready && isLoaded"
                      ref="scroll"
                      @ready="init"
                      :scrollable="scrollable && router?.scrollContent"
                      axis="y"
                      :class="{
                        'bbn-overlay': router?.scrollContent,
                        'bbn-w-100': !router?.scrollContent
                      }">
            <!-- This is an ad hoc component with unique name -->
            <component bbn-if="isComponent && componentDefinition"
                      :is="componentDefinition"
                      :source="currentSource"
                      ref="component"/>
            <!-- This is a classic component -->
            <component bbn-elseif="component"
                      :is="component"
                      :source="currentSource"
                      ref="component"
                      bbn-bind="options"/>
            <!-- This is just HTML content -->
            <div bbn-elseif="!isComponent && currentContent"
                 bbn-html="currentContent">
            </div>
            <!-- This is the slot -->
            <slot bbn-else></slot>
            <!-- Adding style as a component -->
            <component is="style"
                      bbn-if="currentCss"
                      scoped="scoped"
                      bbn-html="currentCss"/>
          </bbn-scroll>
          <!-- If loading showing loader -->
          <bbn-loader bbn-elseif="isVisible"
                      class="bbn-overlay bbn-middle"/>
          <!-- The container's popup, from which each floater will come -->
          <bbn-popup ref="popup"
                    :source="popups"
                    bbn-if="ready"
                    bbn-show="isTabSelected"/>
        </div>
      </div>
    </transition>
  </div>
</div>
