<span :class="['bbn-iblock', componentClass]"
      tabindex="-1">
  <input type="checkbox"
         :id="$el.id || uid"
         :name="name"
         :value="value"
         :required="required"
         :disabled="isDisabled"
         :checked="state"
         ref="element">
  <span :class="['bbn-switch-slider', 'bbn-primary', cls, {
          'bbn-switch-round': !!radius,
          'bbn-switch-squared': !!squared
        }]"
        :tabindex="currentTabIndex"
        :for="$el.id || uid"
        @focus="onFocus"
        @blur="onBlur"
        @keyup="onKeyup"
        @keydown.space="toggle"
        @click="toggle">
    <span :class="['bbn-switch-slider-button', 'bbn-middle', sliderCls]">
			<i :class="currentIcon"></i>
		</span>
  </span>
</span>
