<div :class="elementClass"
     :style="elementStyle">
  <div :class="containerClass"
       ref="scrollContainer"
       bbn-forget="!scrollable"
       @scroll="onScroll"
       @touchend.passive="onTouchend"
       @touchstart.passive="onTouchstart"
       @touchmove.passive="onTouchmove"
       @focus="isFocused = true"
       @blur="isFocused = false"
       tabindex="-1">
    <div :class="{
           'bbn-scroll-content': true,
           'bbn-w-100': scrollable
         }"
         ref="scrollContent"
         bbn-forget="!scrollable"
         :style="contentStyle">
      <slot/>
    </div>
  </div>
  <bbn-scrollbar bbn-if="scrollReady && hasScrollX"
                 :hidden="isResizing || hiddenX"
                 orientation="horizontal"
                 ref="xScroller"
                 :color="barColor ? barColor : ''"
                 :scroll-also="scrollAlso"
                 :initial="currentX"
                 @scroll="scrollHorizontal"
                 :offset="offsetX"
                 :keep-visible="keepVisible"/>
  <bbn-scrollbar bbn-if="scrollReady && hasScrollY"
                 :hidden="isResizing || hiddenY"
                 orientation="vertical"
                 ref="yScroller"
                 :color="barColor ? barColor : ''"
                 :scroll-also="scrollAlso"
                 :initial="currentY"
                 @scroll="scrollVertical"
                 :offset="offsetY"
                 :keep-visible="keepVisible"/>
</div>
