<div :class="elementClass"
     :style="elementStyle"
     @scroll.stop="onScroll">
  <div :class="contentClass"
       ref="scrollContent"
       bbn-forget="!scrollable"
       @touchend.passive="onTouchend"
       @touchstart.passive="onTouchstart"
       @touchmove.passive="onTouchmove"
       @focus="isFocused = true"
       @blur="isFocused = false"
       tabindex="-1">
    <slot/>
  </div>
  <bbn-scrollbar bbn-if="scrollReady && hasScrollX"
                 :hidden="isResizing || hiddenX"
                 orientation="horizontal"
                 ref="xScroller"
                 :color="barColor ? barColor : ''"
                 :scroll-also="scrollAlso"
                 :initial="currentX"
                 @scroll="scrollHorizontal"
                 :offset="offsetX"
                 :keep-visible="keepVisible"/>
  <bbn-scrollbar bbn-if="scrollReady && hasScrollY"
                 :hidden="isResizing || hiddenY"
                 orientation="vertical"
                 ref="yScroller"
                 :color="barColor ? barColor : ''"
                 :scroll-also="scrollAlso"
                 :initial="currentY"
                 @scroll="scrollVertical"
                 :offset="offsetY"
                 :keep-visible="keepVisible"/>
</div>
