bbn-scroll {
  width: 100%;
  height: 100%;
  float: left;
  max-width: inherit;
  max-height: inherit;

  scrollbar-color: var(--primary-background) var(--primary-text);
  &.bbn-scroll-x:not(.bbn-scroll-disabled) {
    overflow-x: scroll;
  }
  &.bbn-scroll-y:not(.bbn-scroll-disabled) {
    overflow-y: scroll;
  }
  > .bbn-scroll-content {
    width: auto;
    height: auto;
    box-sizing: content-box;
    &.bbn-overlay{
      overflow: hidden !important;
    }
  }
}
