<div :class="componentClass"
      tabindex="-1"
      @click="clickItem"
      @contextmenu="clickItem"
      @keydown.space.enter="clickItem"
      @mousedown.stop.prevent="onMouseDown"
      @touchstart="touchstart"
      @touchmove="touchmove"
      @touchend="touchend">
  <slot></slot>
  <bbn-portal bbn-forget="!portal"
              :selector="portal"
              ref="portal">
    <bbn-floater v-if="showFloater && !disabled"
                :element="attach || null"
                :source="source"
                :source-action="sourceAction"
                :source-url="sourceUrl"
                :class="'bbn-floater-context-' + bbnUid"
                ref="floater"
                :width="width"
                :height="height"
                :min-width="currentMinWidth"
                :min-height="currentMinHeight"
                :max-width="currentMaxWidth"
                :max-height="currentMaxHeight"
                :top="currentTop"
                :left="currentLeft"
                :right="currentRight"
                :bottom="currentBottom"
                children="items"
                :title="floaterTitle"
                :closable="!!floaterTitle"
                :content="content"
                :auto-hide="true"
                :mode="mode"
                @close="$emit('close'); showFloater = false;"
                @open="$emit('open')"
                :item-component="itemComponent"
                :position="position"
                @select="(item, idx, dataIndex, ev, floater) => $emit('select', item, idx, dataIndex, ev, floater)"/>
  </bbn-portal>
</div>