<div :class="componentClass"
      tabindex="-1"
      @click.bubbles="clickItem"
      @contextmenu="clickItem"
      @keydown.space.enter="clickItem"
      @touchstart.passive="touchstart"
      @touchmove.passive="touchmove"
      @touchend.passive="touchend">
  <slot></slot>
  <bbn-floater bbn-if="showFloater && !disabled"
              :element="attach || null"
              bbn-portal="portal"
              :source="source"
              :class="'bbn-floater-context-' + bbnUid"
              ref="floater"
              :width="width"
              :height="height"
              :min-width="currentMinWidth"
              :min-height="currentMinHeight"
              :max-width="currentMaxWidth"
              :max-height="currentMaxHeight"
              :top="currentTop"
              :left="currentLeft"
              :right="currentRight"
              :bottom="currentBottom"
              children="items"
              :title="floaterTitle"
              :closable="!!floaterTitle"
              :content="content"
              :auto-hide="true"
              :mode="mode"
              @close="$emit('close'); showFloater = false;"
              @open="$emit('open')"
              :item-component="itemComponent"
              :position="position"
              @select="select"/>
</div>