<div :class="[{'bbn-100': true, 'bbn-block': true}, componentClass]"
     tabindex="-1"
     @keydown.enter.stop="">
  <div class="bbn-100 bbn-block"
       ref="element"
       :tabindex="currentTabIndex"
       @click="onClick($event)"
       @focus="onFocus($event)"
       @blur="onBlur($event)"
       @keydown="onKeydown($event)"
       @keyup="onKeyup($event)"/>
  <input bbn-model="currentValue"
         type="hidden"
         ref="input"
         :name="name"
         :disabled="isDisabled"
         :readonly="readonly">
</div>