<div :class="[{'bbn-widget': true, 'bbn-h-100': true}, componentClass]">
  <div class="bbn-flex-height">

    <div class="bbn-block bbn-w-100 bbn-vpadding bbn-c"
         bbn-if="menus && menus.length">
      <bbn-dropdown bbn-model="currentMenu"
                    :source="menus"
                    style="width: 80%"
                    ref="dropdown"/>
    </div>
    <div class="bbn-block bbn-w-100 bbn-bottom-padding bbn-c" bbn-if="search">
      <bbn-input name="search"
                 bbn-model="searchExp"
                 style="width: 80%"
                 ref="search"
                 autocomplete="off"
                 :placeholder="placeholder"/>
    </div>
    <div class="bbn-w-100 bbn-flex-fill">
      <div class="bbn-overlay">
        <bbn-tree :source="source"
                  :hybrid="true"
                  :map="mapSrc"
                  :data="getData"
                  :autobind="false"
                  :opened="true"
                  ref="tree"
                  @load="resizeScroll"
                  :quick-filter="searchExp"
                  :excluded-section-filter="true"
                  @select="go"
                  :menu="getMenu"
                  @hook:mounted="readyTree"/>
      </div>
    </div>
  </div>
</div>
