<div :class="[componentClass, 'bbn-overlay', 'bbn-flex-height']"
     tabindex="-1">
  <div class="bbn-w-100 bbn-xl bbn-c bbn-top-lpadding">
    <bbn-input :placeholder="placeholder"
                :style="{width: '75%', textAlign: 'left'}"
                type="search"
                ref="input"
                @keydown="onKeydown"
                :nullable="isNullable"
                autocomplete="off"
                bbn-model="filterString"
                bbn-focused.selected
                :loading="showSearching ? 'left' : false"
                button-right="nf nf-fa-search"/>
  </div>
  <div class="bbn-w-100 bbn-c bbn-bottom-padding">
    <span bbn-for="sc in searchCategories"
          class="bbn-iblock bbn-border bbn-radius bbn-s bbn-xsmargin bbn-xspadding bbn-p"
          @click="sc.active = !sc.active">
      <span bbn-text="sc.search"
            :class="{'bbn-struck': !sc.active}"/>
      <span class="bbn-left-smargin bbn-badge"
            bbn-text="sc.num"/>
    </span>
  </div>
  <div class="bbn-flex-fill">
    <bbn-scroll bbn-if="filteredData.length && !isDisabled && !readonly"
                axis="y"
                ref="scroll">
      <bbn-list :element="$el"
                ref="list"
                :auto-hide="false"
                :suggest="suggest"
                :component="searchComponent"
                :source-items="null"
                @select.stop="select"
                :source-url="sourceUrl"
                :source-action="sourceAction"
                :source-text="sourceText"
                source-value="hash"
                uid="hash"
                :source="items"/>
    </bbn-scroll>
    <div bbn-elseif="isStarted"
         class="bbn-overlay">
      <bbn-loader/>
    </div>
  </div>
  <div bbn-if="filteredData.length > currentLimit"
       class="bbn-w-100">
    <bbn-pager ref="pager"
               :element="$el"/>
  </div>
  <input type="hidden"
         bbn-model="value"
         ref="element"
         :name="name">
</div>
