<div :class="[componentClass, currentSwipeClass, 'bbn-overlay']"
     @touchstart.passive="touchstart"
     @touchmove.passive="touchmove"
     @touchend.passive="touchend">
  <div class="bbn-splashscreen-main">
    <template bbn-for="item in filteredData">
      <img bbn-if="item.data.image"
           :src="item.data.image"
           :class="{'bbn-hidden': item.index !== currentIndex}">
    </template>
  </div>
  <div class="bbn-splashscreen-container bbn-flex-height bbn-overlay">
    <component bbn-if="headerComponent"
              :is="headerComponent"
              class="bbn-splashscreen-header"/>
    <div bbn-elseif="header"
        bbn-html="header"
        class="bbn-splashscreen-header">
    </div>
    <component bbn-if="!!dots && (dotsPosition === 'outsideTop')"
              :is="$options.components.dots"
              :indexes="currentIndexes"
              bbn-model="currentIndex"/>
    <div class="bbn-flex-fill">
      <template bbn-for="item in filteredData">
        <transition name="slide">
          <div bbn-show="ready && (item.index === currentIndex)"
                class="bbn-splashscreen-slide bbn-overlay">
            <div class="bbn-flex-height bbn-overlay">
              <component bbn-if="item.data.headerComponent"
                        :is="item.data.headerComponent"
                        class="bbn-splashscreen-slide-header"
                        bbn-bind="item.data"/>
              <div bbn-elseif="item.data.header"
                  bbn-html="item.data.header"
                  class="bbn-splashscreen-slide-header">
              </div>
              <component bbn-if="!!dots && (dotsPosition === 'insideTop')"
                        :is="$options.components.dots"
                        :indexes="currentIndexes"
                        bbn-model="currentIndex"/>
              <div class="bbn-flex-fill">
                <div class="bbn-overlay bbn-flex-width">
                  <div bbn-if="arrows"
                      class="bbn-splashscreen-arrow-next bbn-vmiddle bbn-spadding">
                    <i bbn-if="showPrevArrow"
                      class="nf nf-fa-angle_left bbn-xxxl bbn-p bbn-primary-text"
                      @click="prev"/>
                  </div>
                  <div class="bbn-flex-fill bbn-splashscreen-slide-body">
                    <component bbn-if="item.data.bodyComponent"
                              :is="item.data.bodyComponent"
                              class="bbn-overlay"
                              bbn-bind="item.data"/>
                    <div bbn-elseif="item.data.body"
                              bbn-html="item.data.body"
                              class="bbn-overlay">
                    </div>
                  </div>
                  <div bbn-if="arrows"
                      class="bbn-splashscreen-arrow-next bbn-vmiddle bbn-spadding">
                    <i bbn-if="showNextArrow"
                      class="nf nf-fa-angle_right bbn-xxxl bbn-p bbn-primary-text"
                      @click="next"/>
                  </div>
                </div>
              </div>
              <component bbn-if="!!dots && (dotsPosition === 'insideBottom')"
                        :is="$options.components.dots"
                        :indexes="currentIndexes"
                        bbn-model="currentIndex"/>
              <component bbn-if="item.data.footerComponent"
                        :is="item.data.footerComponent"
                        class="bbn-splashscreen-slide-footer"
                        bbn-bind="item.data"/>
              <div bbn-elseif="item.data.footer"
                  bbn-html="item.data.footer"
                  class="bbn-splashscreen-slide-footer">
              </div>
            </div>
          </div>
        </transition>
      </template>
    </div>
    <component bbn-if="!!dots && (dotsPosition === 'outsideBottom')"
              :is="$options.components.dots"
              :indexes="currentIndexes"
              bbn-model="currentIndex"/>
    <component bbn-if="footerComponent"
              :is="footerComponent"
              class="bbn-splashscreen-footer"/>
    <div bbn-elseif="footer"
        bbn-html="footer"
        class="bbn-splashscreen-footer">
    </div>
  </div>
</div>