<div :class="['bbn-overlay', componentClass]"
     bbn-show="showPopup"
     :style="{zIndex: zIndex}">
  <bbn-floater bbn-for="(popup, i) in popups"
               :key="popup.uid"
               :ref="popup.uid"
               :index="popup.index"
               bbn-bind="popup"
               :container="$el"
               :style="{zIndex: zIndex+i}"
               @close="onClose(i)"/>
  <div class="bbn-modal bbn-overlay"
      tabindex="-1"
      :style="{zIndex: zIndex+items.length-2}"
      @keydown.esc.prevent.stop="close(items.length-1)"
      bbn-if="popups.length && (popups[popups.length - 1].modal !== false)"
  ></div>
</div>
