<div :class="['bbn-overlay', componentClass]"
     bbn-show="showPopup"
     :style="{zIndex: zIndex}">
  <div bbn-for="(popup, i) in popups"
       bbn-if="popup.modal !== false"
       class="bbn-modal bbn-overlay"
       tabindex="-1"
       :style="{zIndex: zIndex + i}"
       @keydown.esc.prevent.stop="close(i)"/>
  <bbn-floater bbn-for="(popup, i) in popups"
               :key="popup.uid"
               :ref="popup.uid"
               :index="popup.index"
               bbn-bind="popup"
               :container="$el"
               :style="{zIndex: zIndex+i}"
               @close="onClose(i)"/>
</div>
