<div :class="['bbn-header', 'bbn-unselectable', componentClass, {
        'bbn-flex': (orientation === 'horizontal'),
        'bbn-block bbn-h-100': (orientation === 'vertical')
      }]"
     :style="currentStyle">
  <fieldset :class="['bbn-toolbar-fieldset', 'bbn-no-border', 'bbn-no-radius', 'bbn-no-margin', 'bbn-no-padding', {
              'bbn-flex-width': (orientation === 'horizontal'),
              'bbn-flex-height': (orientation === 'vertical'),
            }]"
            :disabled="disabled">
    <div bbn-if="slotBefore && $hasSlots()"
         :class="['bbn-flex-fill', 'bbn-vmiddle', {
          'bbn-flex-width': (orientation === 'horizontal'),
          'bbn-flex-height': (orientation === 'vertical')
         }]">
      <slot/>
    </div>
    <div bbn-if="hasElementInStart"
          :class="['bbn-flex-fill', {
            'bbn-flex-width': (orientation === 'horizontal'),
            'bbn-flex-height': (orientation === 'vertical'),
            'bbn-vmiddle': (orientation === 'horizontai'),
            'bbn-hmiddle': (orientation === 'vertical'),
          }]">
      <div bbn-for="(s, i) in source">
        <div bbn-if="!s.end && s.component">
          <component :is="s.component"
                     bbn-bind="s.options"/>
        </div>
        <div bbn-elseif="!s.end && (s.content !== undefined)"
             class="bbn-block bbn-spadding"
             bbn-html="s.content"
             :key="'item' + i"
             :ref="'item' + i"/>
        <bbn-button bbn-elseif="!s.end && ((s.url || s.action || s.items) && (s.label || s.icon))"
                    bbn-bind="s"
                    :class="{
                      'bbn-hxsmargin': buttonSpace
                    }"
                    :key="'item' + i"
                    :ref="'item' + i"/>
        <div bbn-elseif="!s.end"
            class="bbn-toolbar-separator"
            :key="'item' + i"/>
        <bbn-floater bbn-if="s.items && $refs['item' + i]"
                    :source="items"
                    :element="'item' + i"/>
      </div>
    </div>
    <div bbn-if="hasElementInEnd"
          :class="['bbn-flex-fill', {
            'bbn-flex-width': (orientation === 'horizontal'),
            'bbn-flex-height': (orientation === 'vertical'),
            'bbn-vmiddle': (orientation === 'horizontai'),
            'bbn-hmiddle': (orientation === 'vertical'),
          }]">
      <div bbn-for="(s, i) in source">
        <div bbn-if="s.end && s.component">
          <component :is="s.component"
                      bbn-bind="s.options"
                      :key="'item' + i"/>
        </div>
        <div bbn-elseif="s.end && (s.content !== undefined)"
            class="bbn-block bbn-spadding"
            bbn-html="s.content"
            :key="'item' + i"/>
        <bbn-button bbn-elseif="s.end && ((s.url || s.action) && (s.text || s.icon))"
                    :class="{
                      'bbn-hxsmargin': true
                    }"
                    bbn-bind="s"
                    :key="'item' + i"/>
        <div bbn-elseif="s.end"
            class="bbn-toolbar-separator"
            :key="'item' + i"
        >|</div>
        <bbn-floater bbn-if="s.items && $refs['item' + i]"
                    :source="items"
                    :element="'item' + i"/>
      </div>
    </div>
    <div bbn-if="!slotBefore && $hasSlots()"
        :class="['bbn-flex-fill', {
          'bbn-flex-width': (orientation === 'horizontal'),
          'bbn-flex-height': (orientation === 'vertical'),
          'bbn-vmiddle': (orientation === 'horizontai'),
          'bbn-hmiddle': (orientation === 'vertical'),
        }]">
      <slot/>
    </div>
    <div class="bbn-right">
      <slot name="right"/>
    </div>
  </fieldset>
</div>
