bbn-toolbar{
  min-height: 2.5rem;
  &.bbn-h-100{
    text-align: center;
    .bbn-toolbar-horizontal-separator{
      display: block;
    }
    .bbn-toolbar-separator{
      display: block;
    }
  }
  .bbn-toolbar-fieldset {
    > *:not(.bbn-flex-fill){
      flex-shrink: unset;
    }
    > *:not(.bbn-right) {
      gap: var(--xsspace)
    }
    > .bbn-flex-width {
      flex-wrap: wrap;
    }
  }
  .bbn-toolbar-separator {
    display: inline-block;
    margin: 0 var(--sspace);
    &:before{
      content: '|';
    }
  }
  .bbn-toolbar-horizontal-separator{
    display: inline-block;
    margin: var(--sspace) 0;
    &:before{
      content: '—';
    }
  }
  .bbn-toolbar-flex {
    flex-flow: wrap;
    display: flex;
  }
}
