<div :class="componentClass">
  <div bbn-if="master"
       :class="['bbn-breadcrumb-container', {'bbn-flex-height': content}]"
  >
    <div class="bbn-h-100 bbn-alt bbn-border-bottom bbn-no-border-top bbn-no-border-right bbn-vmiddle bbn-hspadding"
         :style="{
           backgroundColor: backgroundColor,
           color: fontColor
         }"
    >
      <bbn-context :source="getList"
                   tag="span"
                   min-width="10rem"
                   tabindex="0"
                   :item-component="$options.components.listItem"
                   :class="{'bbn-breadcrumb-dirty': isNumber(selected) && source[selected] && !!source[selected].dirty}"
                   :attach="$el"
      >
        <bbn-context :source="getMenuFn"
                     :source-index="isNumber(selected) ? selected : undefined"
                     tag="span"
                     min-width="10rem"
                     tabindex="0"
                     :context="true"
        >
          <span class="bbn-hxspadding">
            <i bbn-if="isNumber(selected) && source[selected] && !!source[selected].icon"
               :class="[source[selected].icon]"
            ></i>
            <span bbn-text="isNumber(selected) && source[selected] && !!source[selected].title ? source[selected].title : _('Untitled')"
                  :class="{'bbn-b': !currents.length}"
            ></span>
            <i bbn-if="isNumber(selected) && source[selected] && !source[selected].fixed"
               class="nf nf-fa-times bbn-p bbn-abs bbn-breadcrumb-icons bbn-breadcrumb-icons-close"
               @click.prevent.stop="close(selected)"
            ></i>
            <i bbn-if="getMenuFn(selected).length"
               class="nf nf-fa-caret_down bbn-p bbn-abs bbn-breadcrumb-icons bbn-breadcrumb-icons-menu"
               @click.prevent.stop="openMenu($event)"
            ></i>
          </span>
        </bbn-context>
      </bbn-context>
      <template bbn-if="currents.length"
                bbn-for="(sn, isn) in currents"
      >
        <span :style="{color: fontColor}">
          <i class="nf nf-fa-angle_right bbn-hsmargin bbn-large bbn-breadcrumb-arrow"></i>
        </span>
        <bbn-context :source="sn.getList"
                     tag="span"
                     min-width="10rem"
                     tabindex="0"
                     :item-component="$options.components.listItem"
                     :class="{'bbn-breadcrumb-dirty': isNumber(sn.selected) && sn.source[sn.selected] && !!sn.source[sn.selected].dirty}"
                     :attach="$el"
        >
          <bbn-context :source="sn.getMenuFn"
                       :source-index="isNumber(sn.selected) ? sn.selected : undefined"
                       tag="span"
                       min-width="10rem"
                       tabindex="0"
                       :context="true"
          >
            <span :style="{
                    backgroundColor: isNumber(sn.selected) && sn.source[sn.selected] && !!sn.source[sn.selected].bcolor ? sn.source[sn.selected].bcolor : '',
                    color: isNumber(sn.selected) && sn.source[sn.selected] && !!sn.source[sn.selected].fcolor ? sn.source[sn.selected].fcolor : fontColor
                  }"
                  class="bbn-hxspadding"
            >
              <i bbn-if="isNumber(sn.selected) && sn.source[sn.selected] && !!sn.source[sn.selected].icon"
                 :class="sn.source[sn.selected].icon"
              ></i>
              <span bbn-text="isNumber(sn.selected) && sn.source[sn.selected] && !!sn.source[sn.selected].title ? sn.source[sn.selected].title : _('Untitled')"
                    :class="{'bbn-b': !currents[isn+1]}"
              ></span>
              <i bbn-if="isNumber(sn.selected) && sn.source[sn.selected] && !sn.source[sn.selected].fixed"
                 class="nf nf-fa-times bbn-p bbn-abs bbn-breadcrumb-icons bbn-breadcrumb-icons-close"
                 @click.prevent.stop="sn.close(sn.selected)"
              ></i>
              <i bbn-if="sn.getMenuFn(sn.selected).length"
                 class="nf nf-fa-caret_down bbn-p bbn-abs bbn-breadcrumb-icons bbn-breadcrumb-icons-menu"
                 @click.prevent.stop="openMenu($event)"
              ></i>
            </span>
          </bbn-context>
        </bbn-context>
      </template>
    </div>
    <div bbn-if="content && isNumber(selected)"
         class="bbn-flex-fill"
         bbn-html="source[selected] && source[selected].content ? source[selected].content : ''"
         ref="content"
    ></div>
  </div>
</div>