<div :class="[componentClass, 'bbn-bordered', 'bbn-radius', 'bbn-alt-background', full ? 'full' : '']"
     bbn-droppable.data="!!sortable ? {data: {widget: _self}} : false">
  <!-- HEADER -->
  <div class="bbn-header bbn-no-border bbn-bordered-bottom bbn-unselectable"
       bbn-if="title">
    <div class="bbn-flex-width bbn-vxspadding bbn-vmiddle">
      <!-- BUTTONS LEFT -->
      <div class="bbn-header-buttons bbn-widget-button-left bbn-hxspadding">
        <i bbn-if="isClosable"
            :title="_('Close')"
            @click="close"
            class="nf nf-fa-times"/>
        <bbn-context bbn-if="hasMenu"
                      :source="finalMenu">
          <i :title="_('Menu')"
              class="nf nf-fa-caret_down"/>
        </bbn-context>
        <i bbn-for="(b, idx) in realButtonsLeft"
            :title="b.text"
            @click="actionButton(b.action, uid)"
            :class="b.icon"/>
      </div>
      <!-- TITLE -->
      <div :class="['bbn-widget-title', 'bbn-flex-fill', 'bbn-hpadding', {'bbn-middle': !!icon}]">
        <i bbn-if="icon" :class="[icon, 'bbn-right-sspace']"/>
        <h3 :style="dashboard && dashboard.sortable ? 'cursor: move' : ''"
            :class="['bbn-no-margin', {'bbn-iblock': !!icon}]"
            bbn-html="title"
            @dragstart="$emit('sortstart', $event)"
            @dragend="$emit('dragend', $event)"
            bbn-if="ready"
            bbn-draggable.helper.container.data="!!sortable ? {
              helper: $el,
              container: $el.parentElement,
              data: {widget: _self}
            } : false"/>
      </div>
      <!-- BUTTONS RIGHT -->
      <div class="bbn-header-buttons bbn-widget-button-right bbn-hxspadding">
        <i bbn-for="(b, idx) in realButtonsRight"
            :title="b.text"
            @click="actionButton(b.action, uid)"
            :class="[b.icon]"/>
      </div>
    </div>
  </div>

  <!-- MAIN CONTENT -->
  <div :class="['bbn-content', 'bbn-radius-bottom', 'bbn-no-border', {'bbn-padding': !component || (contentPadding === true)}]"
       :style="{
         padding: contentPadding ? contentPadding : null,
         minHeight: isLoading && (!currentItems || !currentItems.length) ? '15em' : null
       }">
    <!-- COMPONENT -->
    <component bbn-if="component"
                :is="component"
                @hook:mounted="$emit('loaded')"
                bbn-bind="componentOptions"
                class="bbn-widget-content"/>
    <!-- HTML CONTENT -->
    <div bbn-elseif="content"
         bbn-html="content"
         class="bbn-widget-content"/>
    <!-- LIST OF ITEMS -->
    <slot bbn-elseif="currentItems === undefined"/>
    <ul bbn-elseif="currentItems.length"
        class="bbn-widget-list bbn-widget-content">
      <template bbn-for="(it, idx) in currentItems">
        <li :class="itemClass"
            bbn-if="limit ? idx < limit : true"
            :style="itemStyle"
            :key="uid ? it[uid] : idx">
          <component bbn-if="itemComponent"
                     :is="itemComponent"
                     bbn-bind="options"
                     :source="it"
                     :key="!!options && !!options.uid ? it[options.uid] : idx"/>
          <a bbn-elseif="it && it.text && it.url" :href="it.url" bbn-html="it.text"/>
          <span bbn-elseif="it && it.text" bbn-html="it.text"/>
          <span bbn-else
                bbn-html="it"/>
        </li>
        <div bbn-if="(limit ? idx < limit : true) && separator && currentItems[idx+1]"
             bbn-html="separator"/>
      </template>
    </ul>
    <!-- NO DATA MESSAGE -->
    <component bbn-elseif="noDataComponent"
               :is="noDataComponent"/>
    <div bbn-else>
      <slot>
        <div bbn-html="noData" class="bbn-widget-content bbn-w-100 bbn-c bbn-padding"/>
      </slot>
    </div>
    <!-- GO FULL PAGE -->
    <div bbn-if="zoomable && currentItems && currentItems.length"
          class="content-buttons zoom bbn-unselectable">
      <i class="nf nf-fa-arrows_alt"
          @click="zoom"/>
    </div>
    <!-- NAVIGATION IN LIST -->
    <div bbn-if="currentPage && pageable"
          class="nav bbn-unselectable bbn-bottom-spadding">
      <i class="nf nf-md-chevron_double_left bbn-p bbn-reactive-text"
          @click="nav('first')"
          :style="{visibility: currentStart > 0 ? 'visible' : 'hidden'}"/>
      <i class="nf nf-md-chevron_left bbn-p bbn-reactive-text"
          @click="nav('prev')"
          :style="{visibility: currentStart > 0 ? 'visible' : 'hidden'}"/>

      <span bbn-text="currentPage + '/' + totalPages"></span>

      <i class="nf nf-md-chevron_right bbn-p bbn-reactive-text"
          @click="nav('next')"
          :style="{visibility: currentStart < (currentTotal-limit) ? 'visible' : 'hidden'}"/>
      <i class="nf nf-md-chevron_double_right bbn-p bbn-reactive-text"
          @click="nav('last')"
          :style="{visibility: currentStart < (currentTotal-limit) ? 'visible' : 'hidden'}"/>
    </div>
    <!-- LOADING -->
    <div bbn-if="isLoading" class="bbn-overlay" style="opacity: 0.5">
      <bbn-loader text=""
                  type="swing"/>
    </div>
    
  </div>

</div>
