<div :class="componentClass"
     tabindex="-1">
  <div class="bbn-grid">
    <bbn-wheel :source="hours"
               bbn-model="hour"
               @ready="hourReady = true"
               ref="hour"/>
    <bbn-wheel :source="minsec"
               bbn-model="minute"
               @ready="minuteReady = true"
               ref="minute"/>
    <bbn-wheel bbn-if="showSecond"
               :source="minsec"
               bbn-model="second"
               @ready="secondReady = true"
               ref="second"/>
  </div>
  <footer bbn-if="buttons && buttons.length"
          class="bbn-vmiddle bbn-top-sspace">
    <bbn-button bbn-for="(b, i) in currentButtons"
                :title="b.title || ''"
                :icon="b.icon"
                :class="['bbn-no-radius', b.cls]"
                :key="i"
                bbn-bind="b"/>
  </footer>
</div>
