<div :class="componentClass" :style="'border-left-color:' + border_color">
  <h3 bbn-if="first"
      bbn-html="_('Where the following conditions are true')"/>
  <!-- List of the validated conditions -->
  <div class="bbn-form-full"
       bbn-for="(condition, idx) in source.conditions"
       bbn-if="multi">
    <div :class="'bbn-filter-items bbn-filter-border bbn-iflex bbn-filter-' + (source.logic === 'OR' ? 'or' : 'and')"
         style="align-items: baseline">
      <div class="bbn-filter-logic">
        <span bbn-if="idx"
              bbn-text="source.logic === 'OR' ? _('OR') : _('AND')"/>
        <bbn-dropdown bbn-else
                      class="bbn-s"
                      :source="[{
                        text: _('AND'),
                        value: 'AND'
                      }, {
                        text: _('OR'),
                        value: 'OR'
                      }]"
                      bbn-model="source.logic"
                      name="logic"
                      ref="logic"
                      @change="$emit('change', source)"/>
      </div>
      <div class="bbn-flex"
           :style="{
             'flex-direction': condition.conditions ? 'column' : 'row',
             'align-items': condition.conditions ? '' : 'center'
           }">
        <div class="bbn-filter-buttons bbn-iflex">
          <i class="bbn-p bbn-lg nf nf-fa-minus_circle bbn-right-xsspace"
             @mouseover="over"
             @mouseout="out"
             :title="condition.logic ? _('Delete this conditions group') : _('Delete this condition')"
             ref="minus"
             @click="delete_condition(condition)"/>
          <i class="bbn-p bbn-lg nf nf-fa-plus_circle"
             bbn-if="multi"
             @mouseover="$event.target.style.color = 'red'"
             @mouseout="$event.target.style.color = null"
             :title="_('Add new conditions group')"
             ref="plus"
             @click="add_group(idx)"
             bbn-show="!condition.conditions"/>
        </div>
        <div class="bbn-filter-main">
          <div bbn-if="condition.operator">
            <span bbn-html="condition_text(condition)"/>
          </div>
          <bbn-filter bbn-elseif="condition.logic"
                      :fields="fields"
                      :source="condition"
                      :num="num + 1"
                      :idx="idx"
                      :multi="multi"/>
        </div>
      </div>
    </div>
  </div>
  <!-- Form for a new condition -->
  <div class="bbn-form-full">
    <div :class="{
        'bbn-iflex': true,
        'bbn-filter-border': fields.length > 1,
        'bbn-filter-items': true,
        'bbn-filter-temp': true,
        'bbn-filter-or': source.logic === 'OR',
        'bbn-filter-and': source.logic === 'AND',
      }">
      <!-- Showing the logic (AND/OR) if there are already conditions -->
      <div class="bbn-filter-logic bbn-vmiddle"
           bbn-text="source.conditions.length ? (source.logic === 'OR' ? _('OR') : _('AND')) : ''"
           bbn-if="multi"/>
      <div class="bbn-filter-main">
        <filter-form bbn-if="showForm"
                     :value="value"
                     :operator="operator"
                     :type="type"
                     :fields="fields"
                     :field="field"
                     :button-delete="!multi"
                     :component="component"
                     :component-options="componentOptions"
                     @validate="setCondition"/>
      </div>
    </div>
  </div>
</div>
