<div :class="[componentClass, {'bbn-ovaerlay': scrollable}]">
  <slot></slot>
  <div bbn-if="isLoading"
      :class="['bbn-background', 'bbn-middle', 'bbn-padding', {
        'bbn-overlay': scrollable,
      }]">
    <bbn-loadicon class="bbn-vmiddle"
                  :size="24"/>
    <span class="bbn-xl bbn-b bbn-left-sspace"
          bbn-text="_('Loading') + '...'"/>
  </div>
  <component :is="scrollable ? 'bbn-scroll' : 'div'"
             bbn-elseif="total">
    <div class="bbn-masonry-columns-container"
         :style="containerStyle">
      <mascol bbn-for="(col, index) in cols"
              :key="'masonry-col-' + index"
              :index="index"
              :source="items.filter((it, i) => {
                return i % cols === index;
              })"
              inline-template>
        <div :style="colStyle"
             class="bbn-masonry-column">
          <masitem bbn-for="(item, idx) in source"
                        :source="item"
                        :key="'masonry-item-' + index + '-' + idx"
                        inline-template>
            <div class="bbn-masonry-column-item"
                 :style="itemStyle">
              <component :is="source.data.component"
                         :source="source.data.source"
                         bbn-if="!source.slot"/>
              <div bbn-else
                   bbn-html="source.content"/>
            </div>
          </masitem>
        </div>
      </mascol>
    </div>
  </component>
</div>