<div :class="[componentClass, 'bbn-background', {
  'bbn-flex-fill': !currentConfig?.size
}]" :style="componentStyle">
  <div bbn-if="splitter"
       :class="{
    'bbn-overlay': splitter.fullSize && !isCollapsed,
    'bbn-w-100': ((isCollapsed && title) || !splitter.fullSize) && ((splitter.panes.length === 1) || !isHorizontal),
    'bbn-h-100': ((isCollapsed && title) || !splitter.fullSize) && (splitter.panes.length > 1) && isHorizontal,
    'bbn-flex-height': splitter.fullSize && title && !isHorizontal && !isCollapsed,
    'bbn-flex-width': splitter.fullSize && title && isHorizontal && !isCollapsed
  }"
       bbn-forget="!title">
    <div bbn-if="title"
         :class="['bbn-light bbn-c bbn-header bbn-block bbn-pane-title bbn-m bbn-spadding', {
           'bbn-w-100': !isHorizontal,
           'bbn-h-100': isHorizontal
         }]"
         :style="{
           writingMode: isHorizontal ? 'vertical-rl' : null,
           textOrientation: isHorizontal ? 'upright' : null,
         }"
         bbn-html="title"/>
    <div :class="{
      'bbn-hidden': isCollapsed,
      'bbn-flex-fill': title && splitter.fullSize && !isCollapsed,
      'bbn-overlay': !title && splitter.fullSize && !isCollapsed,
      'bbn-w-100': !splitter.fullSize && ((splitter.panes.length === 1) || !isHorizontal),
      'bbn-h-100': !splitter.fullSize && (splitter.panes.length > 1) && isHorizontal,
    }"
         bbn-show="!isCollapsed"
         bbn-forget="!title">

      <bbn-scroll class="bbn-overlay"
                  bbn-forget="!scrollable">
        <slot></slot>
      </bbn-scroll>
    </div>
  </div>
</div>