<div :class="[componentClass, 'bbn-background', {
  'bbn-flex-fill': !currentConfig?.size
}]" :style="componentStyle">
  <div :class="isHorizontal ? 'bbn-flex-width bbn-h-100' : 'bbn-flex-height bbn-w-100'"
       bbn-if="splitter">
    <div bbn-if="resizer"
         :class="[
            'bbn-unselectable',
            'bbn-middle',
            'bbn-splitter-bar',
            'bbn-light',
            'bbn-header',
            splitter.currentOrientation,
            {'bbn-splitter-resizer': !!resizer.pane2},
            splitter.realResizerClass(resizer)
          ]"
          ref="resizer"
          :style="{
              [isHorizontal ? 'width' : 'height']: '1rem',
            }"
          @mousedown.prevent.stop="splitter.resizeStart($event, resizer)"
          @touchstart.passive="splitter.resizeStart($event, resizer)"/>
    <div :class="{
      'bbn-flex-fill': splitter.fullSize && !isCollapsed,
      'bbn-w-100': ((isCollapsed && title) || !splitter.fullSize) && ((splitter.panes.length === 1) || !isHorizontal),
      'bbn-h-100': ((isCollapsed && title) || !splitter.fullSize) && (splitter.panes.length > 1) && isHorizontal,
      'bbn-flex-height': splitter.fullSize && title && !isHorizontal && !isCollapsed,
      'bbn-flex-width': splitter.fullSize && title && isHorizontal && !isCollapsed
    }"
        bbn-forget="!title">
      <div bbn-if="title" 
          :class="['bbn-light bbn-c bbn-header bbn-block bbn-pane-title bbn-m bbn-spadding', {
            'bbn-w-100': !isHorizontal,
            'bbn-h-100': isHorizontal
          }]"
          :style="{
            writingMode: isHorizontal ? 'vertical-rl' : null,
            textOrientation: isHorizontal ? 'upright' : null,
          }"
          bbn-html="title"/>
      <div :class="{
        'bbn-hidden': isCollapsed,
        'bbn-flex-fill': splitter.fullSize && !isCollapsed,
        'bbn-w-100': !splitter.fullSize && ((splitter.panes.length === 1) || !isHorizontal),
        'bbn-h-100': !splitter.fullSize && (splitter.panes.length > 1) && isHorizontal,
      }"
          bbn-show="!isCollapsed"
          bbn-forget="!title">
        <div class="bbn-flex-fill">
          <bbn-scroll class="bbn-overlay"
                      bbn-forget="!scrollable">
            <slot></slot>
          </bbn-scroll>
        </div>
      </div>
    </div>
  </div>
</div>