bbn-markdown{
  display: block;
  .editor-toolbar {
    a, a.active, a:hover, button {
      color: inherit;
    }
    button.active, button:hover {
      background: inherit !important;
    }
    .easymde-dropdown {
      background: inherit !important;
    }
    .easymde-dropdown-content {
      color: black;
    }

  }
  .EasyMDEContainer {
    width: 100%;
    .editor-preview {
      color: black;
    }
    .editor-preview-side {
      color: black;
      top: 0;
      position: absolute
    }
    .CodeMirror-vscrollbar, .CodeMirror-hscrollbar {
      display: none !important;
    }
    .CodeMirror-scroll {
      margin: 0px;
      padding: 0px;
    }
  }
}