<component bbn-if="mode === 'write'"
           :is="renderedComponent"
           bbn-bind="renderedOptions"
           bbn-model="currentValue"
           :class="componentClass"
           @input="$emit('input', currentValue)"

>
  <div bbn-if="renderedContent" bbn-html="renderedContent"></div>
</component>
<component bbn-else
           :is="renderedComponent"
           bbn-bind="renderedOptions"
           :class="componentClass"
>
  <div bbn-if="renderedContent" bbn-html="renderedContent"></div>
</component>