<div :class="componentClass">
  <component bbn-if="mode === 'write'"
           :is="renderedComponent"
           :class="renderedClass"
           bbn-bind="renderedOptions"
           bbn-model="currentValue"
           :tabindex="currentTabIndex"
           @input="$emit('input', currentValue)">
    <div bbn-if="renderedContent" bbn-html="renderedContent"></div>
  </component>
  <component bbn-else
            :is="renderedComponent"
            :class="renderedClass"
            bbn-bind="renderedOptions">
    <div bbn-if="renderedContent" bbn-html="renderedContent"></div>
  </component>
</div>
