<div :class="[componentClass, 'bbn-overlay']">
  <bbn-scroll axis="x" :class="componentClass" ref="scroll">
    <!-- Each tree pane -->
    <div bbn-for="(p, i) in dirs"
         class="bbn-flex-height bbn-finder-pane bbn-border-right">

      <div bbn-if="uploading === p.path"
           class="bbn-flex-fill">
        <div class="bbn-right">
          <bbn-button icon="nf nf-fa-close"
                      @click="uploading = false"
                      :title="_('Cancel upload')"
                      :notext="true"
                      class="bbn-xs"/>
        </div>
        <bbn-upload bbn-model="uploaded" 
                    ref='upload'
                    :data="{
                      origin: origin, 
                      path: p.path
                    }"
                    :save-url="root + 'actions/finder/upload'"
                    @success="uploadSuccess"
                    :label="{
                      uploadOrDrop: 'Select files or drag & drop it here'
                    }"/>
      </div>
      <div class="bbn-flex-fill" bbn-else>
        <div class="bbn-overlay">
          <bbn-tree :source="source"
                    :data="getData(p)"
                    :map="mapTree"
                    :menu="itemsContextMenu"
                    :key="'/' + p.path"
                    @load="updateInfo"
                    @select="select"/>
        </div>
      </div>
      
      
      <div class="bbn-w-100 bbn-widget bbn-finder-info" style="height: 12rem">
        <div :class="{
                      'bbn-overlay': true,
                      'bbn-state-default': true,
                      'bbn-state-active': i === (numCols - 1),
                      'bbn-padding': true,
                      'bbn-alt-background': true,
                      'bbn-alt-border-top': true
                      }">
          <div class="bbn-grid-fields bbn-finder-info-dirs">
            <div class="bbn-grid-full bbn-l">
              <bbn-button class="bbn-xs bbn-p"
                          @click="refresh(p.name)"
                          :title="_('Refresh tree')"
                          icon="nf nf-fa-refresh"/>
              <bbn-context :source="contextMenuTree"
                          :data="{path: p.path}" 
                          :key="p.path">
                <bbn-button class="bbn-xs"
                            @click="context"
                            :title="_('New Folder/Add files to this folder')"
                            icon="nf nf-fa-plus"/>
              </bbn-context>
            </div>
            <div bbn-text="_('Number of childs')" bbn-if="p.num_dirs || p.num_files"></div>
            <div bbn-text="p.num_dirs + p.num_files" bbn-if="p.num_dirs || p.num_files"></div>

            <div bbn-text="_('Directories')" bbn-if="p.num_dirs"></div>
            <div bbn-text="p.num_dirs" bbn-if="p.num_dirs"></div>

            <div bbn-text="_('Files')" bbn-if="p.num_files"></div>
            <div bbn-text="p.num_files" bbn-if="p.num_files"></div>

            <div bbn-text="_('Size')"></div>
            <div bbn-if="!p.size">
              <bbn-button icon="nf nf-md-scale"
                          class="bbn-xs"
                          @click="get_size(p)" 
                          :title="_('Get dir size')"/>
            </div>
            <span bbn-text="p.size"
                  bbn-else
                  style="text-align:right!important"/>

            <div class="bbn-grid-full bbn-c" bbn-if="isLoading && (i === (numCols - 1))">
              <bbn-button icon="nf nf-fa-hand_paper" 
                          @click="abortRequest(i)"
                          :label="_('Abort request')"
                          :title="_('Cancel the current request')"/>
            </div>
          </div>
        </div>          
      </div>
    </div>
    <!-- File detail / Image preview -->
    <div bbn-if="preview && currentFile"               
          class="bbn-finder-info-file-container bbn-flex-height">
      <div class="bbn-grid-fields bbn-header bbn-widget bbn-spadding">
        <span bbn-text="_('Filename')"/>
        <span bbn-text="currentFile ? currentFile.node.data.value : ''"/>
        <span bbn-if="currentFile.info && currentFile.info.size"
              bbn-text="_('Size')"/>
        <span bbn-text="(currentFile.info && currentFile.info.size) ? currentFile.info.size : ''"/>
        <span bbn-if="(currentFile.info && currentFile.info.width)"
              bbn-text="_('Width')"/>
        <span bbn-if="(currentFile.info && currentFile.info.width)"
              bbn-text="currentFile.info.width + 'px'"/>
        <span bbn-if="(currentFile.info && currentFile.info.height)"
              bbn-text="_('Height')"/>
        <span bbn-if="(currentFile.info && currentFile.info.height)"
              bbn-text="currentFile.info.height + 'px'"/>
        <!--span bbn-if="currentFile.info && currentFile.info.creation" bbn-text="_('Creation')"></span>
        <span-- bbn-text="(currentFile.info && currentFile.info.creation) ? currentFile.info.creation : ''"></span-->
        <span bbn-if="currentFile.info && currentFile.info.mtime"
              bbn-text="_('Last modification')"/>
        <span bbn-text="(currentFile.info && currentFile.info.mtime) ? currentFile.info.mtime : ''"/>
        <div class="bbn-grid-full bbn-right">
          <bbn-button icon="nf nf-fa-hand_paper_o"
                      @click="abortRequest('file')"
                      :label="_('Abort request')"
                      :title="_('Cancel the current request')"
                      bbn-if="isLoading"/>
          <bbn-button icon="nf nf-fa-close"
                      @click="closePreview"
                      :title="_('Close preview')"
                      :notext="true"/>
        </div>
      </div>
      <bbn-code class="bbn-flex-fill" 
                bbn-if="currentFile.info && currentFile.info.content && !isImage && !isLoading"
                :value="currentFile.info.content"/>
      <div bbn-elseif="isImage && !isLoading" 
            class="bbn-flex-fill bbn-c bbn-padding">
        <!--need of origin for the filesystem to recognize the environment-->
        <img :src="root + 'actions/finder/image/' +  encodedURL + '/' + origin" style="max-width:80%">
      </div>
      <div bbn-elseif="currentFile.info && !currentFile.info.content && !isImage && !isLoading"
            class="bbn-padding bbn-medium bbn-b"
            bbn-text="_('The content of this file cannot be shown')">
      </div>
      <div bbn-elseif="isLoading" 
            class="bbn-padding bbn-medium bbn-b"
            bbn-text="_('Loading file infos..')"/>
    </div>
  </bbn-scroll>
  <bbn-popup ref="popup"/>
</div>
