<span :class="[componentClass, 'bbn-flex-width', 'bbn-vmiddle']"
	   :style="(currentSize !== '') ? 'width:' + currentSize : '' ">
  <input :value="Number(!!value ? value.toString().replace(currentUnit, '') : 0)"
         type="range"
         :name="name"
         ref="element"
         :readonly="readonly"
         :disabled="isDisabled"
         :required="required"
         :min="currentMin"
         :max="currentMax"
         :step="currentStep"
         @input="_changeValue"
         @click="onClick"
         @focus="onFocus"
         @blur="onBlur"
         @change="onChange"
         @keydown="onKeydown"
         @keyup="onKeyup"
         @mouseenter="over"
         @mouseleave="out"
         :tabindex="currentTabIndex"
         :size="currentInputSize"
         class="bbn-range-input bbn-radius bbn-flex-fill">
  <i class="nf nf-md-backup_restore bbn-p bbn-m bbn-left-xsspace"
     @click="reset"
     :title="_('Reset')"
     bbn-if="showReset"/>
  <span bbn-text="value"
        class="bbn-left-sspace bbn-nowrap"
        bbn-if="showLabel && !showNumeric"/>
  <bbn-numeric bbn-if="showNumeric"
              bbn-model="numericValue"
              class="bbn-left-sspace"
              :style="'width: calc(1rem + ' + (currentMax ? currentMax.toString().length : 8) + 'rem)'"
              :min="currentMin"
              :max="currentMax"
              :step="currentStep"
              :decimals="currentDecimals"
              :readonly="readonly"
              :disabled="isDisabled"/>
  <bbn-dropdown bbn-if="showUnits"
                :source="units"
                bbn-model="currentUnit"
                class="bbn-left-sspace bbn-narrow"
                :readonly="readonly"
                :disabled="isDisabled"/>
</span>