<div :class="['bbn-block bbn-nowrap', componentClass]"
     tabindex="-1">
  <div class="bbn-iblock"
       bbn-if="isEditing">
  <bbn-field mode="write"
             bbn-model="currentValue"
             :tabindex="currentTabIndex"
             field="content"/>
  </div>
  <div class="bbn-iblock"
       bbn-else bbn-text="value"/>

  <div class="bbn-iblock bbn-hpadding">
    <div bbn-if="!isEditing"
         class="bbn-block bbn-hspadding bbn-p"
         tabindex="0"
         @click="isEditing = true">
      <i :class="editIcon"/>
    </div>
    <div bbn-if="isEditing"
         class="bbn-block bbn-hspadding bbn-p"
         tabindex="0"
         @click="cancel">
      <i :class="cancelIcon"/>
    </div>
    <div bbn-if="isEditing"
         class="bbn-block bbn-hspadding bbn-p"
         tabindex="0"
         @click="save">
      <i :class="saveIcon"/>
    </div>
  </div>
       
</div>