<div :class="[componentClass, {'bbn-flex-height': scrollable, 'bbn-gallery-sorting': isSorting}]">
  <div bbn-if="toolbar"
       class="bbn-l bbn-widget bbn-gallery-toolbar bbn-spadding bbn-vmiddle">
    <component bbn-if="isObject(toolbar) || isComponent(toolbar)"
               :is="toolbar"/>
    <template bbn-else>
      <div class="bbn-flex-width bbn-vmiddle">
        <div class="bbn-flex-fill">
          <div class="bbn-flex-width bbn-vmiddle">
            <bbn-button bbn-if="toolbarButtons && toolbarButtons.length"
                        bbn-for="(btn, idx) in toolbarButtons"
                        :disabled="isSelecting || isSorting"
                        bbn-bind="btn"
                        :key="idx"/>
            <bbn-button :label="_('Select')"
                        icon="nf nf-md-vector_selection"
                        @click="setSelecting('selection')"
                        :notext="buttonsNoText"
                        :disabled="isSelecting || isSorting"
                        bbn-if="!!selection"/>
            <bbn-button :label="_('Upload')"
                        icon="nf nf-fa-upload"
                        @click="$emit('upload')"
                        bbn-if="uploadable"
                        :notext="buttonsNoText"
                        :disabled="isSelecting || isSorting"/>
            <bbn-button :label="_('Download')"
                        icon="nf nf-fa-download"
                        @click="setSelecting('download')"
                        bbn-if="downloadable"
                        :disabled="isSelecting || !total || isSorting"
                        :notext="buttonsNoText"
                        class="bbn-left-xsspace"/>
            <bbn-button :label="_('Delete')"
                        icon="nf nf-fa-trash"
                        @click="setSelecting('delete')"
                        bbn-if="deletable"
                        :disabled="isSelecting || !total || isSorting"
                        :notext="buttonsNoText"
                        class="bbn-left-xsspace"/>
            <bbn-button :label="_('Order')"
                        icon="nf nf-fa-sort_numeric_asc"
                        @click="isSorting = !isSorting"
                        bbn-if="sortable && !!uid"
                        :disabled="isSelecting || !total"
                        :notext="buttonsNoText"
                        :class="['bbn-left-xsspace', {'bbn-primary': isSorting}]"/>
            <bbn-button :label="_('Ok')"
                        icon="nf nf-fa-check"
                        @click="emitAction()"
                        bbn-if="isSelecting"
                        :disabled="!currentSelected.length"
                        :notext="buttonsNoText"
                        class="bbn-left-space"/>
            <bbn-button :label="_('Cancel')"
                        icon="nf nf-fa-times"
                        @click="setSelecting(false)"
                        bbn-if="isSelecting"
                        :notext="buttonsNoText"
                        class="bbn-left-xsspace"/>
            <div bbn-if="filterable"
                  class="bbn-flex-fill bbn-hmargin">
              <div class="bbn-flex-width">
                <bbn-input :placeholder="_('Search')"
                           bbn-model="currentSearch"
                           class="bbn-flex-fill"
                           ref="search"
                           :button-right="!!currentSearch ? 'nf nf-fa-times' : 'nf nf-fa-search'"
                           @clickRightButton="resetSearch"
                           :disabled="isLoading"/>
                <!--<bbn-button icon="nf nf-fa-filter"
                            :label="_('Filter')"
                            :notext="buttonsNoText"
                            @click=""
                            class="bbn-left-xsspace"/>-->
              </div>
            </div>
          </div>
        </div>
        <div class="bbn-vmiddle">
          <bbn-range bbn-if="resizable"
                     class="bbn-vmiddle"
                     bbn-model="currentItemWidth"
                     :min="currentMinItemWidth"
                     :max="currentMaxItemWidth"
                     :disabled="isLoading"/>
        </div>
      </div>
    </template>
  </div>
  <div :class="{'bbn-flex-fill': scrollable}">
    <div :class="['bbn-flex-width', {'bbn-overlay': scrollable}]">
      <div bbn-if="!!currentSelected && currentSelected.length && !!uid"
           class="bbn-gallery-selected-panel bbn-rel bbn-hxsspace">
        <bbn-scroll>
          <div class="bbn-gallery-selected-panel-grid">
            <selected bbn-for="(sel, idx) in currentSelected"
                              :source="sel"
                              :key="idx"/>
          </div>
        </bbn-scroll>
      </div>
      <div ref="gallery"
           class="bbn-flex-fill">
        <div bbn-if="isLoading"
            :class="['bbn-background', 'bbn-middle', 'bbn-padding', {
              'bbn-overlay': scrollable,
            }]">
          <bbn-loadicon class="bbn-vmiddle"
                        :size="24"/>
          <span class="bbn-xl bbn-b bbn-left-sspace"
                bbn-text="_('Loading') + '...'"/>
        </div>
        <component :is="scrollable ? 'bbn-scroll' : 'div'"
                  bbn-elseif="total">
          <div class="bbn-gallery-columns-container"
               :style="{margin: '0 auto', textAlign: align}">
            <column bbn-for="index in cols"
                    :key="'column-' + index"
                    :index="index"
                    :source="items.filter((it, i) => {
                      return i % cols === index;
                    })"/>
          </div>
        </component>
      </div>
    </div>
  </div>
  <bbn-pager class="bbn-gallery-pager"
              :element="_self"
              ref="pager"
              bbn-if="(pageable || isAjax) && !!pager"/>
  <bbn-floater bbn-if="showFloater"
              :label="false"
              :top="0"
              @close="showFloater = false"
              :closable="true"
              width="100%"
              height="100%"
              :scrollable="false"
              :resizable="false"
              :maximizable="false"
              :component="$options.components.zoom"
              :source="floaterSource"/>
  
</div>