<div :class="['bbn-100', 'bbn-unselectable', componentClass]">
  <span class="bbn-loadbar-content bbn-h-100 bbn-flex-width"
        @click="info = !info"
        ref="bar">
    <span class="bbn-loadbar-state bbn-hxspadded bbn-c bbn-block bbn-h-100 bbn-middle bbn-text">
      <bbn-loadicon bbn-if="currentItem.loading"/>
      <i bbn-elseif="currentItem.error"
         class="nf nf-fa-times_circle bbn-red"/>
      <i bbn-elseif="currentItem.success"
         class="nf nf-fa-check bbn-green"/>
      <i bbn-elseif="currentItem.abort"
         class="nf nf-mdi-stop bbn-orange"/>
    </span>
    <span class="bbn-flex-fill">
      <span class="bbn-overlay">
        <span class="bbn-h-100 bbn-vmiddle bbn-s">
          <a href="javascript:;"
             :title="text + ' ' + _('Loading')"
             style="color: inherit; cursor: default"
             bbn-if="currentItem"
             bbn-text="currentItem.url"/>
        </span>
      </span>
    </span>
  </span>

  <bbn-floater bbn-if="info"
               :element="$el.parentNode"
               ref="floater"
               :auto-hide="true"
               :title="_('Requests\' history')"
               :closable="true"
               :container="$root.$el"
               :scrollable="true"
               @close="info = false"
               width="100%"
               max-height="60vw">
    <div class="bbn-padded bbn-w-100">
      <bbn-input class="bbn-w-100"
                 button-right="nf nf-mdi-send"
                 bbn-model="link"
                 @keydown.enter="go"
                 :focused="true"
                 @clickRightButton="go"/>
      <ul class="bbn-reset bbn-w-100 bbn-ul">
        <li bbn-for="it of items">
          <bbn-context tag="div"
                       class="bbn-vmiddle"
                       :max-width="300"
                       :source="contextMenu(it)">
            <span class="bbn-loadbar-state bbn-hxspadded bbn-c">
              <bbn-loadicon bbn-if="it.loading"
                            class="bbn-blue"/>
              <i bbn-elseif="it.error"
                 class="nf nf-fa-times_circle bbn-red"/>
              <i bbn-elseif="it.success"
                 class="nf nf-fa-check bbn-green"/>
              <i bbn-elseif="it.abort"
                 class="nf nf-mdi-stop bbn-orange"/>
            </span>
            <div class="bbn-loadbar-time bbn-c bbn-s">
              <span bbn-text="renderDuration(it.duration)"/>
            </div>
            <span class="bbn-hxspadded bbn-s"
                  bbn-text="it.url"/>
          </bbn-context>

          <div bbn-if="it.error && it.errorMessage"
                class="bbn-loadbar-error bbn-red"
                bbn-text="it.errorMessage"/>
        </li>
      </ul>
    </div>
  </bbn-floater>
</div>