<span :class="['bbn-iblock', componentClass]"
      tabindex="-1">
  <input type="checkbox"
         :id="$el.id || uid"
         :name="name"
         :value="value"
         class="bbn-checkbox"
         :required="required"
         :disabled="isDisabled"
         :readonly="readonly"
         @change.stop="toggle"
         :checked="state"
         ref="element"
         style="display: none">
  <label class="bbn-checkbox-label bbn-iflex bbn-vmiddle"
         :for="$el.id || uid"
         :tabindex="currentTabIndex"
         @keydown.space.enter.stop.prevent="$event.target.click()">
    <component bbn-if="component"
               :is="component"
               bbn-bind="componentOptions"
               class="bbn-left-spadding"/>
    <span bbn-elseif="label"
          class="bbn-left-spadding"
          bbn-html="label"/>
  </label>
</span>