<div :class="[componentClass, {
  'bbn-unselectable': isSorting,
  'bbn-overlay': scrollable
}]"
     @mouseleave="sortTargetIndex = null; isSorting = false">
  <bbn-scroll :scrollable="scrollable"
              ref="scroll"
              bbn-forget="!scrollable"
              bbn-bind="scrollable ? {axis: 'y'} : {}"
              @ready="onResize"
              :class="{
                'bbn-overlay': !scrollable
              }">
    <div :class="'bbn-masonry bbn-margin' + (sortable ? ' bbn-dashboard-sortable' : '')"
         ref="container"
         :style="{
              '-moz-column-count': numCols,
              '-webkit-column-count': numCols,
              'column-count': numCols
            }">
      <template bbn-for="w in widgets">
        <bbn-widget :ref="'widget_' + w.key"
                    bbn-if="!w.hidden"
                    :key="w.uid"
                    @loaded="resizeScroll"
                    :options="w.options"
                    :index="w.index"
                    :uid="w.uid"
                    :data="w.data || {}"
                    :title="w.title ? w.title : (w.text ? w.text : '')"
                    :source="w.source"
                    :storage-name="w.storageName"
                    :storage-full-name="w.storageFullName"
                    :observer="w.observer"
                    :url="w.url"
                    :limit="w.limit"
                    :component="w.component"
                    :content="w.content"
                    :hidden="w.hidden"
                    :start="w.start"
                    :total="w.total"
                    :hide-empty="w.hideEmpty"
                    :item-component="w.itemComponent"
                    :item-style="w.itemStyle"
                    :item-class="w.itemClass"
                    :buttons-left="w.buttonsLeft"
                    :buttons-right="w.buttonsRight"
                    :zoomable="w.zoomable"
                    :closable="w.closable"
                    :sortable="w.sortable"
                    :pageable="w.pageable"
                    :no-data="w.noData"
                    :menu="w.menu || []"
                    :full="w.full"
                    :separator="w.separator"
                    :showable="w.showable"
                    :padding="w.padding"
                    @close="hideWidget(w.key)"
                    @dragover="mouseEnterWidget(w.index)"
                    @dragend="isDragging = false; isSorting = false;"
                    @drop.prevent="drop"
                    :class="{'bbn-selected-border':
                      (sortOriginIndex !== w.index) && (
                        sortOriginIndex > w.index ?
                          (w.index === sortTargetIndex) :
                          (sortTargetIndex !== null) &&
                          (w.index - 1 === sortTargetIndex)
                      )
                    }"
                    @sortstart="isSorting = true; sortOriginIndex = w.index; sortTargetIndex = null; isDragging = true;"
                    />
      </template>
      <slot bbn-if="!widgets.length"/>
    </div>
  </bbn-scroll>
</div>
