<div :class="[{
    'bbn-overlay': scrollable,
    'bbn-block': !scrollable
  },
  componentClass,
  'bbn-border'
]">
  <div :class="{
    'bbn-overlay': scrollable,
    'bbn-flex-height': scrollable,
    'bbn-block': !scrollable
  }"
       :style="scrollable && groupCols.length ? {} : {
         width: totalWidth
       }"
       bbn-if="cols.length">
    <!-- Toolbar -->
    <div bbn-if="hasToolbar"
         class="bbn-table-toolbar bbn-header bbn-no-border"
         ref="toolbar">
      <bbn-toolbar bbn-if="toolbarButtons.length || (search && !bbn.fn.isString(toolbar) && !bbn.fn.isObject(toolbar))"
                   :source="toolbarButtons"
                   :slot-before="toolbarSlotBefore"
                   class="bbn-spadding bbn-no-border-left bbn-no-border-right bbn-no-border-top">
        <slot name="toolbar"></slot>
        <div slot="right"
             bbn-if="search"
             class="bbn-hsmargin">
          <bbn-input :nullable="true"
                      button-right="nf nf-fa-search"
                      class="bbn-wide"
                      :placeholder="searchPlaceholder || _('Search in data')"
                      bbn-model="searchValue"/>
        </div>
      </bbn-toolbar>
      <div bbn-elseif="typeof toolbar === 'function'"
           bbn-html="toolbar()"/>
      <component bbn-elseif="toolbar"
                 :is="toolbar"/>
    </div>
    <!-- Main container -->
    <div :class="['bbn-w-100', 'bbn-table-container', {'bbn-flex-fill': scrollable}]"
         ref="main">
      <!--<div bbn-if="initStarted || isLoading"-->
      <div bbn-if="initStarted || isResizing"
           :class="[
            'bbn-middle',
            'bbn-background-internal',
            'bbn-text',
            'bbn-padding',
            {
              'bbn-overlay': !!scrollable,
              'bbn-w-100': !scrollable
            }]"
           style="z-index: 5">
        <bbn-loadicon class="bbn-vmiddle"
                      :size="24"/>
        <span class="bbn-xl bbn-b bbn-left-sspace"
              bbn-text="_('Loading') + '...'"/>
      </div>
      <bbn-scroll bbn-elseif="currentColumns.length"
                  :scrollable="scrollable"
                  :autoresize="false"
                  :class="{'bbn-w-100': !scrollable, 'bbn-overlay': scrollable}"
                  ref="scroll"
                  :disabled="!scrollable"
                  :offset-y="scrollOffsetY"
                  :offset-x="scrollOffsetX"
                  @resize="resizeWidth"
                  @hook:mounted="onScrollMounted"
                  @hook:beforedestroy="onScrollBeforeDestroy">
        <!-- Table -->
        <table :style="{width: totalWidth}"
               ref="table"
               bbn-if="scrollIsMounted"
               aria-describedby="table"
               :class="['bbn-table-' + cssRuleName, 'bbn-table-table']">
          <!-- Colgroups -->
          <colgroup bbn-for="(groupCol, groupIndex) in groupCols"
                    bbn-if="groupCol.cols.length">
            <col bbn-for="(col, i) in groupCol.cols"
                bbn-show="!col.invisible"
                :style="{width: col.realWidth ? col.realWidth + 'px' : 'auto'}"
                :key="groupIndex + '-'+ i">
          </colgroup>
          <!-- Thead -->
          <thead :class="{
                  'bbn-top-left': !titles,
                  'bbn-invisible': !titles
                }"
                ref="thead">
            <!-- Group titles -->
            <tr bbn-if="titles && titleGroups" class="bbn-table-tr-groups-titles">
              <template bbn-for="(groupCol, groupIndex) in groupCols">
                <bbn-table-head-group bbn-if="!!groupCol.cols.length"
                                      bbn-for="(col, i) in titleGroupsCells(groupIndex)"
                                      :source="col"
                                      :group-index="groupIndex"
                                      :index="i"/>

              </template>
            </tr>
            <!-- Titles -->
            <tr class="bbn-table-tr-titles">
              <template bbn-for="(groupCol, groupIndex) in groupCols">
                <bbn-table-head-title bbn-for="(col, i) in groupCol.cols"
                                      :source="col"
                                      :group-index="groupIndex"
                                      :dead="!titles"
                                      :index="i"
                                      :key="(col.field || i) + '|' + (col.label || i)"
                                      :ref="'title-' + groupIndex + '-' + i"/>
              </template>
            </tr>
          </thead>
          <!-- Tbody -->
          <tbody ref="tbody"
                 :class="{
                   'bbn-overlay': ((!filteredData.length && !tmpRow) || isLoading) && !!scrollable
                 }"
                 bbn-if="!isLoading">
            <!-- Inline insertion -->
            <tr bbn-if="tmpRow">
            </tr>
            <!-- No data -->
            <tr bbn-elseif="!filteredData.length"
                :class="{
                  'bbn-overlay': !!scrollable,
                  'bbn-middle': !!scrollable
                }"
                :style="{
                  paddingTop: $refs.thead && !!scrollable ? theadHeight + 'px' : 0,
                  maxWidth: !!scrollable ? $el.clientWidth + 'px' : '',
                  left: !!scrollable && getRef('scroll') ? getRef('scroll').currentX + 'px' : ''
                }">
              <td :colspan="currentColumns ? currentColumns.length : 1">
                <div class="bbn-spadding bbn-background-internal bbn-c">
                  <div bbn-if="!isLoading"
                       bbn-html="noData || ' '"/>
                  <div bbn-elseif="loader"
                       class="bbn-vmiddle">
                    <bbn-loadicon class="bbn-vmiddle"
                                  :size="24"/>
                    <span class="bbn-xl bbn-b bbn-left-sspace"
                          bbn-text="currentLoaderText"/>
                  </div>
                </div>
              </td>
            </tr>
            <!-- Rows -->
            <template bbn-else
                      bbn-for="(row, rowIndex) in items">
              <!-- Group rows = start of a new group -->
              <bbn-table-row-group bbn-if="isGroupActive && (!rowIndex || (items[rowIndex-1].data[cols[group].field] !== row.data[cols[group].field]))"
                                   :source="row"
                                   :index="rowIndex"
                                   :group="group"
                                   :class="{'bbn-alt': rowIndex % 2}"
                                   ref="groupRows"/>
              <tr :class="rowClass(row)"
                  :style="rowStyle(row)"
                  @hook:created="onRowCreated">


                <!-- VERY FIRST COLUMN WHEN THERE IS XSCROLL -->
                <bbn-table-cell-expander bbn-if="currentColumns[0].isExpander && !isGroupActive"
                                         :source="row.data"
                                         :index="0"
                                         :first-cell="true"
                                         :row-index="rowIndex"
                                         :column="currentColumns[0]"
                                         :class="[cellClass, (currentColumns[0].fixed ? ' ' + cssRuleName + ' bbn-table-fixed-cell bbn-table-fixed-cell-left' : '')]"
                                         :ref="'td' + rowIndex"/>
                <bbn-table-cell-selector bbn-elseif="currentColumns[0].isSelection"
                                        :column="currentColumns[0]"
                                        :first-cell="true"
                                        :selected="row.selected"
                                        :selection="row.selection"
                                        :source="row.data"
                                        :index="0"
                                        :row-index="rowIndex"
                                        :ref="'td' + rowIndex"/>

                <bbn-table-cell-editor bbn-elseif="!currentColumns[0].isExpander && isEdited(row.data, currentColumns[0], rowIndex)"
                                      :tabindex="editable && isEditable(row.data, currentColumns[0], rowIndex) ? 0 : -1"
                                      :first-cell="true"
                                      @save="saveInline"
                                      @cancel="cancel"
                                      :column="currentColumns[0]"
                                      :source="row.data"
                                      :row-index="rowIndex"
                                      :index="0"
                                      :ref="'td' + rowIndex"
                                      @focusout="focusout(rowIndex, $event)"/>

                <bbn-table-cell-buttons bbn-elseif="currentColumns[0].buttons"
                                      :source="row.data"
                                      :first-cell="true"
                                      :mode="buttonMode"
                                      :row-index="rowIndex"
                                      :column="currentColumns[0]"
                                      :index="0"
                                      :ref="'td' + rowIndex"/>
                <!-- Group lines just have the cell with the expander and a single big cell -->
                <bbn-table-cell bbn-elseif="!currentColumns[0].isExpander || !isGroupActive"
                                :column="currentColumns[0]"
                                :first-cell="true"
                                :source="row.data"
                                :style="'height: ' + (rowsDesc[rowIndex].height ? rowsDesc[rowIndex].height + 'px' : 'auto')"
                                :row-index="rowIndex"
                                :index="0"
                                :ref="'td' + rowIndex"
                                :tabindex="editable && isEditable(row.data, currentColumns[0], rowIndex) ? 0 : -1"/>

                <!-- IF NOT READY AND INDEX IS NOT 0 -->
                <td bbn-if="!ready || (hasScrollX && !lastColumnVisible)"
                          :colspan="currentColumns.length - 1"
                          class="not-ready"/>
                <template bbn-else>
                  <!-- FIRST FIXED COLUMNS -->
                  <template bbn-for="(col, colIndex) in groupCols[0].cols"
                            bbn-if="colIndex">
                    <bbn-table-cell-expander bbn-if="isExpander(col) && !isGroupActive"
                                            :source="row.data"
                                            :index="0"
                                            :row-index="rowIndex"
                                            :column="currentColumns[0]"
                                            :class="[cellClass(row), (currentColumns[0].fixed ? ' ' + cssRuleName + ' bbn-table-fixed-cell bbn-table-fixed-cell-left' : '')]"
                                            :style="cellStyle(row)"
                                            :ref="'td' + colIndex"/>
                    <bbn-table-cell-selector bbn-elseif="isSelection(col)"
                                            :column="col"
                                            :selected="row.selected"
                                            :selection="row.selection"
                                            :source="row.data"
                                            :index="colIndex"
                                            :row-index="rowIndex"
                                            :ref="'td' + rowIndex"/>

                    <bbn-table-cell-editor bbn-elseif="!col.isExpander && isEdited(row.data, col, colIndex)"
                                          :tabindex="editable && isEditable(row.data, col, colIndex) ? 0 : -1"
                                          @save="saveInline"
                                          @cancel="cancel"
                                          :column="col"
                                          :source="row.data"
                                          :row-index="rowIndex"
                                          :index="colIndex"
                                          :ref="'td' + colIndex"
                                          @focusout="focusout(colIndex, $event)"/>

                    <bbn-table-cell-buttons bbn-elseif="col.buttons"
                                          :source="row.data"
                                          :mode="buttonMode"
                                          :row-index="rowIndex"
                                          :column="col"
                                          :index="colIndex"
                                          :ref="'td' + colIndex"/>
                    <!-- Group lines just have the cell with the expander and a single big cell -->
                    <bbn-table-cell bbn-elseif="!col.isExpander || !isGroupActive"
                                    :column="col"
                                    :source="row.data"
                                    :row-index="rowIndex"
                                    :index="colIndex"
                                    :ref="'td' + colIndex"
                                    :tabindex="editable && isEditable(row.data, col, colIndex) ? 0 : -1"/>
                  </template>
                  <!-- ALL VISIBLE CENTRAL COLUMNS -->
                  <!-- INVISIBLE COLUMNS BEFORE VISIBLE -->
                  <template bbn-for="(seq, idx) in rowDesc[i].sequences"
                            :key="seq.uid">
                    <template bbn-if="seq.visible">
                      <component bbn-for="groupCol in seq.items"
                                :key="groupCol?.uid"
                                bbn-if="idx || groupCol.index || groupCols[0].cols.length"
                                :is="getComponentType(groupCol.index)"
                                :source="row.data"
                                :index="groupCol.index"
                                :class="getComponentClass(groupCol.index)"
                                bbn-bind="getComponentOptions(groupCol.index)"
                                :ref="'td' + groupCol.index"
                                  @save="saveInline"
                                  @cancel="cancel"
                                  @focusout="focusout(index, $event)"/>
                    </template>
                    <template bbn-else>
                      <td :colspan="(seq.end - seq.start + 1)">-</td>
                    </template>
                  </template>
                  <!-- LAST FIXED COLUMNS -->
                  <template bbn-for="(col, colIndex) in groupCols[2].cols">
                    <bbn-table-cell-selector bbn-if="ready && col.isSelection"
                                            :column="col"
                                            :selected="row.selected"
                                            :selection="row.selection"
                                            :source="row.data"
                                            :index="colIndex + groupCols[0].cols.length + groupCols[1].cols.length"
                                            :row-index="rowIndex"
                                            :ref="'td' + colIndex"/>

                    <bbn-table-cell-editor bbn-elseif="ready && !col.isExpander && isEdited(row.data, col, colIndex)"
                                          :tabindex="editable && isEditable(row.data, col, colIndex) ? 0 : -1"
                                          @save="saveInline"
                                          @cancel="cancel"
                                          :column="col"
                                          :source="row.data"
                                          :row-index="rowIndex"
                                          :index="colIndex + groupCols[0].cols.length + groupCols[1].cols.length"
                                          :ref="'td' + colIndex"
                                          @focusout="focusout(colIndex, $event)"/>

                    <bbn-table-cell-buttons bbn-elseif="ready && col.buttons"
                                          :source="row.data"
                                          :mode="buttonMode"
                                          :row-index="rowIndex"
                                          :column="col"
                                          :index="colIndex"
                                          :ref="'td' + colIndex"/>
                    <!-- Group lines just have the cell with the expander and a single big cell -->
                    <bbn-table-cell bbn-elseif="ready && (!col.isExpander || !table.isGroupActive)"
                                    :column="col"
                                    :source="row.data"
                                    :row-index="rowIndex"
                                    :index="colIndex"
                                    :ref="'td' + colIndex"
                                    :tabindex="editable && isEditable(row.data, col, colIndex) ? 0 : -1"/>
                  </template>
                </template>





              </tr>
              <component :is="d.full ? 'bbn-table-row-full' : 'bbn-table-row'"
                         :source="d"
                         :class="{'bbn-alt': i % 2}"
                         :key="d.index"
                         :index="i"
                         :ref="'row' + d.index"
                         bbn-show="d.full || !isGroupActive || isExpanded(d.data, d.index)"
                         :editing="editedRow === d.data"/>
              <bbn-table-row-expansion bbn-if="expander && !isGroupActive && isExpanded(d.data, d.index)"
                                       :source="d"
                                       :index="i"
                                       :class="{'bbn-alt': i % 2}"
                                       ref="expansionRows"/>
              <bbn-table-row-aggregate bbn-elseif="d.aggregated || d.groupAggregated"
                                      :source="d"
                                      :class="{'bbn-alt': i % 2}"
                                      :index="i"
                                      ref="aggregateRows"/>
              <bbn-table-row-footer bbn-elseif="d.footer && groupFooter && groupable"
                                    :source="d"
                                    :class="{'bbn-alt': i % 2}"
                                    :index="i"
                                    ref="footerRows"/>
            </template>
          </tbody>
        </table>
      </bbn-scroll>
      <!-- Loading -->
      <div bbn-if="isLoading"
          class="bbn-overlay bbn-middle">
        <div class="bbn-spadding bbn-background-internal bbn-c">
          <div bbn-if="loader"
                class="bbn-vmiddle">
            <bbn-loadicon class="bbn-vmiddle"
                          :size="24"/>
            <span class="bbn-xl bbn-b bbn-left-sspace"
                  bbn-text="currentLoaderText"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <bbn-pager class="bbn-table-footer bbn-no-border-right bbn-no-border-left bbn-no-border-bottom"
               bbn-if="hasPager"
               :item-name="itemName"
               ref="pager"
               :limit="currentLimit"
               :page-name="pageName"
               :buttons="footerButtons"/>
    <component bbn-elseif="(typeof footer === 'string') || (typeof footer === 'object')"
               :is="footer"
               class="bbn-table-footer bbn-no-border-right bbn-no-border-left bbn-no-border-bottom"/>
    <div bbn-elseif="(typeof footer === 'function') && footer()"
         bbn-html="footer()"
         class="bbn-table-footer bbn-no-border-right bbn-no-border-left bbn-no-border-bottom"/>
  </div>
  <bbn-floater bbn-if="currentFilter"
               class="bbn-table-floating-filter bbn-widget"
               :element="filterElement"
               @close="currentFilter = false"
               :auto-hide="true"
               :scrollable="true"
               :left="floatingFilterX"
               :top="floatingFilterY">
    <bbn-filter bbn-bind="getFilterOptions()"
                @set="onSetFilter"
                @unset="unsetCurrentFilter"
                class="bbn-w-100"/>
    <div bbn-if="multifilter"
         class="bbn-table-filter-link bbn-p bbn-b bbn-i bbn-w-100 bbn-bottom-padding bbn-left-padding bbn-right-padding bbn-r"
         @click="openMultiFilter">
      <i class="zmdi zmdi-filter-list"/>
      <span bbn-text="_('Open the full filter')"/>
    </div>
  </bbn-floater>
  <bbn-popup ref="popup" bbn-if="inTable === false"/>
  <bbn-floater bbn-if="focusedElement && (editMode === 'inline') && editedRow"
               class="bbn-widget"
               :element="focusedElement"
               :scrollable="true"
               tabindex="-1"
               :left="focusedElementX"
               :top="focusedElementY">
    <bbn-button :label="_('Save')"
                :disabled="!isEditedValid"
                icon="nf nf-fa-save"
                :notext="true"
                @click.prevent.stop="saveInline"
                style="margin: 0 .1rem"
                tabindex="-1"/>
    <bbn-button :label="_('Cancel')"
                icon="nf nf-md-close_thick"
                :notext="true"
                @click.prevent.stop="cancel"
                style="margin: 0 .1rem"
                tabindex="-1"/>
  </bbn-floater>
</div>
