<div :class="[{
    'bbn-overlay': scrollable,
    'bbn-block': !scrollable
  },
  componentClass,
  'bbn-border'
]">
  <div :class="{
    'bbn-overlay': scrollable,
    'bbn-flex-height': scrollable,
    'bbn-block': !scrollable
  }"
       :style="scrollable && groupCols.length ? {} : {
         width: totalWidth
       }"
       bbn-if="cols.length">
    <!-- Toolbar -->
    <div bbn-if="hasToolbar"
         class="bbn-table-toolbar bbn-header bbn-no-border"
         ref="toolbar">
      <bbn-toolbar bbn-if="toolbarButtons.length || (search && !bbn.fn.isString(toolbar) && !bbn.fn.isObject(toolbar))"
                   :source="toolbarButtons"
                   :slot-before="toolbarSlotBefore"
                   class="bbn-spadding bbn-no-border-left bbn-no-border-right bbn-no-border-top">
        <slot name="toolbar"></slot>
        <div slot="right"
             bbn-if="search"
             class="bbn-hsmargin">
          <bbn-input :nullable="true"
                      button-right="nf nf-fa-search"
                      class="bbn-wide"
                      :placeholder="searchPlaceholder || _('Search in data')"
                      bbn-model="searchValue"/>
        </div>
      </bbn-toolbar>
      <div bbn-elseif="typeof toolbar === 'function'"
           bbn-html="toolbar()"/>
      <component bbn-elseif="toolbar"
                 :is="toolbar"/>
    </div>
    <!-- Main container -->
    <div :class="['bbn-w-100', 'bbn-table-container', {'bbn-flex-fill': scrollable}]"
         ref="main">
      <!--<div bbn-if="initStarted || isLoading"-->
      <div bbn-if="initStarted || isResizing"
           :class="[
            'bbn-middle',
            'bbn-background-internal',
            'bbn-text',
            'bbn-padding',
            {
              'bbn-overlay': !!scrollable,
              'bbn-w-100': !scrollable
            }]"
           style="z-index: 5">
        <bbn-loadicon class="bbn-vmiddle"
                      :size="24"/>
        <span class="bbn-xl bbn-b bbn-left-sspace"
              bbn-text="_('Loading') + '...'"/>
      </div>
      <bbn-scroll bbn-elseif="currentColumns.length"
                  :scrollable="scrollable"
                  :autoresize="false"
                  :class="{'bbn-w-100': !scrollable, 'bbn-overlay': scrollable}"
                  ref="scroll"
                  :disabled="!scrollable"
                  :offset-y="scrollOffsetY"
                  :offset-x="scrollOffsetX"
                  @resize="resizeWidth"
                  @hook:mounted="onScrollMounted"
                  @hook:beforedestroy="onScrollBeforeDestroy">
        <!-- Table -->
        <table :style="{width: totalWidth}"
               ref="table"
               bbn-if="scrollIsMounted"
               aria-describedby="table"
               :class="['bbn-table-' + cssRuleName, 'bbn-table-table']">
          <!-- Colgroups -->
          <colgroup bbn-for="(groupCol, groupIndex) in groupCols"
                    bbn-if="groupCol.cols.length">
            <col bbn-for="(col, colIndex) in groupCol.cols"
                bbn-show="!col.invisible"
                :style="{width: col.realWidth ? col.realWidth + 'px' : 'auto'}"
                :key="groupIndex + '-'+ colIndex">
          </colgroup>
          <!-- Thead -->
          <thead :class="{
                  'bbn-top-left': !titles,
                  'bbn-invisible': !titles
                }"
                ref="thead">
            <!-- Group titles -->
            <tr bbn-if="titles && titleGroups" class="bbn-table-tr-groups-titles">
              <template bbn-for="(groupCol, groupIndex) in groupCols">
                <component is="th"
                           bbn-if="!!groupCol.cols.length"
                           bbn-for="(col, colIndex) in titleGroupsCells(groupIndex)"
                           :colspan="col.colspan"
                           scope="colgroup"
                           :class="['bbn-table-fixed-cell', 'bbn-header', 'bbn-no-border-top', {
                              'bbn-table-fixed-cell-left': groupIndex === 0,
                              'bbn-table-fixed-cell-left-last': (groupIndex === 0) && !titleGroupsCells(groupIndex)[colIndex+1],
                              'bbn-table-fixed-cell-right': groupIndex === 2,
                              'bbn-table-cell-first': (groupIndex === 1) && (colIndex === 0),
                           }]"
                           :title="bbn.fn.html2text(col.text)"
                           :style="{
                              zIndex: (col.left !== undefined) || (col.right !== undefined) ? 4 : 3,
                              top: '0px',
                              left: col.left !== undefined ? (col.left + 'px') : '',
                              right: col.right !== undefined ? (col.right + 'px') : '',
                              width: col.width + 'px'
                           }">
                  <component bbn-if="col.component"
                            :is="col.component"
                            :source="col"/>
                  <div class="bbn-100 bbn-table-title-group" bbn-else>
                    <div class="bbn-iblock"
                        :style="{
                          position: 'sticky',
                          left: 'calc(' + col.contentLeft + 'px + var(--sspace))'
                        }">
                      <div :class="[col.cls, 'bbn-ellipsis']"
                          :style="col.style"
                          bbn-html="col.text"/>
                    </div>
                  </div>
                </div>
              </template>
            </tr>
            <!-- Titles -->
            <tr class="bbn-table-tr-titles">
              <template bbn-for="(groupCol, groupIndex) in groupCols">
                <component is="th"
                           bbn-for="(col, colIndex) in groupCol.cols"
                          :key="(col.field || colIndex) + '|' + (col.label || colIndex)"
                          :ref="'title-' + groupIndex + '-' + colIndex"
                          :data-index="colIndex + (groupIndex === 0 ? 0 : (groupCols[0].cols.length + (groupIndex === 1 ? 0 : groupCols[1].cols.length)))"
                          :data-group-index="groupIndex"
                          :data-visible=""
                          bbn-show="!source.invisible"
                          :class="[
                            'bbn-table-fixed-cell', 'bbn-header', 'bbn-no-border-top', 'bbn-c', 'bbn-ellipsis',
                            titleClass ? (bbn.fn.isFunction(titleClass) ? titleClass(source) : titleClass) : '',
                            col.titleCls || '',
                            {
                              'bbn-table-fixed-cell-left': groupIndex === 0,
                              'bbn-table-fixed-cell-left-last': (groupIndex === 0) && !groupCol.cols[colIndex+1],
                              'bbn-table-fixed-cell-right': groupIndex === 2,
                              'bbn-table-cell-first': (groupIndex === 1)
                                && groupCols?.[0]?.cols?.length
                                && (colIndex === 0)
                            }
                          ]"
                          :title="bbn.fn.html2text(col.flabel || col.label || col.field || ' ')"
                          @hook:create="onTitleCellCreated"
                          @hook:destroy="onTitleCellDestroyed">
                  <a :name="'anchor-' + col.index"/>
                  <template bbn-if="titles">
                    <div bbn-if="col.isSelection" :title="_('Check all')">
                      <bbn-checkbox bbn-model="table.allRowsChecked"/>
                    </div>
                    <div bbn-elseif="col.isExpander" :title="_('Expand all')">
                      <!-- @todo an icon for expanding all/none -->
                    </div>
                    <component bbn-elseif="col.tcomponent"
                              :is="col.tcomponent"
                              :source="col"/>
                    <span class="bbn-p"
                          bbn-elseif="table.sortable && (col.sortable !== false) && !col.buttons && col.field"
                          @click="table.sort(col)">
                      <span bbn-if="col.encoded"
                            bbn-text="col.label || col.field || ' '"/>
                      <span bbn-else
                            bbn-html="col.label || col.field || ' '"/>
                    </span>
                    <span bbn-else>
                      <span bbn-if="col.encoded"
                            bbn-text="col.label || col.field || ' '"/>
                      <span bbn-else
                            bbn-html="col.label || col.field || ' '"/>
                    </span>
                    <i bbn-if="table.sortable && (col.sortable !== false) && !col.buttons && col.field"
                      :class="['bbn-xs bbn-p bbn-bottom-left bbn-left-xsmargin', {
                        'bbn-table-sortable-icon bbn-p bbn-bottom-left': true,
                        'nf nf-md-sort_ascending': isSorted(col)?.dir === 'ASC',
                        'nf nf-md-sort_descending': isSorted(col)?.dir === 'DESC',
                        'nf nf-md-sort_reverse_variant': (col.sortable !== false) && !isSorted(col),
                    }]"
                      :title="_('Sort this column')"
                      @click="sort(col)"/>
                    <i :class="['nf nf-md-filter_variant bbn-p bbn-xs bbn-right-xsmargin bbn-bottom-right', {
                        'bbn-red': hasFilter(col),
                      }]"
                      bbn-if="showFilterOnColumn(col)"
                      :title="_('Filter this column')"
                      @click="showFilter(col, $event)"/>
                  </template>
                </component>
              </template>
            </tr>
          </thead>
          <!-- Tbody -->
          <tbody ref="tbody"
                 :class="{
                   'bbn-overlay': ((!filteredData.length && !tmpRow) || isLoading || isTableDataUpdating) && !!scrollable
                 }"
                 bbn-if="!isLoading && !isTableDataUpdating">
            <!-- Inline insertion -->
            <tr bbn-if="tmpRow">
            </tr>
            <!-- No data -->
            <tr bbn-if="!filteredData.length"
                :class="{
                  'bbn-overlay': !!scrollable,
                  'bbn-middle': !!scrollable
                }"
                :style="{
                  paddingTop: $refs.thead && !!scrollable ? theadHeight + 'px' : 0,
                  maxWidth: !!scrollable ? $el.clientWidth + 'px' : '',
                  left: !!scrollable && getRef('scroll') ? getRef('scroll').currentX + 'px' : ''
                }">
              <td :colspan="currentColumns ? currentColumns.length : 1">
                <div class="bbn-spadding bbn-background-internal bbn-c">
                  <div bbn-if="!isLoading"
                       bbn-html="noData || ' '"/>
                  <div bbn-elseif="loader"
                       class="bbn-vmiddle">
                    <bbn-loadicon class="bbn-vmiddle"
                                  :size="24"/>
                    <span class="bbn-xl bbn-b bbn-left-sspace"
                          bbn-text="currentLoaderText"/>
                  </div>
                </div>
              </td>
            </tr>
            <!-- Rows -->
            <template bbn-for="(row, rowIndex) in items">
              <!-- Group rows = start of a new group -->
              <component is="tr"
                         bbn-if="isGroupActive && (!rowIndex || (items[rowIndex-1].data[cols[group].field] !== row.data[cols[group].field]))"
                        :data-index="rowIndex"
                        :data-group="group"
                        :class="{'bbn-alt': rowIndex % 2}"
                        ref="groupRows">
              </component>
              <component is="tr"
                        :class="rowClass(row)"
                        :style="rowStyle(row)"
                        :data-index="rowIndex"
                        @hook:create="onRowCreated"
                        @hook:destroy="onRowDestroyed">
                <template bbn-for="seq in currentRows[rowIndex]?.sequences || []"
                          :key="seq.uid">
                  <template bbn-if="seq.visible">
                    <component bbn-for="c in seq.items"
                              :key="c.uid"
                              is="td"
                              :class="cellClass(columns[c.index], row)"
                              :ref="'td' + c.index"
                              @hook:create="onCellCreated(row, columns[c.index], rowIndex, c.index)"
                              @save="saveInline"
                              @cancel="cancel"
                              @focusout="focusout(index, $event)"
                              @focusin="focusin(index, $event, c.index)">

                      <span class="bbn-table-dirty bbn-top-left"
                            bbn-if="isDirty(columns[c.index], rowIndex)"/>
                      <div bbn-if="row.selection && isSelectable"
                          class="bbn-c bbn-w-100">
                        <bbn-checkbox bbn-model="row.selected"
                                      :value="true"
                                      :novalue="false"
                                      :strict="true"
                                      @click.stop
                                      @beforechange="(ev, state) => beforeSelect(rowIndex, ev, !state)"
                                      @change="v => checkSelection(rowIndex, v)"
                                      class="bbn-middle bbn-flex"/>
                      </div>
                      <div bbn-elseif="isEdited(row, columns[c.index], rowIndex)">
                        <div bbn-if="(editMode === 'inline')
                              && (editable !== 'nobuttons')
                              && (c.index === colButtons)">
                          <bbn-button :label="_('Save')"
                                      :disabled="!isEditedValid"
                                      icon="nf nf-fa-save"
                                      :notext="true"
                                      @focusin.stop
                                      @click.prevent.stop="$emit('save')"
                                      style="margin: 0 .1rem"/>
                          <bbn-button :label="_('Cancel')"
                                      icon="nf nf-md-close_thick"
                                      :notext="true"
                                      @focusin.stop
                                      @click.prevent.stop="$emit('cancel')"
                                      style="margin: 0 0.1rem"/>
                        </div>
                        <component bbn-elseif="(editMode === 'inline')
                                    && isValidField(columns[c.index].field)
                                    && (columns[c.index].editable !== false)"
                                    bbn-bind="getEditableOptions(columns[c.index])"
                                    :is="getEditableComponent(columns[c.index])"
                                    @click.stop
                                    bbn-model="editedRow[columns[c.index].field]"
                                    style="width: 100%"/>
                        <!--<bbn-field bbn-elseif="(editMode === 'inline')
                                        && table.isValidField(column.field)
                                        && (column.editable !== false)"
                                    bbn-bind="column"
                                    mode="write"
                                    @click.stop
                                    bbn-model="table.editedRow[column.field]"
                                    style="width: 100%"/>-->
                        <bbn-field bbn-elseif="isValidField(columns[c.index].field)
                                    && !columns[c.index].render
                                    && !columns[c.index].buttons"
                                  bbn-bind="columns[c.index]"
                                  @click.stop
                                  :value="row.data[columns[c.index].field]"
                                  :data="row.data"/>
                        <div bbn-elseif="!columns[c.index].buttons && columns[c.index].render"
                              bbn-html="columns[c.index].render(row.data, columns[c.index], rowIndex)"/>
                        <div bbn-elseif="!columns[c.index].buttons"
                              bbn-html="renderDefault(row.data, columns[c.index], rowIndex)"/>
                        <div bbn-else> </div>
                      </div>
                      <template bbn-elseif="columns[c.index].buttons">
                        <template bbn-if="buttonMode === 'dropdown'">
                          <bbn-dropdown :source="buttonSource(row.data, columns[c.index], rowIndex)"
                                        :placeholder="columns[c.index].label.trim() === '' ? _('Action') : columns[c.index].label"
                                        @select="_execCommand"/>
                        </template>
                        <template bbn-elseif="buttonMode === 'menu'">
                          <bbn-context :source="buttonSource(row.data, columns[c.index], rowIndex)"
                                        @select="(it, idx, dataIndex, ev, floater) => onButtonsMenuSelect(it, row.data, columns[c.index], rowIndex, ev, floater)"
                                        :attach="menuIconElement[columns[c.index].uid]">
                            <span class="bbn-iblock bbn-lg">
                              <bbn-icon :content="buttonIcon"
                                        ref="menuIcon"
                                        @hook:created="menuIconElement[columns[c.index].uid] = getRef('menuIcon')"/>
                            </span>
                          </bbn-context>
                        </template>
                        <div bbn-elseif="colButtons === columns[c.index].index">
                          <template bbn-for="(button, bi) in buttonSource(row.data, columns[c.index], rowIndex)"
                                    :key="bi">
                            <component bbn-if="button.component"
                                      :is="button.component"
                                      bbn-bind="button.options || {source: row.data}"
                                      style="margin: 0 .1rem"/>
                            <bbn-button bbn-else
                                        :key="bi"
                                        bbn-bind="button"
                                        @focusin.prevent.stop
                                        @focusout.prevent.stop
                                        @click.prevent.stop="_execCommand(button, row.data, columns[c.index], rowIndex, $event)"
                                        style="margin: 0 .1rem"/>
                          </template>
                        </div>
                        <template bbn-else>
                          <bbn-button bbn-for="(button, bi) in (Array.isArray(columns[c.index].buttons) ? columns[c.index].buttons : columns[c.index].buttons(row.data, columns[c.index], rowIndex))"
                                      :key="bi"
                                      bbn-bind="button"
                                      @focusin.prevent.stop
                                      @focusout.prevent.stop
                                      @click.prevent.stop="_execCommand(button, row.data, columns[c.index], rowIndex, $event)"
                                      style="margin: 0 .1rem"/>
                        </template>
                      </template>
                      <!--slot bbn-elseif="$hasSlots('c')"/-->
                      <component bbn-elseif="columns[c.index].component"
                                :is="columns[c.index].component"
                                bbn-bind="getColOptions(row.data, columns[c.index], rowIndex)"
                                :source="columns[c.index].mapper ? columns[c.index].mapper(row.data) : row.data"/>

                      <div bbn-else
                           bbn-html="renderDefault(row.data, columns[c.index], rowIndex)"/>
                      <table-dots bbn-if="columns[c.index].dots"
                                  :source="{
                                        column: columns[c.index],
                                        index: index,
                                        dataIndex: row.index,
                                        data: row.data,
                                        itemIndex: rowIndex
                                      }"/>

                              
                    </component>
                  </template>
                  <template bbn-else>
                    <component is="td" :colspan="(seq.end - seq.start + 1)"> </component>
                  </template>
                </template>
                  <!-- LAST FIXED COLUMNS --
                  <template bbn-for="(col, colIndex) in groupCols[2].cols">
                    <bbn-table-cell-selector bbn-if="col.isSelection"
                                            :column="col"
                                            :selected="row.selected"
                                            :selection="row.selection"
                                            :source="row.data"
                                            :index="colIndex + groupCols[0].cols.length + groupCols[1].cols.length"
                                            :row-index="rowIndex"
                                            :ref="'td' + colIndex"/>

                    <bbn-table-cell-editor bbn-elseif="!col.isExpander && isEdited(row.data, col, colIndex)"
                                          :tabindex="editable && isEditable(row.data, col, colIndex) ? 0 : -1"
                                          @save="saveInline"
                                          @cancel="cancel"
                                          :column="col"
                                          :source="row.data"
                                          :row-index="rowIndex"
                                          :index="colIndex + groupCols[0].cols.length + groupCols[1].cols.length"
                                          :ref="'td' + colIndex"
                                          @focusout="focusout(colIndex, $event)"/>

                    <bbn-table-cell-buttons bbn-elseif="col.buttons"
                                          :source="row.data"
                                          :mode="buttonMode"
                                          :row-index="rowIndex"
                                          :column="col"
                                          :index="colIndex"
                                          :ref="'td' + colIndex"/>
                    <!-- Group lines just have the cell with the expander and a single big cell 
                    <component is="td"
                              bbn-elseif="!col.isExpander || !isGroupActive"
                              :ref="'td' + colIndex"
                              :tabindex="editable && isEditable(row.data, col, colIndex) ? 0 : -1">
                              
                    </component>
                  </template>
                </template>-->





              </component>
              <bbn-table-row-expansion bbn-if="expander && !isGroupActive && isExpanded(row.data, row.index)"
                                      :source="row"
                                      :index="rowIndex"
                                      :class="{'bbn-alt': rowIndex % 2}"
                                      ref="expansionRows"/>
              <bbn-table-row-aggregate bbn-elseif="row.aggregated || row.groupAggregated"
                                      :source="row"
                                      :class="{'bbn-alt': rowIndex % 2}"
                                      :index="rowIndex"
                                      ref="aggregateRows"/>
              <bbn-table-row-footer bbn-elseif="row.footer && groupFooter && groupable"
                                    :source="row"
                                    :class="{'bbn-alt': rowIndex % 2}"
                                    :index="rowIndex"
                                    ref="footerRows"/>
            </template>
          </tbody>
        </table>
      </bbn-scroll>
      <!-- Loading -->
      <div bbn-if="isLoading || isTableDataUpdating"
          class="bbn-overlay bbn-middle">
        <div class="bbn-spadding bbn-background-internal bbn-c">
          <div bbn-if="loader"
                class="bbn-vmiddle">
            <bbn-loadicon class="bbn-vmiddle"
                          :size="24"/>
            <span class="bbn-xl bbn-b bbn-left-sspace"
                  bbn-text="currentLoaderText"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <bbn-pager class="bbn-table-footer bbn-no-border-right bbn-no-border-left bbn-no-border-bottom"
               bbn-if="hasPager"
               :item-name="itemName"
               ref="pager"
               :limit="currentLimit"
               :page-name="pageName"
               :buttons="footerButtons"/>
    <component bbn-elseif="(typeof footer === 'string') || (typeof footer === 'object')"
               :is="footer"
               class="bbn-table-footer bbn-no-border-right bbn-no-border-left bbn-no-border-bottom"/>
    <div bbn-elseif="(typeof footer === 'function') && footer()"
         bbn-html="footer()"
         class="bbn-table-footer bbn-no-border-right bbn-no-border-left bbn-no-border-bottom"/>
  </div>
  <bbn-floater bbn-if="currentFilter"
               class="bbn-table-floating-filter bbn-widget"
               :element="filterElement"
               @close="currentFilter = false"
               :auto-hide="true"
               :scrollable="true"
               :left="floatingFilterX"
               :top="floatingFilterY">
    <bbn-filter bbn-bind="getFilterOptions()"
                @set="onSetFilter"
                @unset="unsetCurrentFilter"
                class="bbn-w-100"/>
    <div bbn-if="multifilter"
         class="bbn-table-filter-link bbn-p bbn-b bbn-i bbn-w-100 bbn-bottom-padding bbn-left-padding bbn-right-padding bbn-r"
         @click="openMultiFilter">
      <i class="zmdi zmdi-filter-list"/>
      <span bbn-text="_('Open the full filter')"/>
    </div>
  </bbn-floater>
  <bbn-popup ref="popup" bbn-if="inTable === false"/>
  <bbn-floater bbn-if="focusedElement && (editMode === 'inline') && editedRow"
               class="bbn-widget"
               :element="focusedElement"
               :scrollable="true"
               tabindex="-1"
               :left="focusedElementX"
               :top="focusedElementY">
    <bbn-button :label="_('Save')"
                :disabled="!isEditedValid"
                icon="nf nf-fa-save"
                :notext="true"
                @click.prevent.stop="saveInline"
                style="margin: 0 .1rem"
                tabindex="-1"/>
    <bbn-button :label="_('Cancel')"
                icon="nf nf-md-close_thick"
                :notext="true"
                @click.prevent.stop="cancel"
                style="margin: 0 .1rem"
                tabindex="-1"/>
  </bbn-floater>
</div>
