<div :class="[componentClass, 'bbn-background', {
      'bbn-overlay': scrollable,
      'bbn-w-100': !scrollable,
      'bbn-desktop': !isMobile,
     }]"
     :style="{opacity: opacity}"
     @focusin="isFocused = true"
     @focusout="isFocused = false">
  <slot name="before"/>
  <div :class="{
    'bbn-flex-height': scrollable,
    'bbn-w-100': !scrollable
  }">
    <!-- HEADER -->
    <component bbn-if="headerComponent"
               ref="header"
               class="appui-header"
               :is="headerComponent"/>
    <div bbn-elseif="header"
         class="bbn-w-100 bbn-hspadding bbn-vpadding"
         style="overflow: visible">
      <div :class="[
             'bbn-w-100',
             'bbn-flex-width',
             'bbn-unselectable',
             'bbn-no-border',
             {
              'bbn-h-100': !isMobile,
              'bbn-spadded': isMobile
             }
           ]">
        <div class="bbn-h-100 bbn-appui-headleft">
          <slot name="headleft"/>
        </div>
        <div class="bbn-flex-fill bbn-hspadded bbn-middle bbn-h-100  bbn-appui-head">
          <slot name="head"/>
        </div>
        <div class="bbn-h-100 bbn-appui-headright">
          <slot name="headright"/>
        </div>
      </div>
    </div>

    <!-- MAIN -->
    <div bbn-if="ready"
         :class="{
           'bbn-flex-fill': scrollable,
           'bbn-w-100': !scrollable,
           'bbn-appui-center': true
         }">
      <bbn-router :root="root"
                  :source="source"
                  :storage="!!nav"
                  :observer="true"
                  :disabled="disabled"
                  :single="single"
                  :autoload="autoload"
                  :def="def"
                  :post-base-url="!single"
                  ref="router"
                  :nav="nav"
                  :splittable="splittable"
                  :resizable="true"
                  :collapsible="true"
                  :master="true"
                  :url="!!nav ? undefined : url"
                  @beforeroute="onBeforeRoute"
                  @route="onRoute"
                  @load="onLoad"
                  @change="$emit('change', $event)"
                  @shortcut="addShortcut"
                  @route1="$emit('route1')"
                  :breadcrumb="isMobile"
                  :scroll-content="scrollable"
                  :component="component"
                  :component-source="componentSource"
                  :component-url="componentUrl"
                  :url-navigation="urlNavigation">
        <slot/>
      </bbn-router>
      <slot name="central"/>
    </div>


    <!-- FOOTER -->
    <component bbn-if="footerComponent"
               ref="footer"
               class="appui-footer"
               :is="footerComponent"/>
    <!-- STATUS -->
    <div bbn-if="status"
         ref="foot"
         class="bbn-header bbn-bordered-top appui-statusbar"
         style="overflow: visible">
      <div class="bbn-flex-width bbn-h-100">
        <!-- LOADBAR -->
        <div class="bbn-flex-fill bbn-xspadding">
          <bbn-loadbar class="bbn-right-space"
                       ref="loading"
                       bbn-if="loadbar"
                       :source="loaders"/>
        </div>
        <div class="bbn-vmiddle bbn-xspadding bbn-appui-status">
          <slot name="status"/>
        </div>
      </div>
    </div>
  </div>
  <slot name="after"/>
  <!-- POPUPS -->
  <bbn-popup bbn-if="!popup"
            :source="popups"
            ref="popup"
            :z-index="13"/>
  <!-- LOADING MODAL -->
  <div bbn-if="isLoading"
       class="bbn-fixed bbn-pos-top bbn-pos-right bbn-pos-bottom bbn-pos-left"
       style="z-index: 10000">
    <bbn-loader :text="loadingText"
                class="bbn-modal"/>
  </div>
  <component bbn-if="cfg"
             :is="cfg"
             ref="app"/>
</div>

