<div :class="['bbn-overlay', 'bbn-middle', componentClass]"
     :style="'background-color:' + bgColor + '; transition: opacity 3s; opacity: ' + (isInit ? 1 : 0).toString()">
  <bbn-popup ref="popup"
             bbn-if="!popup"
            :top="0"
            :bottom="0"
            :left="0"
            :right="0"/>
  <h2 bbn-if="hasExpired">
    <span class="bbn-nowrap" bbn-text="_('Refresh the page')"/>
    <span class="bbn-nowrap" bbn-text="_('to be able to log in')"/>
    <span class="bbn-nowrap">
      <span bbn-text="_('or click')"/>
      <a class="bbn-p bbn-u"
         style="color: inherit"
         href="javascript:;"
         @click="reload"
         bbn-text="_('here')"/>
    </span>
  </h2>
  <div bbn-else
       class="bbn-login-container"
       :style="{maxHeight: clientHeight + 'px'}">
    <div class="bbn-login-logo bbn-c bbn-block">
      <div bbn-if="isLogoTag"
           bbn-html="logo"/>
      <img bbn-elseif="logo" :src="logo">
    </div>
    <div bbn-if="custom"
         bbn-html="custom"
         class="bbn-login-custom bbn-top-lspace bbn-block"/>
    <slot class="bbn-login-slot bbn-top-lspace bbn-block"/>
    <div class="bbn-vlmargin bbn-c bbn-middle">
      <div bbn-if="currentMode === 'invalid'"
            class="bbn-block">
        <h3 class="bbn-c"
            bbn-text="_('The link is not valid')"/>
        <h3>
          <a href="javascript:;"
             class="bbn-no"
             @click="currentMode = 'login'"
             bbn-text="_('Back to the login page')"/>
        </h3>
      </div>
      <bbn-form bbn-else
                :action="currentUrl"
                :source="currentFormData"
                :data="{mode: currentMode}"
                :buttons="[]"
                :scrollable="false"
                :fixed-footer="false"
                ref="form"
                @submit="onSubmit"
                @success="onAfterSubmit"
                @failure="onFailureSubmit"
                key="form"
                :validation="validation"
                class="bbn-w-100">
        <div bbn-if="currentMode === 'login'"
             class="bbn-w-100">
          <div class="bbn-w-100 bbn-c bbn-vsmargin">
            <bbn-input class="bbn-c bbn-w-100"
                      required="required"
                      button-left="nf nf-fa-envelope_o"
                      :nullable="true"
                      :placeholder="loginFieldPlaceholder"
                      bbn-model="currentFormData.user"/>
          </div>
          <div class="bbn-w-100 bbn-c">
            <bbn-input type="password"
                       class="bbn-c bbn-w-100"
                       required="required"
                       button-left="nf nf-fa-lock"
                       :nullable="true"
                       :placeholder="passwordFieldPlaceholder"
                       bbn-model="currentFormData.pass"/>
          </div>
          <div class="bbn-c bbn-w-100 bbn-vsmargin bbn-flex-width">
            <bbn-button type="button"
                        @click="$refs.form.submit()"
                        :text="_('Log in')"/>
            <div :class="['bbn-flex-fill', 'bbn-r', currentFontSizeClass]"
                 bbn-if="passwordLink">
              <a class="bbn-p"
                 @click="currentMode = 'lost'"
                 bbn-text="passwordLink"/>
            </div>
          </div>
        </div>
        <div bbn-elseif="currentMode === 'lost'"
             class="bbn-w-100">
          <div class="bbn-w-100 bbn-c bbn-vsmargin">
            <bbn-input button-left="nf nf-fa-envelope_o"
                       class="bbn-w-100"
                       required="required"
                       :placeholder="_('Enter your e-mail address')"
                       bbn-model="currentFormData.email"/>
          </div>
          <div class="bbn-c bbn-w-100">
            <bbn-button type="button"
                        class="bbn-right-sspace"
                        @click="currentMode = 'login'"
                        :text="_('Cancel')"/>
            <bbn-button type="button"
                        @click="$refs.form.submit()"
                        :text="_('Send')"/>
          </div>
        </div>
        <div bbn-elseif="currentMode === 'change'"
             class="bbn-w-100">
          <div class="bbn-w-100 bbn-c bbn-vsmargin">
            <bbn-input :type="!!passwordVisible ? 'text' : 'password'"
                      class="bbn-c bbn-w-100"
                      style="min-width: 20rem"
                      required="required"
                      :title="_('Mandatory field, 8 characters minimum')"
                      :placeholder="_('Choose your new password')"
                      :button-right="passwordVisible ? 'nf nf-fa-eye_slash' : 'nf nf-fa-eye'"
                      ref="pass1"
                      pattern=".{8,}"
                      bbn-model="currentFormData.pass1"
                      @clickrightbutton="passwordVisible = !passwordVisible"/>
          </div>
          <div class="bbn-c bbn-w-100 bbn-vsmargin">
            <bbn-input :type="!!passwordVisible ? 'text' : 'password'"
                      class="bbn-c bbn-w-100"
                      style="min-width: 20rem"
                      required="required"
                      :title="_('Mandatory field, 8 characters minimum')"
                      :placeholder="_('Confirm your new password')"
                      :button-right="passwordVisible ? 'nf nf-fa-eye_slash' : 'nf nf-fa-eye'"
                      ref="pass1"
                      pattern=".{8,}"
                      bbn-model="currentFormData.pass2"
                      @clickrightbutton="passwordVisible = !passwordVisible"/>
          </div>
          <div bbn-if="note"
               class="bbn-s bbn-i"
               bbn-text="note"/>
          <div class="bbn-c bbn-vmargin bbn-w-100">
            <bbn-button type="button"
                        @click="$refs.form.submit()"
                        :text="_('Send')"/>
          </div>
        </div>
        <div bbn-elseif="currentMode === 'email'"
             class="bbn-w-100">
          <div class="bbn-w-100 bbn-c bbn-vsmargin">
            <bbn-input class="bbn-c bbn-w-100"
                      required="required"
                      button-left="nf nf-fa-envelope_o"
                      :nullable="true"
                      :placeholder="_('E-mail address')"
                      bbn-model="currentFormData.email"
                      type="email"/>
          </div>
          <div class="bbn-c bbn-w-100 bbn-vsmargin">
            <bbn-button type="button"
                        @click="$refs.form.submit()"
                        :text="_('Send')"/>
          </div>
        </div>
        <div class="bbn-w-100 bbn-top-sspace"
             :style="{visibility: isLoading ? 'visible' : 'hidden'}">
          <bbn-loadicon />
        </div>
      </bbn-form>
    </div>
  </div>
</div>
