<div :class="[componentClass, 'bbn-background-internal', 'bbn-overlay', {'bbn-mobile': isMobile}]"
     style="max-width: min(100%, 1200px); max-height: min(100%, 800px); width: 80vw; height: 60vh">
  <bbn-router mode="tabs"
              :url-navigation="false"
              :autoload="false"
              :visual="false"
              :configuration="false"
              :menu="false"
              :storage="false"
              :scroll-content="true"
              class="bbn-overlay">
    <bbn-container :label="_('Mode')"
                   url="nav"
                   :scrollable="false"
                   :fixed="true">
      <div :class="['bbn-w-100', {'bbn-padding': !isMobile, 'bbn-spadding': isMobile}]">
        <div class="bbn-router-config-mode bbn-w-100 bbn-grid"
            :style="'grid-template-columns: repeat(' + numModes + ', 1fr)'">
          <div class="bbn-h-100"
               bbn-if="visual">
            <div :class="'bbn-border bbn-w-100 bbn-flex-height' + (mode === 'visual' ? ' bbn-selected-border' : '')">
              <div class="bbn-flex-fill">
                <div class="bbn-router-config bbn-router-config-visual">
                  <div class="bbn-bg-black bbn-white">
                    <div class="bbn-100 bbn-middle">
                      <div class="bbn-block">
                        <i :class="'bbn-xl bbn-p nf nf-fa-' + (visualShowAll ? 'minus' : 'plus')"
                          @click="visualShowAll = !visualShowAll"/>
                      </div>
                    </div>
                  </div>
                  <div bbn-for="i in 14"
                      :key="i"
                      bbn-show="visualShowAll || (i < (visualSelected <= 6 ? 6 : 5)) || (i === visualSelected)"
                      @click="onSelect('visual', i)"
                      :class="{
                        'bbn-reactive': visualSelected !== i,
                        'bbn-router-config-mode-selected': !visualShowAll && (visualSelected === i),
                        'bbn-state-selected': visualShowAll && (visualSelected === i)
                      }">
                    <div class="bbn-100 bbn-middle">
                      <div class="bbn-block">
                        <bbn-icon :content="svg"
                                  width="1.5rem"
                                  bbn-if="i !== visualSelected"/>
                        <div :class="{
                          'bbn-s': visualSelected !== i,
                          'bbn-lg': visualSelected === i,
                          'bbn-badge': true
                        }"
                            bbn-text="i"/>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="bbn-b bbn-spadding">
                <div class="bbn-iblock bbn-left-margin bbn-upper bbn-reactive-text"
                    bbn-text="_('visual')"
                    @click="mode = 'visual'"/>
              </div>
            </div>
          </div>

          <div class="bbn-h-100"
              bbn-if="tabs">
            <div :class="'bbn-border bbn-w-100 bbn-flex-height' + (mode === 'tabs' ? ' bbn-selected-border' : '')">
              <div class="bbn-flex-fill">
                <div class="bbn-router-config bbn-router-config-tabs">
                  <div bbn-for="i in 9"
                      :key="i"
                      @click="onSelect('tabs', i)"
                      :class="{'bbn-reactive': tabsSelected !== i, 'bbn-state-selected': tabsSelected === i}">
                    <div class="bbn-badge bbn-s" bbn-text="i"/>
                  </div>
                  <div class="bbn-router-config-mode-selected"
                      @click="onSelect('tabs', tabsSelected)">
                    <div class="bbn-100 bbn-middle">
                      <div class="bbn-block">
                        <div class="bbn-lg bbn-badge"
                            bbn-text="tabsSelected"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bbn-b bbn-spadding">
                <div class="bbn-iblock bbn-left-margin bbn-upper bbn-reactive-text"
                    bbn-text="_('tabs')"
                    @click="onSelect('tabs', tabsSelected)"/>
              </div>
            </div>
          </div>

          <div class="bbn-h-100"
              bbn-if="breadcrumb">
            <div :class="'bbn-border bbn-w-100 bbn-flex-height' + (mode === 'breadcrumb' ? ' bbn-selected-border' : '')">
              <div class="bbn-flex-fill">
                <div class="bbn-router-config bbn-router-config-breadcrumb">
                  <div bbn-for="i in 6"
                      :key="i"
                      bbn-show="breadcrumbActive || (i === breadcrumbSelected)"
                      @click="breadcrumbActive = !breadcrumbActive; breadcrumbSelected = i"
                      :class="{'bbn-reactive': breadcrumbSelected !== i, 'bbn-state-selected': breadcrumbSelected === i}">
                    <div class="bbn-badge bbn-s" bbn-text="i"/>
                  </div>
                  <div class="bbn-router-config-mode-selected"
                      bbn-show="!breadcrumbActive"
                      @click="onSelect('breadcrumb', breadcrumbSelected)">
                    <div class="bbn-100 bbn-middle">
                      <div class="bbn-block">
                        <div class="bbn-lg bbn-badge"
                            bbn-text="breadcrumbSelected"/>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="bbn-b bbn-spadding">
                <div class="bbn-iblock bbn-left-margin bbn-upper bbn-reactive-text"
                    bbn-text="_('breadcrumb')"
                    @click="onSelect('breadcrumb', breadcrumbSelected)"/>
              </div>
            </div>
          </div>
        </div>

        <h2 bbn-text="_('Visual orientation')"
            bbn-if="mode === 'visual'"/>
        <div bbn-if="mode === 'visual'"
             class="bbn-router-config-orientation bbn-grid bbn-w-100">
          <div class="bbn-h-100"
              bbn-for="(ori, dir) in visualOrientations"
              :key="dir">
            <div :class="'bbn-border bbn-w-100 bbn-flex-height' + (currentVisualOrientation === dir ? ' bbn-selected-border' : '')">
              <div class="bbn-flex-fill">
                <div class="bbn-router-config bbn-router-visual-orientation">
                  <div bbn-for="i in 5"
                      :key="i"
                      class="bbn-alt-background-internal">
                    <div class="bbn-100 bbn-middle">
                      <div class="bbn-block bbn-spadding">
                        <bbn-icon :content="svg"
                                  width="1rem"/>
                      </div>
                    </div>
                  </div>
                  <div :style="'grid-area: ' + ori.area">
                    <div class="bbn-100 bbn-middle bbn-p"
                        @click="currentVisualOrientation = dir">
                      <div class="bbn-block bbn-s bbn-light"
                          bbn-text="ori.text"/>
                    </div>
                  </div>

                </div>
              </div>
              <div class="bbn-b bbn-spadding bbn-upper"
                  bbn-text="ori.pos"/>
            </div>
          </div>
        </div>

        <h2 bbn-text="_('Tabs orientation')"
            bbn-if="mode === 'tabs'"/>
        <div bbn-if="mode === 'tabs'"
             class="bbn-router-config-orientation bbn-grid bbn-w-100">
          <div class="bbn-h-100"
              bbn-for="(ori, dir) in tabsOrientations"
              :key="dir">
            <div :class="'bbn-border bbn-w-100 bbn-flex-height' + (dir === currentTabsOrientation ? ' bbn-selected-border' : '')">
              <div class="bbn-flex-fill">
                <div class="bbn-router-config bbn-router-visual-orientation">
                  <div bbn-for="i in 5"
                      :key="i"
                      class="bbn-alt-background-internal">
                    <div class="bbn-100 bbn-middle">
                      <div class="bbn-block bbn-spadding">
                        <bbn-icon :content="svg"
                                  width="1rem"/>
                      </div>
                    </div>
                  </div>
                  <div :style="'grid-area: ' + ori.area">
                    <div class="bbn-100 bbn-middle bbn-p"
                        @click="currentTabsOrientation = dir">
                      <div class="bbn-block bbn-s bbn-light"
                          bbn-text="ori.text"/>
                    </div>
                  </div>

                </div>
              </div>
              <div class="bbn-b bbn-spadding bbn-upper"
                  bbn-text="ori.pos"/>
            </div>
          </div>
        </div>

      </div>
    </bbn-container>
    <bbn-container :label="_('Pages')"
                   url="pages"
                   :scrollable="true"
                   :fixed="true">
      <div class="bbn-w-100 bbn-padding">
        <container bbn-for="v in router.views"
                   inline-template
                   :source="v"
                   :key="v.uid">
          <div class="bbn-section bbn-w-100 bbn-bottom-margin bbn-flex-width bbn-no-padding">
            <div style="height: 8rem" class="bbn-right-lspace">
              <img bbn-if="thumbnail"
                    :src="thumbnail"
                    style="width: auto; height: 8rem; min-width: 8rem;"
                    class="bbn-radius-left">
              <bbn-icon bbn-else
                        content="nf nf-fa-image"
                        size="8rem"/>
            </div>
            <div class="bbn-flex-fill bbn-flex-vcentered bbn-right-padding">
              <div class="bbn-flex-width bbn-bottom-margin">
                <div class="bbn-flex-fill">
                  <bbn-icon :content="source.icon || 'nf nf-fa-question'"
                            class="bbn-right-space bbn-radius bbn-border bbn-spadding"
                            size="1.5rem"
                            @click="browse(source)"/>
                  <span bbn-text="source.label"
                        class="bbn-light bbn-lg bbn-ellipsis"
                        :title="source.label"/>
                </div>
                <div>
                  <bbn-button icon="nf nf-cod-pinned"
                              @click="pin(source)"
                              :label="_('Pin')"
                              :notext="true"
                              :disabled="source.fixed"/>
                  <bbn-button icon="nf nf-fa-arrow_up"
                              @click="moveUp(source)"
                              :label="_('Move up')"
                              :notext="true"
                              :disabled="source.fixed"/>
                  <bbn-button icon="nf nf-fa-arrow_down"
                              @click="moveDown(source)"
                              :label="_('Move down')"
                              :notext="true"
                              :disabled="source.fixed"/>
                  <bbn-button icon="nf nf-fa-trash"
                              @click="del(source)"
                              :label="_('Delete')"
                              :notext="true"
                              :disabled="source.fixed || source.pinned"/>
                </div>
              </div>
              <div class="bbn-flex-width">
                <div class="bbn-flex-fill">
                  <div class="bbn-iflex-width">
                    <span class="bbn-iblock bbn-right-sspace">URL: </span>
                    <span class="bbn-iblock bbn-light bbn-flex-fill bbn-ellipsis bbn-right-sspace"
                          bbn-text="source.current"
                          :title="source.current"/>
                  </div>
                  <div class="bbn-iflex-width">
                    <span class="bbn-iblock"
                          bbn-text="_('Last access') + ': '"/>
                    <span class="bbn-light bbn-flex-fill"
                          bbn-text="bbn.fn.fdate(source.last, true)"/>
                  </div>
                </div>
                <div>
                  <bbn-button icon="nf nf-md-target"
                              @click="select(source)"
                              :label="_('Select')"
                              :notext="true"
                              :disabled="router.selected === source.idx"/>
                  <bbn-button icon="nf nf-fa-camera"
                              :notext="true"
                              :label="_('Make a screenshot')"
                              :disabled="router.selected !== source.idx"
                              @click="screenshot(source)"/>
                  <bbn-button icon="nf nf-fa-edit"
                              @click="edit(source)"
                              :notext="true"
                              :label="_('Edit')"
                              :disabled="source.fixed"/>
                </div>
              </div>
            </div>
          </div>
        </container>
      </div>
    </bbn-container>
    <bbn-container :label="_('Panes')"
                   url="panes"
                   :scrollable="false"
                   :fixed="true">
      <div class="bbn-w-100 bbn-padding">
        <div class="bbn-w-100 bbn-light bbn-lg bbn-vspadding"
             bbn-text="_('Here you will soon be able to decide the panes\' positions and sizes')"/>
        <div class="bbn-w-100 bbn-light bbn-lg bbn-vspadding"
             bbn-text="_('That will not only allow you to backup a complex configuration but also to switch between panes configurations')"/>
      </div>
    </bbn-container>
    <bbn-container :label="_('Backups')"
                   url="backups"
                   :scrollable="true"
                   :fixed="true">
      <div class="bbn-w-100 bbn-padding">
        <div class="bbn-w-100 bbn-light bbn-lg bbn-vspadding"
             bbn-text="_('Here you can save your current router configuration. i.e. all your current tabs')"/>
        <div class="bbn-w-100 bbn-light bbn-lg bbn-vspadding"
             bbn-text="_('That allows you to backup a complex configuration but also to switch easily between different configurations')"/>
        <div class="bbn-w-100 bbn-light bbn-lg bbn-vspadding"
             bbn-text="_('You can also export and import configuration files in order to apply a configuration on another browser or system')"/>
        <hr class="bbn-hr"/>
        <div class="bbn-w-100 bbn-vspadding">
          <bbn-button class="bbn-m"
                      @click="createBackup"
                      icon="nf nf-fa-save"
                      :label="_('Create a backup now')"/>
          <bbn-button class="bbn-m"
                      @click="importBackup"
                      icon="nf nf-fa-file_import"
                      :label="_('Import a backup file')"/>
        </div>
        <div class="bbn-w-100 bbn-vspadding">
          <div bbn-if="!backups.length"
              bbn-text="_('No backups available yet.')"/>
          <ul class="bbn-ul"
              bbn-else>
            <li bbn-for="(backup, idx) in backups"
                :key="backup.key"
                class="bbn-bottom-space bbn-flex-width bbn-vcentered bbn-no-pointer-events">
              <div class="bbn-flex-fill bbn-ellipsis">
                <span class="bbn-bold"
                      bbn-text="bbn.dt(backup.date).fdate(false, true)"/>
                <span bbn-text="' - ' + backup.num + ' ' + _('tabs')"/>
              </div>
              <div>
                <bbn-button icon="nf nf-fa-undo"
                            :label="_('Restore')"
                            :notext="true"
                            @click="restoreBackup(backup)"/>
                <bbn-button icon="nf nf-fa-download"
                            :label="_('Export')"
                            :notext="true"
                            @click="exportBackup(backup)"/>
                <bbn-button icon="nf nf-fa-trash"
                            :label="_('Delete')"
                            :notext="true"
                            @click="deleteBackup(backup, idx)"/>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </bbn-container>
  </bbn-router>
</div>