
<div :class="['bbn-widget', componentClass, 'bbn-primary-border' ,'bbn-progressbar-wrap', {
       'bbn-progressbar-horizontal' : (orientation === 'horizontal'),
       'bbn-progressbar-vertical' : (orientation === 'vertical'),
       'bbn-reverse-bar': reverse,
       'bbn-radius': !!radius
     }]"
     :rotate="rotate"
     :style="orientationStyle"
     :type="type">
  <div bbn-if="type === 'chunk'"
       :class="['chunk', 'bbn-overlay', {'bbn-radius': !!radius}]"
       :style="chunkStyle">
    <div bbn-for="n in chunknumber"
         :class="['block', {
           'bbn-background-effect-primary': !barColor.length && ( ((!reverse) && (n <= selectedChunks)) || ((reverse) && (n > chunknumber - selectedChunks)))
         }]"
         :style="barColor.length && ( ((!reverse) && (n <= selectedChunks)) || ((reverse) && (n > chunknumber - selectedChunks))) ? 'background-color:'+ barColor : ''"/>
  </div>
  <div bbn-else
       :class="['bbn-overlay', barClass, {'bbn-radius': !!radius}]"
       :style="style"/>
  <div :class="['bbn-wrap', realValuePosition, 'bbn-no-border']"
       style="height: 100%">
    <div :class="['bbn-progress-status', {'bbn-hspadded': (orientation === 'horizontal')}]"
         bbn-text="(showValue ? (value + ( showUnit ? unit : '' ) ) : '') + (!!text ? ( showValue ? ' ' : '') + '(' + text + ')' : '')"
         :style="textColor.length ? 'color: '+ textColor + '!important' : ''"/>
  </div>
</div>