<div :class="[componentClass, 'bbn-iblock']"
     tabindex="-1">
  <div>
    <bbn-input bbn-if="mode === 'double'"
               bbn-model="currentTextInput"
              :readonly="!!readonly || (max && (value.length > max))"
              :disabled="isDisabled"
              :tabindex="currentTabIndex"
              @keydown="onKeydown"
              @focus="isOpened = true"
              ref="input"
              class="bbn-w-100"
              :placeholder="max && (value.length > max) ? _('Max number of') + ' ' + max : (this.textPlaceholder || _('Text'))"/>
    <div bbn-elseif="mode === 'dropdown'"
         class="bbn-border bbn-radius bbn-flex-width">
      <bbn-dropdown :source="source"
                    :readonly="!!readonly || (max && (value.length > max))"
                    :disabled="isDisabled"
                    :tabindex="currentTabIndex"
                    :source-value="sourceValue"
                    :source-text="sourceText"
                    ref="input"
                    :placeholder="max && (value.length > max) ? _('Max number of') + ' ' + max : (this.placeholder || _('Value'))"
                    bbn-model="currentInput"
                    class="bbn-values-dropdown bbn-no-border bbn-flex-fill"/>
      <bbn-button class="bbn-values-dropdown-button bbn-no-vborder bbn-no-right-border"
                  :notext="true"
                  :tabindex="currentTabIndex"
                  icon="nf nf-fa-plus"
                  @click="add"
                  :disabled="isDisabled || (max && (value.length > max)) || !currentInput.length"/>
    </div>
    <bbn-input bbn-if="mode !== 'dropdown'"
               bbn-model="currentInput"
              :readonly="!!readonly || (max && (value.length > max))"
              :disabled="isDisabled"
              @keydown="onKeydown"
              @focus="isOpened = true"
              :tabindex="currentTabIndex"
              ref="input"
              @ready="ready = true"
              class="bbn-w-100"
              :placeholder="max && (value.length > max) ? _('Max number of') + ' ' + max : (this.placeholder || _('Value'))"
              :action-right="add"
              button-right="nf nf-fa-plus"
              :button-right-disabled="(!!max && (value.length >= max)) || isDisabled || !!readonly"
              :button-right-title="_('Add')"/>
  </div>
  <div>
    <div bbn-for="(v, idx) in value"
         class="bbn-textbox bbn-iblock bbn-xsmargin">
      <div class="bbn-vxspadding bbn-hspadding">
         <span class="bbn-right-xshmargin"
               bbn-text="getText(v)"/>
         <i :class="['nf nf-fa-times_circle', 'bbn-p', {'bbn-state-disabled': isDisabled || readonly}]"
            @click="removeItem(idx)"
            :tabindex="currentTabIndex"
            @keyup.enter.space="removeItem(idx)"
            :title="_('Delete')"
            :style="{'background-color': isDisabled || readonly ? 'transparent !important' : ''}"/>
      </div>
    </div>
  </div>
  <bbn-floater bbn-if="(mode === 'input') && ready && !isDisabled && !readonly && filteredData.length && currentInput.length"
               :element="$refs.input.$el"
               bbn-show="isOpened"
               :min-width="$refs.input.$el.clientWidth"
               :width="undefined"
               :height="undefined"
               ref="list"
               :auto-hide="true"
               @select="select"
               @close="isOpened = false"
               :source="filteredData"/>
  <input class="bbn-hidden"
         :value="value"
         :readonly="readonly"
         :required="required">
</div>