<div :class="[componentClass, {
             'bbn-invisible': !ready,
             'bbn-overlay': scrollContent,
             'bbn-flex-width': isVisual && !visualShowAll && ['left', 'right'].includes(visualOrientation),
             'bbn-flex-height': isVisual && !visualShowAll && !['left', 'right'].includes(visualOrientation),
             }]"
      @keydown.esc="onEscape">
  <bbn-loader class="bbn-overlay"
              bbn-if="!ready"/>
  <bbn-splitter :resizable="resizable"
                :collapsible="collapsible"
                :full-size="scrollContent"
                bbn-forget="!splittable"
                :class="isVisual && !visualShowAll ? 'bbn-flex-fill' : ''"
                ref="topSplitter">
    <bbn-pane :scrollable="false"
              bbn-forget="!splittable"
              :resizable="true"
              ref="mainPane"
              @hook:mounted="onMainPaneMounted">
      <div :class="{
                  'bbn-100': scrollContent,
                  'bbn-flex-height': scrollContent && !hasVerticalTabs && (!isVisual || !['left', 'right'].includes(visualOrientation)),
                  'bbn-flex-width': hasVerticalTabs || (isVisual && ['left', 'right'].includes(visualOrientation)),
                  'bbn-router-nav': isNav && !isVisual,
                  'bbn-router-nav-bc': !!breadcrumbMaster,
                  'bbn-router-nav-verticaltabs': hasVerticalTabs
                  }"
           bbn-forget="!isNav && !scrollContent"
           :style="{
              backgroundColor: parentContainer?.currentView?.bcolor || 'inherit',
              flexDirection: flexDirectionStyle
            }">
        <!-- VISUAL MODE -->
        <bbn-scroll class="bbn-router-scroller"
                    axis="y"
                    :scrollable="visualShowAll"
                    :style="{
                      overflow: 'auto',
                      height: visualShowAll || ['left', 'right'].includes(visualOrientation) ? '100%' : 'auto',
                      width: visualShowAll || !['left', 'right'].includes(visualOrientation) ? '100%' : 'auto',
                    }"
                    bbn-if="isVisual">
          <div class="bbn-w-100 bbn-router-visual"
              :style="visualStyle"
              bbn-if="visualList.length > 1"
              ref="visualRouter"
              :tabindex="visualShowAll ? 0 : -1">
            <div bbn-if="views.length > numVisuals"
                :class="'bbn-bg-black bbn-white bbn-p bbn-radius bbn-sshadow' + (isMobile ? '' : ' bbn-container-ratio')"
                style="order: 1;"
                @click="visualShowAll = !visualShowAll">
              <div class="bbn-100 bbn-middle bbn-flex">
                <div :class="{'bbn-block': true, 'bbn-xxxl': !isMobile, 'bbn-xxl': isMobile}">
                  <i :class="'nf nf-md-' + (visualShowAll ? 'minus' : 'plus') + '_thick'"/>
                </div>
              </div>
            </div>
            <div bbn-for="(a, i) in visualList"
                :key="a.uid"
                :style="{order: i + 2}"
                :class="'bbn-sshadow bbn-radius' + (isMobile ? '' : ' bbn-container-ratio')"
                bbn-show="(visualShowAll || a.visible) && (a.idx !== selected)">
              <div class="bbn-overlay bbn-flex-height">
                <!-- Thumbnail image -->
                <div :class="['bbn-transition-bcolor', 'bbn-b', 'bbn-xspadding', {
                      'bbn-flex-width': !isMobile || (selected === a.idx),
                      'bbn-flex-fill': isMobile && (selected !== a.idx)
                    }]"
                    :style="{
                      backgroundColor: views[a.idx]?.bcolor || bcolor,
                      color: views[a.idx]?.fcolor || fcolor
                    }">
                  <div :class="{'bbn-flex-fill': !isMobile || views[a.idx]?.selected, 'bbn-vmiddle': true}">
                    <bbn-icon bbn-if="views[a.idx]?.icon"
                              class="bbn-right-sspace bbn-lg"
                              :content="views[a.idx]?.icon"/>
                    <span bbn-text="views[a.idx]?.label || ''"
                          :class="['bbn-p', {
                            'bbn-router-visual-title': isMobile && !views[a.idx]?.selected,
                            'bbn-ellipsis': isMobile && views[a.idx]?.selected,
                            'bbn-right-padding': isMobile && views[a.idx]?.selected,
                          }]"
                          style="overflow: hidden"
                          :tabindex="isMobile ? -1 : null"
                          @click="getContainer(a.idx).show()"/>
                  </div>
                </div>
                <div :class="['bbn-flex-fill', {'bbn-middle': !thumbnails[a.uid]}]">
                  <img :src="thumbnails[a.uid].image"
                      style="width: 100%; max-height: 100%; height: auto"
                      class="bbn-router-thumbnail"
                      bbn-if="thumbnails[a.uid]">
                  <div bbn-else
                      class="bbn-block">
                    <i class="nf nf-md-camera_off_outline bbn-xxxxl"/>
                  </div>
                  <!-- When in visual mode this is the interaction layer -->
                  <div bbn-if="!isMobile"
                      class="bbn-overlay"
                      @click="getContainer(a.idx).show()"
                      @mouseenter="isOverThumb = a.uid"
                      @mouseleave="isOverThumb = false"
                      style="z-index: 1">
                    <transition name="fade">
                      <div class="bbn-bottom-left bbn-w-100"
                          bbn-show="isOverThumb === a.uid"
                          bbn-if="!views[a.idx]?.fixed && (selected !== a.idx)">
                        <!-- Semi-transparent dark layer these buttons are not used -->
                        <div class="bbn-overlay bbn-bg-black"
                            style="opacity: 0.6; color: transparent"/>
                        <!-- These buttons are the real ones (white) -->
                        <div class="bbn-w-100 bbn-white">
                          <!--div class="bbn-w-50 bbn-spadding">
                            &nbsp;
                            <bbn-context class="bbn-spadding bbn-iblock bbn-p"
                                        tag="span"
                                        :source="showMenu">
                              <i class="nf nf-fa-bars"
                                @click.stop="pin"/>
                            </bbn-context>
                          </div-->
                          <div class="bbn-w-100 bbn-r bbn-vspadding">
                            <span bbn-if="!bbn.fn.getField(views, 'pinned', {uid: a.uid})"
                                  @click.stop="getContainer(a.idx).pin()"
                                  class="bbn-right-xsmargin bbn-p">
                              <i class="nf nf-oct-pin"/>
                            </span>
                            <span class="bbn-right-xsmargin bbn-p"
                                  @click.stop="getContainer(a.idx).close()"
                                  bbn-if="!bbn.fn.getField(views, 'pinned', {uid: a.uid})">
                              <i class="nf nf-md-close_thick"/>
                            </span>
                            <span class="bbn-right-xsmargin bbn-p"
                                  @click.stop="getContainer(a.idx).unpin()"
                                  bbn-else>
                              <i class="nf nf-md-pin_off"/>
                            </span>
                          </div>
                        </div>
                      </div>
                    </transition>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </bbn-scroll>
        <!-- START OF BREADCRUMB -->
        <div bbn-if="isNav && breadcrumbMaster"
            ref="breadcrumb"
            :class="['bbn-router-breadcrumb', {'bbn-router-breadcrumb-master': master}]">
          <div bbn-if="isBreadcrumbMaster"
              class="bbn-router-breadcrumb-container">
            <div class="bbn-transition-bcolor bbn-h-100 bbn-alt bbn-border-bottom bbn-no-border-top bbn-no-border-right bbn-vmiddle"
                :style="{
                        backgroundColor: getBackgroundColor(selected),
                        color: getFontColor(selected)
                        }">
              <div class="bbn-flex-width bbn-h-100 bbn-vmiddle">
                <template bbn-if="breadcrumbs.length"
                          bbn-for="(bc, i) in breadcrumbs">
                  <div bbn-if="i > 0">
                    <i class="nf nf-fa-angle_right bbn-hsmargin bbn-router-breadcrumb-arrow"/>
                  </div>
                  <bbn-context :source="bc.getList(i)"
                              tag="div"
                              min-width="10rem"
                              tabindex="0"
                              :item-component="$options.components.listItem"
                              :class="['bbn-h-100', 'bbn-vmiddle', {
                                'bbn-flex-fill': i === breadcrumbs.length - 1
                              }]"
                              :attach="breadcrumbMasterElement"
                              :attach-width="true"
                              :autobind="false"
                              :style="{
                                backgroundColor: bc.getBackgroundColor(bc.selected),
                                color: bc.getFontColor(bc.selected)
                              }">
                    <bbn-context :source="bc.getMenuFn(bc.selected)"
                                :source-index="isNumber(bc.selected) ? bc.selected : undefined"
                                tag="div"
                                min-width="10rem"
                                tabindex="0"
                                :context="true"
                                :autobind="false"
                                class="bbn-vmiddle bbn-h-100">
                      <div class="bbn-vmiddle bbn-h-100">
                        <div class="bbn-router-breadcrumb-badge-container bbn-middle"
                            bbn-if="isNumber(bc.selected) && bc.views[bc.selected] && numProperties(bc.views[bc.selected].events)">
                          <span class="bbn-badge bbn-small bbn-bg-red"
                                bbn-text="numProperties(bc.views[bc.selected].events)"/>
                        </div>
                        <div class="bbn-router-breadcrumb-loader bbn-border-text"
                            :style="{borderColor: isNumber(bc.selected) && bc.views[bc.selected] && bc.views[bc.selected].fcolor ? bc.views[bc.selected].fcolor : null}"
                            bbn-show="isNumber(bc.selected) && bc.views[bc.selected] && bc.views[bc.selected].loading"/>
                        <div :class="[
                                    'bbn-router-breadcrumb-element',
                                    'bbn-h-100',
                                    'bbn-vmiddle',
                                    {
                                      'bbn-router-breadcrumb-dirty': isNumber(bc.selected)
                                      && bc.views[bc.selected]
                                      && !!bc.views[bc.selected].dirty
                                    }
                                    ]">
                          <span bbn-if="isNumber(bc.selected) && bc.views[bc.selected] && bc.views[bc.selected].icon"
                                :title="bc.views[bc.selected].label"
                                :class="'bbn-router-breadcrumb-element-icon bbn-h-100 bbn-vmiddle bbn-right-xsspace' + (bc.views[bc.selected].notext ? ' bbn-lg' : ' bbn-m')">
                            <bbn-icon :content="bc.views[bc.selected].icon"/>
                          </span>
                          <span bbn-if="isNumber(bc.selected) && bc.views[bc.selected] && !bc.views[bc.selected].notext"
                                :class="['bbn-router-breadcrumb-element-text', {'bbn-b': !breadcrumbs[i+1]}]"
                                :title="bc.views[bc.selected].label && (bc.views[bc.selected].label.length > bc.maxTitleLength) ? bc.views[bc.selected].label : ''"
                                bbn-html="bc.views[bc.selected].label ? bc.cutTitle(bc.views[bc.selected].label) : _('Untitled')"/>
                        </div>
                        <span bbn-if="isNumber(bc.selected)
                                && bc.views[bc.selected]
                                && !bc.views[bc.selected].fixed
                                && !bc.views[bc.selected].pinned"
                          class="bbn-p bbn-iblock bbn-top-right bbn-xspadding bbn-xs"
                          @mousedown.prevent.stop="bc.close(bc.selected)"
                          @mouseup.prevent.stop>
                          <i class="nf nf-md-close_thick"/>
                        </span>
                        <bbn-context bbn-if="isNumber(bc.selected) && bc.views[bc.selected] && bc.views[bc.selected].menu"
                                    :source="() => bc.getMenuFn(bc.selected)"
                                    tag="span"
                                    class="bbn-p bbn-iblock bbn-bottom-right bbn-hxspadding bbn-xs">
                          <i class="nf nf-fa-caret_down"/>
                        </bbn-context>

                      </div>
                    </bbn-context>
                  </bbn-context>
                </template>
              </div>
            </div>
          </div>
        </div>
        <!-- END OF BREADCRUMB -->
        <!-- START OF TABS -->
        <bbn-tabs bbn-elseif="isNav && !isBreadcrumb && !isVisual && routed"
                  ref="tabs"
                  bbn-model="selectedTab"
                  @close="closeTab"
                  :scrollable="scrollable"
                  :max-title-length="maxTitleLength"
                  :source="tabsItems"
                  :position="tabsOrientation === 'auto' ? undefined : tabsOrientation"
                  :rounded="rounded">
          <slot name="tabs"/>
        </bbn-tabs>
        <!-- END OF TABS -->
        <!-- START OF CONTENT -->
        <div :class="['bbn-flex-fill', {
          'bbn-router-visual-container': isVisual,
          'bbn-right-spadding': isVisual && !visualShowAll && ['left', 'top', 'bottom'].includes(visualOrientation),
          'bbn-left-spadding': isVisual && !visualShowAll && ['left', 'right', 'top', 'bottom'].includes(visualOrientation),
          'bbn-bottom-spadding': isVisual && !visualShowAll && ['right', 'top', 'left', 'bottom'].includes(visualOrientation),
        }]"
             bbn-forget="!scrollContent"
             bbn-show="!visualShowAll"
             bbn-if="db && ready">
          <slot :filter="filterIsContainer"/>
          <bbn-container bbn-for="a in views"
                          bbn-if="!a.real"
                          :key="a.uid"
                          bbn-portal="portalTargets[a.idx]"
                          :visual="isVisual && !a.pane"
                          bbn-bind="component ? {component} : a"
                          :url="a.url !== undefined ? a.url : componentSource[componentUrl]"/>
        </div>
        <!-- END OF CONTENT -->
      </div>
    </bbn-pane>
    <!-- START FOR SPLITTABLE MODE -->
    <bbn-pane bbn-if="!single && splittable && currentPanes.length && ready"
              :scrollable="false"
              :resizable="true"
              size="30%">
      <bbn-splitter :resizable="resizable"
                    :collapsible="collapsible"
                    @hook:mounted="splitterMounted = true"
                    @hook:beforedestroy="splitterMounted = false"
                    ref="splitter">
        <bbn-pane bbn-for="(pane, i) in currentPanes"
                  :key="pane.id"
                  bbn-if="splitterMounted"
                  :ref="'pane' + pane.id"
                  :label="pane.tabs[pane.selected] ? pane.tabs[pane.selected].label : null"
                  :size="i ? Math.floor(100/currentPanes.length) + '%' : null"
                  :scrollable="false">
          <div class="bbn-overlay bbn-flex-height bbn-router-nav">
            <!-- PANE TABS -->
            <bbn-tabs :scrollable="true"
                      :source="pane.tabs"
                      :key="pane.url"
                      :closable="false"
                      bbn-model="pane.selected"
                      bbn-if="routed"
                      @change="selectPaneTab(pane)"
                      :limit="5"/>
            <!-- PANE CONTENT -->
            <div class="bbn-flex-fill">
              <div bbn-for="(tab, tabIndex) in pane.tabs"
                   class="bbn-overlay"
                   bbn-show="pane.selected === tabIndex"
                   @hook:create="onCreatePaneContainer($event, pane.id + '-' + tab.uid)"
                   @hook:destroy="onRemovePaneContainer($event, pane.id + '-' + tab.uid)"/>
            </div>
          </div>
        </bbn-pane>
      </bbn-splitter>

    </bbn-pane>
  </bbn-splitter>
  <bbn-screenshot bbn-if="!parent && configuration"
                  ref="screenshot"/>
</div>
