<div :class="[componentClass, {
             'bbn-invisible': !ready,
             'bbn-overlay': scrollContent,
             'bbn-flex-width': isVisual && !visualShowAll && ['left', 'right'].includes(visualOrientation),
             'bbn-flex-height': isVisual && !visualShowAll && !['left', 'right'].includes(visualOrientation),
             }]"
      :style="isVisual && !visualShowAll ? {
        flexDirection: visualOrientation === 'right' ? 'row-reverse' : visualOrientation === 'left' ? 'row' : visualOrientation === 'bottom' ? 'column-reverse' : 'column'
      } : {}"
      @keydown.esc="onEscape">
  <bbn-loader class="bbn-overlay"
              bbn-if="changingConfig || !ready"/>


  <bbn-scroll class="bbn-router-scroller"
              :scrollable="visualShowAll"
              axis="y"
              :style="{
                overflow: 'auto',
                height: visualShowAll || ['left', 'right'].includes(visualOrientation) ? '100%' : (visualSize+20) + 'px',
                width: visualShowAll || !['left', 'right'].includes(visualOrientation) ? '100%' : (visualSize+20) + 'px',
              }"
              bbn-if="isVisual">
    <div class="bbn-w-100 bbn-router-visual"
        :style="visualStyle"
        ref="visualRouter"
        :tabindex="visualShowAll ? 0 : -1">
      <div bbn-if="(selected !== null) && (views.length > numVisuals)"
          class="bbn-bg-black bbn-white bbn-p bbn-container-ratio"
          @click="visualShowAll = !visualShowAll">
        <div class="bbn-overlay bbn-middle">
          <div class="bbn-block bbn-xxxl">
            <i :class="'nf nf-fa-' + (visualShowAll ? 'minus' : 'plus')"/>
          </div>
        </div>
      </div>
      <div bbn-for="a in visualList"
           :key="a.view.uid"
           :ref="'bbn-router-visual-' + a.view.uid"
           bbn-if="!a.view.real"
           bbn-show="(a.view.idx !== selected) && !a.view.pane"
           @hook:create="addVisualContainer($event, a.view.uid)"
           @hook:destroy="removeVisualContainer($event, a.view.uid)"/>
    </div>
  </bbn-scroll>
  <bbn-splitter :resizable="resizable"
                :collapsible="collapsible"
                :full-size="scrollContent"
                bbn-forget="!splittable"
                :class="isVisual && !visualShowAll ? 'bbn-flex-fill' : ''"
                ref="topSplitter">
    <bbn-pane :scrollable="false"
              bbn-forget="!splittable">
      <div :class="{
                  'bbn-100': scrollContent,
                  'bbn-flex-height': scrollContent && !hasVerticalTabs,
                  'bbn-flex-width': hasVerticalTabs,
                  'bbn-router-nav': nav,
                  'bbn-router-nav-bc': nav && isBreadcrumb,
                  'bbn-router-nav-verticaltabs': hasVerticalTabs
                  }"
           bbn-forget="!nav && !scrollContent"
           :style="{backgroundColor: parentContainer?.currentView?.bcolor || 'inherit'}">
        <!-- START OF BREADCRUMB -->
        <div bbn-if="nav && isBreadcrumb && !isVisual"
            ref="breadcrumb"
            :class="['bbn-router-breadcrumb', {'bbn-router-breadcrumb-master': master}]">
          <div bbn-if="isBreadcrumbMaster"
              class="bbn-router-breadcrumb-container">
            <div class="bbn-transition-bcolor bbn-h-100 bbn-alt bbn-border-bottom bbn-no-border-top bbn-no-border-right bbn-vmiddle"
                :style="{
                        backgroundColor: getBackgroundColor(selected),
                        color: getFontColor(selected)
                        }">
              <div class="bbn-flex-width bbn-h-100 bbn-vmiddle">
                <template bbn-if="breadcrumbs.length"
                          bbn-for="(bc, i) in breadcrumbs">
                  <div bbn-if="i > 0">
                    <i class="nf nf-fa-angle_right bbn-hsmargin bbn-router-breadcrumb-arrow"/>
                  </div>
                  <bbn-context :source="bc.getList(i)"
                              tag="div"
                              min-width="10rem"
                              tabindex="0"
                              :item-component="$options.components.listItem"
                              :class="['bbn-h-100', 'bbn-vmiddle', {
                                'bbn-flex-fill': i === breadcrumbs.length - 1
                              }]"
                              :attach="itsMaster ? (itsMaster.getRef('breadcrumb') || undefined) : undefined"
                              :autobind="false"
                              :style="{
                                      backgroundColor: bc.getBackgroundColor(bc.selected),
                                      color: bc.getFontColor(bc.selected)
                                      }">
                    <bbn-context :source="bc.getMenuFn"
                                :source-index="isNumber(bc.selected) ? bc.selected : undefined"
                                tag="div"
                                min-width="10rem"
                                tabindex="0"
                                :context="true"
                                :autobind="false"
                                class="bbn-vmiddle bbn-h-100">
                      <div class="bbn-vmiddle bbn-h-100">
                        <div class="bbn-router-breadcrumb-badge-container bbn-middle"
                            bbn-if="isNumber(bc.selected) && bc.views[bc.selected] && numProperties(bc.views[bc.selected].events)">
                          <span class="bbn-badge bbn-small bbn-bg-red"
                                bbn-text="numProperties(bc.views[bc.selected].events)"/>
                        </div>
                        <div class="bbn-router-breadcrumb-loader bbn-border-text"
                            :style="{borderColor: isNumber(bc.selected) && bc.views[bc.selected] && bc.views[bc.selected].fcolor ? bc.views[bc.selected].fcolor : null}"
                            bbn-show="isNumber(bc.selected) && bc.views[bc.selected] && bc.views[bc.selected].loading"/>
                        <div :class="[
                                    'bbn-router-breadcrumb-element',
                                    'bbn-h-100',
                                    'bbn-vmiddle',
                                    {
                                      'bbn-router-breadcrumb-dirty': isNumber(bc.selected)
                                      && bc.views[bc.selected]
                                      && !!bc.views[bc.selected].dirty
                                    }
                                    ]">
                          <span bbn-if="isNumber(bc.selected) && bc.views[bc.selected] && bc.views[bc.selected].icon"
                                :title="bc.views[bc.selected].label"
                                :class="'bbn-router-breadcrumb-element-icon bbn-h-100 bbn-vmiddle bbn-right-xsspace' + (bc.views[bc.selected].notext ? ' bbn-lg' : ' bbn-m')">
                            <bbn-icon :content="bc.views[bc.selected].icon"/>
                          </span>
                          <span bbn-if="isNumber(bc.selected) && bc.views[bc.selected] && !bc.views[bc.selected].notext"
                                :class="['bbn-router-breadcrumb-element-text', {'bbn-b': !breadcrumbs[i+1]}]"
                                :title="bc.views[bc.selected].label && (bc.views[bc.selected].label.length > bc.maxTitleLength) ? bc.views[bc.selected].label : ''"
                                bbn-html="bc.views[bc.selected].label ? bc.cutTitle(bc.views[bc.selected].label) : _('Untitled')"/>
                        </div>
                        <span bbn-if="isNumber(bc.selected)
                                && bc.views[bc.selected]
                                && !bc.views[bc.selected].fixed
                                && !bc.views[bc.selected].pinned"
                          class="bbn-p bbn-iblock bbn-top-right bbn-hxspadding bbn-xs"
                          @mousedown.prevent.stop="bc.close(bc.selected)"
                          @mouseup.prevent.stop>
                          <i class="nf nf-fa-times"/>
                        </span>
                        <bbn-context bbn-if="isNumber(bc.selected) && bc.views[bc.selected] && bc.views[bc.selected].menu"
                                    :source="() => bc.getMenuFn(bc.selected)"
                                    tag="span"
                                    class="bbn-p bbn-iblock bbn-bottom-right bbn-hxspadding bbn-xs">
                          <i class="nf nf-fa-caret_down"/>
                        </bbn-context>

                      </div>
                    </bbn-context>
                  </bbn-context>
                </template>
              </div>
            </div>
          </div>
        </div>
        <!-- END OF BREADCRUMB -->
        <!-- START OF LEFT|TOP TABS -->
        <bbn-tabs bbn-elseif="nav && !isBreadcrumb && !isVisual && !['right', 'bottom'].includes(orientation)"
                  ref="tabs"
                  bbn-model="selectedTab"
                  @close="closeTab"
                  :scrollable="scrollable"
                  :max-title-length="maxTitleLength"
                  :source="tabsList"
                  :position="orientation === 'auto' ? undefined : orientation"><slot name="tabs"/></bbn-tabs>
        <!-- END OF LEFT|TOP TABS -->
        <!-- START OF CONTENT -->
        <div class="bbn-flex-fill"
             bbn-forget="!scrollContent">
          <slot :filter="filterIsContainer"/>
          <bbn-container bbn-for="a in views"
                          bbn-if="ready && !a.real"
                          :key="a.uid"
                          :visual="isVisual"
                          bbn-portal="a.idx === selected ? false : getPortal(a)"
                          bbn-bind="component ? {component} : a"
                          :url="a.url !== undefined ? a.url : componentSource[componentUrl]"/>
        </div>
        <!-- END OF CONTENT -->
        <!-- START OF RIGHT|BOTTOM TABS -->
        <bbn-tabs bbn-if="nav && !isBreadcrumb && !isVisual && ['right', 'bottom'].includes(orientation)"
                  ref="tabs"
                  bbn-model="selectedTab"
                  @close="closeTab"
                  :scrollable="scrollable"
                  :max-title-length="maxTitleLength"
                  :source="tabsList"
                  :position="orientation"/>
        <!-- END OF RIGHT|BOTTOM TABS -->
      </div>
    </bbn-pane>
    <!-- START FOR SPLITTABLE MODE -->
    <bbn-pane bbn-if="!single && splittable && currentPanes.length && ready"
              :scrollable="false"
              size="30%">
      <bbn-splitter :resizable="resizable"
                    :collapsible="collapsible"
                    @resize="splitterMounted = true"
                    ref="splitter">
        <bbn-pane bbn-for="(pane, i) in currentPanes"
                  :key="i"
                  :ref="'pane' + pane.id"
                  :label="pane.tabs[pane.selected] ? pane.tabs[pane.selected].label : null"
                  :size="i ? Math.floor(100/currentPanes.length) + '%' : null"
                  :scrollable="false">
          <div class="bbn-overlay bbn-flex-height bbn-router-nav">
            <!-- PANE TABS -->
            <bbn-tabs :scrollable="true"
                      :source="pane.tabs"
                      :key="pane.url"
                      :closable="false"
                      bbn-model="pane.selected"
                      bbn-if="routed"
                      @change="selectPaneTab(pane)"
                      :limit="5"/>
            <!-- PANE CONTENT -->
            <div class="bbn-flex-fill">
              <div bbn-for="(tab, tabIndex) in pane.tabs"
                   class="bbn-overlay"
                   bbn-show="pane.selected === tabIndex"
                   @hook:create="onCreatePaneContainer($event, pane.id + '-' + tab.uid)"/>
            </div>
          </div>
        </bbn-pane>
      </bbn-splitter>

    </bbn-pane>
  </bbn-splitter>
</div>